Repository Royal-Navy/design-system, pull requests merged in 2020-12, with the labels that each got.

#1737 fix(DocsSite): Update outdated Compound Timeline example
  packages/docs-site/gatsby-config.js
  packages/docs-site/package.json
  packages/docs-site/src/components/presenters/example-timeline.js
  packages/docs-site/src/library/pages/timeline/index.md
  yarn.lock
Labels: Package: docs-site, Type: Bug

#1740 Add Storybook source add on
  packages/react-component-library/.storybook/main.js
  packages/react-component-library/package.json
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement

#1739 docs(IssueTemplate): Add minimal reproduction requirement
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Type: Documentation

#1703 refactor(SidebarE): Use partials for styled-components
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/Sidebar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarHandle.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNavItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNotifications.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarSubNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarUser.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarUserItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarWrapper.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledHandle.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledHead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledHeadIcon.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledHeadTitle.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNavItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNavItemIcon.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNavItemText.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNotificationDot.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNotificationsLabel.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNotificationsSheet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNotificationsSheetButton.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledSidebar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledSubNavSheet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledSubNavSheetButton.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledUser.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledUserAvatar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledUserItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledUserItemIcon.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledUserItemText.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledUserSheet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledUserSheetButton.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledUserText.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledWrapper.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.tsx
Labels: Package: react-component-library, Type: Enhancement

#1741 feat(ReactComponentLibrary): Prevent navigation away from Storybook
  packages/react-component-library/.eslintrc.js
  packages/react-component-library/src/components/PhaseBanner/PhaseBanner.stories.tsx
  packages/react-component-library/src/components/TabNav/TabNav.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/Sidebar.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/Sidebar.stories.tsx
Labels: Package: react-component-library, Type: Enhancement

#1742 Migrate Pagination to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_pagination.scss
  packages/react-component-library/src/components/Pagination/Pagination.test.tsx
  packages/react-component-library/src/components/Pagination/Pagination.tsx
  packages/react-component-library/src/components/Pagination/PaginationButton.tsx
  packages/react-component-library/src/components/Pagination/partials/StyledButton.tsx
  packages/react-component-library/src/components/Pagination/partials/StyledList.tsx
  packages/react-component-library/src/components/Pagination/partials/StyledListItem.tsx
Labels: Package: react-component-library, Type: Enhancement

#1745 ci(Circleci): Remove circleci config
  .circleci/config.yml
  README.md
Labels: Type: Devops

#1746 ci(GHA): Remove CRA from NPM smoketest
  .github/workflows/npmsmoketest.yml
Labels: Type: Devops

#1743 feat(DesignTokens): Expose tagged literal `bp` breakpoint selector
  packages/design-tokens/.eslintignore
  packages/design-tokens/.eslintrc.js
  packages/design-tokens/README.md
  packages/design-tokens/jest.config.js
  packages/design-tokens/package.json
  packages/design-tokens/prettier.config.js
  packages/design-tokens/src/__tests__/__snapshots__/selectors.test.tsx.snap
  packages/design-tokens/src/__tests__/selectors.test.tsx
  packages/design-tokens/src/formats/typescriptES6.js
  packages/design-tokens/src/getters.ts
  packages/design-tokens/src/selectors.ts
  packages/design-tokens/src/types.ts
  packages/react-component-library/package.json
  yarn.lock
Labels: Package: design-tokens, Type: Enhancement

#1757 fix(ReactComponentLibrary): Fix broken build
  packages/react-component-library/package.json
  packages/react-component-library/src/components/Dropdown/Dropdown.tsx
  packages/react-component-library/src/components/Select/Option.tsx
Labels: Package: react-component-library, Type: Bug

#1761 ci(GHA): Bump node version
  .github/workflows/release.yml
Labels: Type: Devops

#1763 ci(GHA): Rename workflow
  .github/workflows/build_and_test_master.yml
Labels: Type: Devops

#1764 ci(Docs): Change readme badge
  README.md
Labels: Type: Devops

#1744 refactor(Select): Leverage more of `components` from react-select
  packages/react-component-library/package.json
  packages/react-component-library/src/components/Badge/Badge.tsx
  packages/react-component-library/src/components/Select/Input.tsx
  packages/react-component-library/src/components/Select/Option.tsx
  packages/react-component-library/src/components/Select/Select.test.tsx
  packages/react-component-library/src/components/Select/Select.tsx
  packages/react-component-library/src/components/Select/SingleValue.tsx
  packages/react-component-library/src/components/Select/partials/StyledBadge.tsx
  packages/react-component-library/src/components/Select/partials/StyledControl.tsx
  packages/react-component-library/src/components/Select/partials/StyledIndicatorSeparator.tsx
  packages/react-component-library/src/components/Select/partials/StyledInput.tsx
  packages/react-component-library/src/components/Select/partials/StyledInputContainer.tsx
  packages/react-component-library/src/components/Select/partials/StyledLabel.tsx
  packages/react-component-library/src/components/Select/partials/StyledMenu.tsx
  packages/react-component-library/src/components/Select/partials/StyledMenuList.tsx
  packages/react-component-library/src/components/Select/partials/StyledOption.tsx
  packages/react-component-library/src/components/Select/partials/StyledOptionEndAdornment.tsx
  packages/react-component-library/src/components/Select/partials/StyledOptionLabel.tsx
  packages/react-component-library/src/components/Select/partials/StyledSingleValue.tsx
  packages/react-component-library/src/components/Select/partials/StyledValueContainer.tsx
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement

#1768 docs(Contributing): Remove redundant information
  docs/contributing.md
Labels: Type: Devops, Type: Enhancement

#1774 build(Lerna): Re-generate `CHANGELOG.md` files from start of time
  CHANGELOG.md
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/css-framework/CHANGELOG.md
  packages/design-tokens/CHANGELOG.md
  packages/docs-site/CHANGELOG.md
  packages/eslint-config-react/CHANGELOG.md
  packages/fonts/CHANGELOG.md
  packages/icon-library/CHANGELOG.md
  packages/react-component-library/CHANGELOG.md
Labels: Type: Bug, Type: Devops

#1770 feat(Drawer): Add ability to drill `ref`
  packages/docs-site/src/library/pages/components/drawer.md
  packages/react-component-library/src/components/Drawer/Drawer.test.tsx
  packages/react-component-library/src/components/Drawer/Drawer.tsx
Labels: Exemplar: LT, Package: react-component-library, Type: Enhancement

#1785 build(ReleaseWorkflow): Fix release note generation
  .github/workflows/release.yml
  CHANGELOG.md
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/css-framework/CHANGELOG.md
  packages/design-tokens/CHANGELOG.md
  packages/docs-site/CHANGELOG.md
  packages/eslint-config-react/CHANGELOG.md
  packages/fonts/CHANGELOG.md
  packages/icon-library/CHANGELOG.md
  packages/react-component-library/CHANGELOG.md
Labels: Type: Bug, Type: Devops

#1777 feat(ContextMenu): Prevent padding without icons
  packages/react-component-library/src/components/ContextMenu/ContextMenu.stories.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.test.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenuDivider.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenuItem.tsx
  packages/react-component-library/src/components/ContextMenu/partials/StyledContextMenu.tsx
  packages/react-component-library/src/components/ContextMenu/partials/StyledContextMenuDivider.tsx
  packages/react-component-library/src/components/ContextMenu/partials/StyledContextMenuItem.tsx
  packages/react-component-library/src/components/ContextMenu/partials/StyledIcon.tsx
  packages/react-component-library/src/components/ContextMenu/partials/StyledText.tsx
Labels: Package: react-component-library, Type: Enhancement

#1786 feat(ContextMenu): Add ability to open on Left click
  packages/react-component-library/src/components/ContextMenu/ContextMenu.stories.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.test.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.tsx
  packages/react-component-library/src/hooks/useClickMenu.ts
  packages/react-component-library/src/hooks/useRightClick.ts
Labels: Package: react-component-library, Type: Enhancement

#1789 feat(Badge): Migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_badge.scss
  packages/css-framework/src/components/_phase-banner.scss
  packages/react-component-library/src/components/Badge/Badge.stories.tsx
  packages/react-component-library/src/components/Badge/Badge.test.tsx
  packages/react-component-library/src/components/Badge/Badge.tsx
  packages/react-component-library/src/components/Badge/partials/StyledBadge.tsx
  packages/react-component-library/src/components/Badge/types.ts
  packages/react-component-library/src/components/PhaseBanner/PhaseBanner.tsx
Labels: Package: react-component-library, Type: Enhancement

#1793 feat(DatePicker): Add ability to customise format
  packages/docs-site/src/components/presenters/data-table/table-cell.js
  packages/docs-site/src/library/pages/components/date-picker.md
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
Labels: Exemplar: MS, Exemplar: RS, Package: react-component-library, Type: Enhancement
