Repository Royal-Navy/design-system, pull requests merged in 2020-10, with the labels that each got.

#1488 feat(ContextMenu): Create base component
  packages/docs-site/src/library/pages/components/context-menu.md
  packages/react-component-library/src/components/ContextMenu/ContextMenu.stories.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.test.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenuDivider.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenuItem.tsx
  packages/react-component-library/src/components/ContextMenu/index.ts
  packages/react-component-library/src/components/ContextMenu/useRightClick.ts
  packages/react-component-library/src/components/Select/Input.test.tsx
  packages/react-component-library/src/index.ts
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement

#1517 ci(Circle): Increase timeout for visual regression job
  .circleci/config.yml
Labels: Type: Devops

#1501 feat(Timeline): Remove unwanted sidebar labels
  packages/react-component-library/src/components/Timeline/TimelineHeaderRow.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/TimelineRow.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
Labels: Package: react-component-library, Type: Enhancement

#1519 ci(GHA): Project automation for issues
  .github/workflows/issues_to_candidates.yml
Labels: Type: Devops

#1523 ci(GHA): Update issues token
  .github/workflows/issues_to_candidates.yml
Labels: Type: Devops

#1518 fix(Timeline): Resolve daylight savings offset issue
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/TimelineTodayMarker.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/hooks/useTimelinePosition.ts
Labels: Package: react-component-library, Type: Bug

#1527 refactor(ContextMenu): Move `useRightClick` hook
  packages/react-component-library/src/components/ContextMenu/ContextMenu.tsx
  packages/react-component-library/src/hooks/useRightClick.ts
Labels: Package: react-component-library, Type: Enhancement

#1511 Fix NumberInput with unit and user keyboard input
  packages/css-framework/src/components/_numberinput.scss
  packages/react-component-library/jest/setupTests.js
  packages/react-component-library/package.json
  packages/react-component-library/src/components/NumberInput/EndAdornment.tsx
  packages/react-component-library/src/components/NumberInput/Input.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.test.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
  packages/react-component-library/src/components/NumberInput/NumberInputUnit.tsx
  packages/react-component-library/src/components/NumberInput/useInputText.ts
  packages/react-component-library/src/components/NumberInput/useValue.ts
  yarn.lock
Labels: Exemplar: MS, Package: react-component-library, Type: Bug

#1549 Latest back into master
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2, Type: Devops

#1559 fix(NumberInput): Round down offset calculation
  packages/react-component-library/src/components/NumberInput/useInputText.ts
Labels: Package: react-component-library, Type: Bug

#1562 feat(Select): Document `isDisabled` prop
  packages/docs-site/src/library/pages/components/form/select.md
Labels: Package: docs-site, Type: Bug

#1558 fix(Dropdown): Fix broken icons story
  packages/react-component-library/src/components/Dropdown/Dropdown.stories.tsx
  packages/react-component-library/src/components/NumberInput/useInputText.ts
Labels: Package: react-component-library, Type: Bug

#1571 fix(RangeSlider): Only invoke `onUpdate` if provided
  packages/react-component-library/src/components/RangeSlider/RangeSlider.test.tsx
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
Labels: Package: react-component-library, Type: Bug

#1570 docs(RangeSlider): Fix typo
  packages/docs-site/src/library/pages/components/range-slider.md
Labels: Package: docs-site, Type: Bug, Type: Documentation

#1547 feat(NumberInput): Migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_numberinput.scss
  packages/react-component-library/src/common/InputValidationProps.ts
  packages/react-component-library/src/components/NumberInput/EndAdornment.tsx
  packages/react-component-library/src/components/NumberInput/EndAdornmentButton.tsx
  packages/react-component-library/src/components/NumberInput/Input.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.stories.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.test.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
  packages/react-component-library/src/components/NumberInput/NumberInputUnit.tsx
  packages/react-component-library/src/components/NumberInput/StartAdornment.tsx
  packages/react-component-library/src/components/NumberInput/useFocus.ts
  packages/react-component-library/src/enhancers/withFormik.tsx
Labels: Package: react-component-library, Type: Enhancement

#1569 feat(Sheet): Update styling and migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_masthead.scss
  packages/css-framework/src/components/top-level-navigation/_sheet.scss
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/Sheet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/SheetButton.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/sheetPosition.ts
Labels: Package: react-component-library, Type: Enhancement

#1583 test(Sheet): Fix broken test
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/sheetPosition.test.ts
Labels: Package: react-component-library, Type: Bug

#1567 feat(Tooltip): Update styling and migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_tooltip.scss
  packages/react-component-library/src/components/Tooltip/Tooltip.test.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.tsx
Labels: Package: react-component-library, Type: Enhancement

#1589 ci(CodeOwners): Update to use correct syntax
  .github/CODEOWNERS
Labels: Type: Bug, Type: Devops

#1584 Fix shrinking of label when there is a unit
  packages/react-component-library/src/components/NumberInput/Input.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.stories.tsx
  packages/react-component-library/src/components/NumberInput/NumberInputUnit.tsx
Labels: Package: react-component-library, Type: Bug

#1582 Fix NumberInput visual regression test reliability
  packages/react-component-library/src/components/NumberInput/EndAdornmentButton.tsx
  packages/react-component-library/src/components/NumberInput/Footnote.tsx
  packages/react-component-library/src/components/NumberInput/Input.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
  packages/react-component-library/src/components/NumberInput/NumberInputUnit.tsx
  packages/react-component-library/src/components/NumberInput/StartAdornment.tsx
  packages/react-component-library/src/components/NumberInput/useInputText.ts
Labels: Package: react-component-library, Type: Bug

#1572 Migrate Dropdown to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_dropdown.scss
  packages/react-component-library/src/components/Dropdown/Dropdown.tsx
  packages/react-component-library/src/components/Dropdown/DropdownIndicator.tsx
  packages/react-component-library/src/components/Dropdown/DropdownLabel.tsx
Labels: Package: react-component-library, Type: Enhancement

#1586 fix(Timeline): Render events beyond range
  packages/docs-site/src/library/pages/timeline/index.md
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/TimelineTodayMarker.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/hooks/useTimelinePosition.ts
Labels: Package: react-component-library, Type: Bug

#1536 feat(SidebarE): Implement new experimental Sidebar
  packages/css-framework/src/components/top-level-navigation/_sheet.scss
  packages/docs-site/src/library/pages/components/sidebar_experimental.md
  packages/react-component-library/package.json
  packages/react-component-library/src/common/Nav.ts
  packages/react-component-library/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/Sheet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/constants.ts
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/sheetPosition.test.ts
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/sheetPosition.ts
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/Sidebar.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/Sidebar.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/Sidebar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarHandle.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNavItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNotifications.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarSubNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarUser.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarUserItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarWrapper.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/constants.ts
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/context.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/index.ts
  packages/react-component-library/src/index.ts
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement

#1590 feat(NumberInput): Add clear button
  packages/docs-site/src/library/pages/components/form/number-input.md
  packages/react-component-library/src/components/NumberInput/ClearButton.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.stories.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.test.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
Labels: Exemplar: FB, Exemplar: MS, Package: react-component-library, Type: Enhancement

#1603 fix(SidebarE): Rename and export
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/Sidebar.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/Sidebar.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/Sidebar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNavItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarSubNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarUser.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarUserItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarWrapper.tsx
  packages/react-component-library/src/index.ts
Labels: Package: react-component-library, Type: Bug

#1600 Add dropdown label icon
  packages/docs-site/src/library/pages/components/dropdown.md
  packages/react-component-library/src/components/Dropdown/Dropdown.stories.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.test.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.tsx
  packages/react-component-library/src/components/Dropdown/DropdownIndicator.tsx
  packages/react-component-library/src/components/Dropdown/DropdownLabel.test.tsx
  packages/react-component-library/src/components/Dropdown/DropdownLabel.tsx
  packages/react-component-library/src/components/Dropdown/DropdownPlaceholder.tsx
Labels: Exemplar: MS, Type: Enhancement
