Repository Royal-Navy/design-system, pull requests merged in 2020-09, with the labels that each got.

#1382 ci(Gha): Fix visual regression step
  .github/workflows/build_and_test_feature.yml
Labels: Type: Devops

#1395 chore(Security): Resolve latest `bl`
  package.json
  yarn.lock
Labels: Type: Devops

#1397 Update accessibility statement
  packages/docs-site/src/components/presenters/footer/index.js
  packages/docs-site/src/library/accessibility.md
  packages/docs-site/src/library/pages/accessibility.md
Labels: Package: docs-site, Type: Accessibility, Type: Enhancement

#1383 Update Timeline accessibility
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/TimelineRows.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
Labels: Exemplar: LT, Type: Accessibility

#1402 fix(DatePicker): Prevent warning with empty initial value
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
Labels: Package: react-component-library, Type: Bug

#1401 feat(DatePicker): Add ability to disable days
  packages/css-framework/src/components/_date-picker.scss
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
Labels: Package: react-component-library, Type: Enhancement

#1400 ci(Gha): Add design-tokens to workflow
  .github/workflows/build_and_test_feature.yml
Labels: Type: Devops

#1370 feat(DesignTokens): Create and consume `@royalnavy/design-tokens` package
  .circleci/config.yml
  package.json
  packages/css-framework/package.json
  packages/css-framework/src/_config.scss
  packages/css-framework/src/abstracts/functions/_shadow.scss
  packages/css-framework/src/base/_fonts.scss
  packages/css-framework/src/contexts/_light.scss
  packages/css-framework/src/entrypoints/base.scss
  packages/css-framework/src/entrypoints/utilities.scss
  packages/css-framework/src/utilities/_clearfix.scss
  packages/css-framework/src/utilities/_flex.scss
  packages/css-framework/src/utilities/_position.scss
  packages/css-framework/src/utilities/_shadows.scss
  packages/css-framework/src/utilities/_sizing.scss
  packages/css-framework/src/utilities/_spacing.scss
  packages/css-framework/src/utilities/_typography.scss
  packages/css-framework/src/utilities/_visibility.scss
  packages/css-framework/src/vars/_breakpoints.scss
  packages/css-framework/src/vars/_spacing.scss
  packages/css-framework/src/vars/_state.scss
  packages/css-framework/src/vars/_timing.scss
  packages/design-tokens/.gitignore
  packages/design-tokens/README.md
  packages/design-tokens/build.js
  packages/design-tokens/config.json
  packages/design-tokens/package.json
  packages/design-tokens/src/templates/mapDeepDoubleQuotes.template
  packages/design-tokens/src/templates/typings/es6.template
  packages/design-tokens/src/tokens/animation.json
  packages/design-tokens/src/tokens/breakpoints.json
  packages/design-tokens/src/tokens/colours.json
  packages/design-tokens/src/tokens/shadows.json
  packages/design-tokens/src/tokens/spacing.json
  packages/design-tokens/src/tokens/typography.json
  packages/design-tokens/src/tokens/zindex.json
  yarn.lock
Labels: Package: css-framework, Package: design-tokens, Package: react-component-library, Type: Enhancement

#1408 fix(TextArea): Remove rogue z-index
  packages/css-framework/src/components/_textarea.scss
Labels: Package: react-component-library, Type: Bug

#1410 ci(DesignTokens): Add circleci build step
  .circleci/config.yml
Labels: Package: design-tokens, Type: Devops

#1411 ci(DesignTokens): Persist explicit paths for packages
  .circleci/config.yml
Labels: Package: design-tokens, Type: Devops

#1413 ci(DesignTokens): Combine pre-requisite build jobs
  .circleci/config.yml
Labels: Package: design-tokens, Type: Devops

#1418 ci(Chromatic): Upgrade to `5.1.0`
  packages/react-component-library/.gitignore
  packages/react-component-library/package.json
  yarn.lock
Labels: Type: Devops

#1420 ci(DesignTokens): Publish before css-framework
  .circleci/config.yml
Labels: Type: Devops

#1421 Integrate a11y checks with CI
  .github/workflows/build_and_test_feature.yml
  packages/css-framework/src/components/_checkbox.scss
  packages/css-framework/src/components/_date-picker.scss
  packages/css-framework/src/components/_form.scss
  packages/css-framework/src/components/_numberinput.scss
  packages/css-framework/src/components/_radio.scss
  packages/css-framework/src/components/_textarea.scss
  packages/css-framework/src/components/_textinput.scss
  packages/icon-library/.svgrrc.js
  packages/icon-library/package.json
  packages/react-component-library/jest.config.js
  packages/react-component-library/package.json
  packages/react-component-library/src/a11y/index.test.tsx
  packages/react-component-library/src/components/Alert/Alert.test.tsx
  packages/react-component-library/src/components/Alert/Alert.tsx
  packages/react-component-library/src/components/DataList/DataList.stories.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerInput.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.test.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.tsx
  packages/react-component-library/src/components/Modal/Modal.test.tsx
  packages/react-component-library/src/components/Modal/Modal.tsx
  packages/react-component-library/src/components/Nav/Nav.stories.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.test.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
  packages/react-component-library/src/components/NumberInput/useValue.ts
  packages/react-component-library/src/components/RangeSlider/Handle.tsx
  packages/react-component-library/src/components/RangeSlider/RangeSlider.test.tsx
  packages/react-component-library/src/components/TabSet/ScrollButton.tsx
  packages/react-component-library/src/components/TabSet/TabContent.tsx
  packages/react-component-library/src/components/TabSet/TabSet.test.tsx
  packages/react-component-library/src/components/TextInput/TextInput.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  yarn.lock
Labels: Package: react-component-library, Type: Accessibility, Type: Devops

#1425 fix(CI): Run test scripts
  .circleci/config.yml
Labels: Type: Bug, Type: Devops

#1428 feat(RangeSlider): Threshold and multiple handle enhancements
  packages/css-framework/src/components/_range-slider.scss
  packages/react-component-library/src/components/RangeSlider/Handle.tsx
  packages/react-component-library/src/components/RangeSlider/RangeSlider.stories.tsx
  packages/react-component-library/src/components/RangeSlider/RangeSlider.test.tsx
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
  packages/react-component-library/src/components/RangeSlider/Tick.tsx
  packages/react-component-library/src/components/RangeSlider/useThresholdClasses.ts
Labels: Package: react-component-library, Type: Bug, Type: Enhancement

#1394 ci(Gha): Migrate deploy next workflow
  .circleci/config.yml
  .github/workflows/build_and_test_feature.yml
  .github/workflows/build_test_and_deploy_next.yml
Labels: Type: Devops

#1439 fix(CI): Build & deploy next
  .circleci/config.yml
  .github/workflows/build_test_and_deploy_next.yml
Labels: Type: Devops

#1442 ci(GHA): Revert deploy next workflow
  .circleci/config.yml
  .github/workflows/build_test_and_deploy_next.yml
Labels: Type: Devops

#1440 chore(Security): Resolve node-fetch
  package.json
  yarn.lock
Labels: Package: react-component-library, Type: Devops, Type: Security

#1448 docs(Timeline): Fix typo
  packages/docs-site/src/library/pages/timeline/index.md
Labels: Package: docs-site, Type: Bug

#1447 ci(GHA): Add design-tokens to npmsmoketest
  .github/workflows/npmsmoketest.yml
Labels: Type: Devops

#1434 feat(RangeSlider): Improve keyboard control
  packages/react-component-library/src/components/RangeSlider/Handle.tsx
  packages/react-component-library/src/components/RangeSlider/RangeSlider.test.tsx
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Bug

#1452 Release/2.14.0
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2, Type: Devops

#1454 Latest back into master
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2, Type: Devops

#1455 fix(RangeSlider): Set correct handle `tabIndex`
  packages/react-component-library/src/components/RangeSlider/Handle.tsx
  packages/react-component-library/src/components/RangeSlider/RangeSlider.test.tsx
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Bug

#1435 Add `TimelineHours` to display hour blocks in `Timeline`
  packages/css-framework/src/components/_timeline.scss
  packages/docs-site/src/library/pages/timeline/index.md
  packages/docs-site/src/templates/framework.js
  packages/react-component-library/src/components/Timeline/README.md
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineHour.tsx
  packages/react-component-library/src/components/Timeline/TimelineHours.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/constants.ts
  packages/react-component-library/src/components/Timeline/context/__tests__/reducer.test.ts
  packages/react-component-library/src/components/Timeline/context/reducer.ts
  packages/react-component-library/src/components/Timeline/context/state.ts
  packages/react-component-library/src/components/Timeline/context/types.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelinePosition.ts
  packages/react-component-library/src/components/Timeline/index.ts
Labels: Exemplar: LT, Package: react-component-library, Type: Enhancement

#1469 fix(Docs): Update Netlify team name
  docs/deploy_documentation.md
Labels: Type: Documentation

#1465 fix(DatePicker): Ensure `en-GB` is used for format
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/constants.ts
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/constants.ts
Labels: Package: react-component-library, Type: Bug

#1472 fix(IconLibrary): Ensure dependency is installed downstream
  packages/icon-library/package.json
Labels: Package: icon-library, Type: Bug

#1473 Release/2.15.0
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2, Type: Devops

#1474 Latest back into master
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2, Type: Devops

#1468 feat(Timeline): Migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_timeline.scss
  packages/docs-site/src/library/pages/timeline/index.md
  packages/react-component-library/.babelrc
  packages/react-component-library/babel.config.js
  packages/react-component-library/jest.config.js
  packages/react-component-library/package.json
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineDay.tsx
  packages/react-component-library/src/components/Timeline/TimelineDays.tsx
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/TimelineHeaderRow.tsx
  packages/react-component-library/src/components/Timeline/TimelineHour.tsx
  packages/react-component-library/src/components/Timeline/TimelineHours.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonth.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/TimelineRow.tsx
  packages/react-component-library/src/components/Timeline/TimelineRows.tsx
  packages/react-component-library/src/components/Timeline/TimelineTodayMarker.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeek.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeeks.tsx
  packages/react-component-library/src/components/Timeline/constants.ts
  packages/react-component-library/webpack/common.js
  yarn.lock
Labels: Package: css-framework, Package: design-tokens, Package: react-component-library, Type: Enhancement

#1477 fix(Timeline): Allow arbitrary event `children`
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
Labels: Package: react-component-library, Type: Bug

#1476 feat(DesignTokens): Supplement with getters
  packages/design-tokens/.gitignore
  packages/design-tokens/README.md
  packages/design-tokens/babel.config.js
  packages/design-tokens/build-dictionary.js
  packages/design-tokens/config.json
  packages/design-tokens/package.json
  packages/design-tokens/src/formats/mapDeepDoubleQuotes.template
  packages/design-tokens/src/formats/typescriptES6.js
  packages/design-tokens/src/getters.ts
  packages/design-tokens/src/index.ts
  packages/design-tokens/src/selectors.ts
  packages/design-tokens/src/templates/typings/es6.template
  packages/design-tokens/src/types.ts
  packages/design-tokens/tsconfig.json
  packages/design-tokens/webpack/common.js
  packages/design-tokens/webpack/prod.js
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineDay.tsx
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/TimelineHour.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonth.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/TimelineRow.tsx
  packages/react-component-library/src/components/Timeline/TimelineRows.tsx
  packages/react-component-library/src/components/Timeline/TimelineTodayMarker.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeek.tsx
  packages/react-component-library/src/components/Timeline/constants.ts
  yarn.lock
Labels: Package: design-tokens, Type: Enhancement

#1479 fix(DatePicker): Fix range selection
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
Labels: Exemplar: MSP, Package: react-component-library, Type: Bug
