Repository Royal-Navy/design-system, pull requests merged in 2020-06, with the labels that each got.

#1014 fix(Select): Add ability to drill data-testid
  packages/react-component-library/src/components/Select/Input.tsx
  packages/react-component-library/src/components/Select/Select.test.tsx
Labels: Package: react-component-library, Type: Bug

#1024 Fix extra ellipsis when moving between page numbers in pagination
  packages/react-component-library/src/components/Pagination/Pagination.test.tsx
  packages/react-component-library/src/components/Pagination/Pagination.tsx
  packages/react-component-library/src/components/Pagination/usePageChange.tsx
Labels: Package: react-component-library, Type: Bug, Type: Component

#991 feat(DocsSite): Add Timeline framework docs
  packages/css-framework/index.scss
  packages/css-framework/src/_config.scss
  packages/css-framework/src/base/_fonts.scss
  packages/css-framework/src/components/_timeline.scss
  packages/docs-site/gatsby-node.js
  packages/docs-site/package.json
  packages/docs-site/src/components/presenters/card/_card.scss
  packages/docs-site/src/components/presenters/code-highlighter/_theme.scss
  packages/docs-site/src/components/presenters/example-timeline.js
  packages/docs-site/src/components/presenters/post-article/_post-article.scss
  packages/docs-site/src/index.scss
  packages/docs-site/src/library/images/components/timeline/layouts.svg
  packages/docs-site/src/library/pages/timeline/index.md
  packages/docs-site/src/templates/default.js
  packages/docs-site/src/templates/default.scss
  packages/docs-site/src/templates/framework.js
  packages/docs-site/src/templates/framework.scss
  packages/docs-site/src/templates/home.scss
  packages/fonts/index.css
  yarn.lock
Labels: Package: docs-site, Type: Documentation

#1033 Add condensed variation of NumberInput
  packages/css-framework/src/components/_numberinput.scss
  packages/react-component-library/src/components/NumberInput/EndAdornment.tsx
  packages/react-component-library/src/components/NumberInput/EndAdornmentButton.tsx
  packages/react-component-library/src/components/NumberInput/Input.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.stories.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
Labels: Exemplar: FB, Type: Enhancement

#1081 fix(Timeline): Add missing `range` prop
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
Labels: Package: react-component-library, Type: Bug

#1036 feat(Accessibility): Associate error with field
  packages/docs-site/src/library/pages/components/form/checkbox.md
  packages/docs-site/src/library/pages/components/form/radio.md
  packages/react-component-library/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-component-library/src/components/Checkbox/Checkbox.test.tsx
  packages/react-component-library/src/components/FormikGroup/FormikGroup.test.tsx
  packages/react-component-library/src/components/FormikGroup/FormikGroup.tsx
  packages/react-component-library/src/components/FormikGroup/index.ts
  packages/react-component-library/src/components/Radio/Radio.stories.tsx
  packages/react-component-library/src/components/Radio/Radio.test.tsx
  packages/react-component-library/src/components/Radio/Radio.tsx
  packages/react-component-library/src/components/TextArea/TextArea.test.tsx
  packages/react-component-library/src/components/TextInput/TextInput.stories.tsx
  packages/react-component-library/src/components/TextInput/TextInput.test.tsx
  packages/react-component-library/src/components/TextInput/TextInput.tsx
  packages/react-component-library/src/enhancers/withFormik.tsx
  packages/react-component-library/src/index.ts
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1086 Fix broken release note generation
  CHANGELOG.md
  package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
  scripts/release-notes/fix-links.js
Labels: Type: Bug, Type: Devops

#1093 fix(Formik): Move to `dependencies`
  packages/react-component-library/package.json
Labels: Package: react-component-library, Type: Bug

#1120 fix(Build): Remove unused flag with typo
  packages/icon-library/package.json
  packages/react-component-library/package.json
Labels: Package: icon-library, Package: react-component-library, Type: Bug, Type: Devops

#1108 Add unit to NumberInput
  packages/react-component-library/src/components/NumberInput/Input.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.stories.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.test.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
  packages/react-component-library/src/components/NumberInput/constants.ts
  packages/react-component-library/src/components/NumberInput/index.ts
Labels: Exemplar: FP, Package: react-component-library, Type: Enhancement

#1124 Fix collapsible DataList expand in legacy browsers
  packages/css-framework/index.scss
  packages/css-framework/src/base/_dev.scss
  packages/css-framework/src/components/_btn.scss
  packages/css-framework/src/components/_data-list.scss
  packages/css-framework/src/components/_timeline.scss
  packages/css-framework/src/objects/_floating-box.scss
Labels: Package: react-component-library, Type: Bug

#1139 fix(DatePicker): Adjust placement positioning
  packages/react-component-library/src/components/DatePicker/constants.ts
Labels: Package: react-component-library, Type: Bug

#1142 ci: Streamline commit checks
  .circleci/config.yml
Labels: Type: Devops

#1141 fix(DatePicker): Make dropdown button open/close picker
  packages/css-framework/src/components/_date-picker.scss
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/Input.tsx
  packages/react-component-library/src/components/DatePicker/useOpenClose.ts
Labels: Package: react-component-library, Type: Bug

#1123 feat(RangeSlider): Add threshold functionality
  packages/css-framework/src/components/_range-slider.scss
  packages/docs-site/src/library/pages/components/range-slider.md
  packages/react-component-library/src/components/RangeSlider/RangeSlider.stories.tsx
  packages/react-component-library/src/components/RangeSlider/RangeSlider.test.tsx
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
  packages/react-component-library/src/components/RangeSlider/ThresholdTrack.tsx
  packages/react-component-library/src/components/RangeSlider/index.ts
Labels: Package: react-component-library, Type: Enhancement

#1143 Add dismissible banner
  packages/css-framework/index.scss
  packages/css-framework/src/components/_dismissable-banner.scss
  packages/docs-site/src/library/pages/components/dismissable-banner.md
  packages/react-component-library/src/components/DismissibleBanner/DismissableBanner.stories.tsx
  packages/react-component-library/src/components/DismissibleBanner/DismissableBanner.test.tsx
  packages/react-component-library/src/components/DismissibleBanner/DismissableBanner.tsx
  packages/react-component-library/src/components/DismissibleBanner/index.ts
  packages/react-component-library/src/index.ts
Labels: Exemplar: FP, Type: Enhancement

#1151 fix(Timeline): Remove end date extension
  packages/react-component-library/src/components/Timeline/hooks/useTimelinePosition.ts
Labels: Package: react-component-library, Type: Bug

#1163 ci(Pipeline): Refactor icon library build
  .circleci/config.yml
Labels: Type: Devops
