Repository Royal-Navy/design-system, pull requests merged in 2020-11, with the labels that each got.

#1604 Add ability to hide/show Popover
  packages/docs-site/src/library/pages/components/popover.md
  packages/react-component-library/src/components/Popover/Popover.stories.tsx
  packages/react-component-library/src/components/Popover/Popover.test.tsx
  packages/react-component-library/src/components/Popover/Popover.tsx
  packages/react-component-library/src/components/Popover/useHideShow.ts
  packages/react-component-library/src/hooks/useDocumentClick.ts
Labels: Package: react-component-library, Type: Enhancement

#1615 docs(SidebarE): Add developer documentation
  packages/docs-site/src/library/pages/components/sidebar_experimental.md
Labels: Package: docs-site, Type: Documentation

#1621 fix(RangeSlider): Fix rail positioning
  packages/css-framework/src/components/_range-slider.scss
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
Labels: Package: react-component-library, Type: Bug

#1618 feat(Popover): Use styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_popover.scss
  packages/docs-site/gatsby-config.js
  packages/docs-site/package.json
  packages/react-component-library/jest.config.js
  packages/react-component-library/jest/setupTests.js
  packages/react-component-library/package.json
  packages/react-component-library/src/components/Popover/Popover.test.tsx
  packages/react-component-library/src/components/Popover/Popover.tsx
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement

#1628 Migrate FloatingBox to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/objects/_floating-box.scss
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.stories.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBoxContent.tsx
  packages/react-component-library/src/primitives/FloatingBox/types.ts
Labels: Package: react-component-library, Type: Enhancement

#1631 fix(CRATemplateRoyalNavy): Add missing deps
  packages/cra-template-royalnavy/template.json
  packages/cra-template-royalnavy/template/src/serviceWorker.ts
  packages/cra-template-royalnavy/template/src/setupTests.ts
Labels: Package: cra-template-royalnavy, Type: Bug

#1626 refactor(RangeSlider): Migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_range-slider.scss
  packages/react-component-library/package.json
  packages/react-component-library/src/components/RangeSlider/Handle.tsx
  packages/react-component-library/src/components/RangeSlider/RangeSlider.test.tsx
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
  packages/react-component-library/src/components/RangeSlider/ThresholdTrack.tsx
  packages/react-component-library/src/components/RangeSlider/Tick.tsx
  packages/react-component-library/src/components/RangeSlider/Track.tsx
  packages/react-component-library/src/components/RangeSlider/constants.ts
  packages/react-component-library/src/components/RangeSlider/useThresholdClasses.ts
  packages/react-component-library/src/components/RangeSlider/useThresholdColor.ts
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement

#1636 Release/2.17.0
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2, Type: Devops

#1638 Latest back into master
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2, Type: Devops

#1641 fix(ReactComponentLibrary): Prevent `isInvalid` prop drill to DOM node
  packages/react-component-library/src/components/Checkbox/Checkbox.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
  packages/react-component-library/src/components/Radio/Radio.tsx
  packages/react-component-library/src/components/Select/Select.tsx
  packages/react-component-library/src/components/Switch/Switch.tsx
  packages/react-component-library/src/components/TextArea/TextArea.tsx
  packages/react-component-library/src/components/TextInput/TextInput.tsx
Labels: Package: react-component-library, Type: Bug

#1643 Convert TextArea to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_textarea.scss
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
  packages/react-component-library/src/components/TextArea/TextArea.test.tsx
  packages/react-component-library/src/components/TextArea/TextArea.tsx
  packages/react-component-library/src/helpers.ts
Labels: Package: react-component-library, Type: Enhancement

#1651 ci(GHA): Add update epics action
  .github/workflows/update_epics.yml
Labels: Type: Devops

#1644 fix(Popover): Prevent hidden Popover blocking covered content
  packages/react-component-library/src/components/Popover/Popover.test.tsx
  packages/react-component-library/src/components/Popover/Popover.tsx
Labels: Package: react-component-library, Type: Bug

#1653 ci(GHA): Update upnext action to use forked repo
  .github/workflows/upnext.yml
Labels: Type: Devops

#1654 fix(Dropdown): Fix label in ie 11
  packages/react-component-library/src/components/Dropdown/Dropdown.tsx
Labels: Package: react-component-library, Type: Bug

#1664 Release/2.18.0
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2, Type: Devops

#1665 Latest back into master
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2, Type: Devops

#1632 refactor(DatePicker): Migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_date-picker.scss
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerInput.tsx
  packages/react-component-library/src/components/DatePicker/useOpenClose.ts
Labels: Package: react-component-library, Type: Enhancement

#1655 Fix timeline row accessibility
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/TimelineNoData.tsx
  packages/react-component-library/src/components/Timeline/TimelineRow.tsx
  packages/react-component-library/src/components/Timeline/TimelineRows.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/hooks/useTimelineRowContent.ts
Labels: Exemplar: LT, Package: react-component-library, Type: Accessibility, Type: Bug

#1668 fix(Timeline): Correct row column background mismatch
  packages/react-component-library/src/components/Timeline/TimelineRows.tsx
Labels: Package: react-component-library, Type: Bug

#1669 fix(RangeSlider): Fix some styled-components warnings
  packages/react-component-library/src/components/RangeSlider/Handle.tsx
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
  packages/react-component-library/src/components/RangeSlider/ThresholdTrack.tsx
Labels: Package: react-component-library, Type: Bug

#1662 feat(Select): Add ability to display `icon`
  packages/docs-site/src/library/pages/components/form/select.md
  packages/react-component-library/src/components/Select/Option.tsx
  packages/react-component-library/src/components/Select/Select.stories.tsx
  packages/react-component-library/src/components/Select/Select.test.tsx
Labels: Package: react-component-library, Type: Enhancement

#1667 test(ReactComponentLibrary): Catch React runtime console errors in Jest
  packages/react-component-library/jest/setupTests.js
  packages/react-component-library/src/components/Checkbox/Checkbox.tsx
  packages/react-component-library/src/components/CheckboxEnhanced/CheckboxEnhanced.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.test.tsx
  packages/react-component-library/src/components/Nav/Nav.tsx
  packages/react-component-library/src/components/Radio/Radio.tsx
  packages/react-component-library/src/components/RadioEnhanced/RadioEnhanced.tsx
  packages/react-component-library/src/enhancers/__tests__/withFormik.test.tsx
  packages/react-component-library/tsconfig.json
Labels: Package: react-component-library, Type: Devops

#1677 chore(DocsSite): Add survey link to masthead
  packages/docs-site/src/components/presenters/Masthead/index.js
Labels: Package: docs-site, Type: Documentation

#1670 Fix NumberInput borders
  packages/react-component-library/src/components/DatePicker/DatePickerInput.tsx
  packages/react-component-library/src/components/NumberInput/ClearButton.tsx
  packages/react-component-library/src/components/NumberInput/EndAdornmentButton.tsx
  packages/react-component-library/src/components/NumberInput/Input.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
  packages/react-component-library/src/components/NumberInput/NumberInputUnit.tsx
  packages/react-component-library/src/components/TextArea/TextArea.tsx
  packages/react-component-library/src/components/TextInput/TextInput.tsx
  packages/react-component-library/src/hooks/useFocus.ts
  packages/react-component-library/src/styled-components/index.ts
  packages/react-component-library/src/styled-components/input.ts
Labels: Exemplar: MS, Package: react-component-library, Type: Bug

#1678 feat(Checkbox): Expose input checked prop
  packages/docs-site/src/library/pages/components/form/checkbox.md
  packages/react-component-library/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-component-library/src/components/Checkbox/Checkbox.test.tsx
  packages/react-component-library/src/components/Checkbox/Checkbox.tsx
Labels: Package: react-component-library, Type: Enhancement

#1681 Release/2.19.0
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2, Type: Devops

#1682 Latest back into master
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2, Type: Devops

#1685 docs(Timeline): Swap `dayWidth` reference
  packages/docs-site/src/library/pages/timeline/index.md
Labels: Package: react-component-library, Type: Documentation

#1686 feat(Pagination): Expose `initialPage` prop
  packages/docs-site/src/library/pages/components/pagination.md
  packages/react-component-library/src/components/Pagination/Pagination.stories.tsx
  packages/react-component-library/src/components/Pagination/Pagination.test.tsx
  packages/react-component-library/src/components/Pagination/Pagination.tsx
Labels: Package: react-component-library, Type: Bug

#1680 refactor(Checkbox): Migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_checkbox.scss
  packages/react-component-library/src/components/Checkbox/Checkbox.tsx
Labels: Package: react-component-library, Type: Enhancement

#1683 feat(Select): Convert to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_select.scss
  packages/react-component-library/src/components/Select/Input.test.tsx
  packages/react-component-library/src/components/Select/Input.tsx
  packages/react-component-library/src/components/Select/Option.test.tsx
  packages/react-component-library/src/components/Select/Option.tsx
  packages/react-component-library/src/components/Select/Select.stories.tsx
  packages/react-component-library/src/components/Select/Select.tsx
  packages/react-component-library/src/components/Select/SingleValue.test.tsx
  packages/react-component-library/src/components/Select/SingleValue.tsx
  packages/react-component-library/src/components/Switch/ResponsiveSwitch.test.tsx
  packages/react-component-library/src/components/Switch/ResponsiveSwitch.tsx
Labels: Package: react-component-library, Type: Enhancement

#1696 fix(Timeline): Change z-indexes to fix stacking of Timeline elements
  packages/design-tokens/src/tokens/zindex.json
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonth.tsx
  packages/react-component-library/src/components/Timeline/TimelineTodayMarker.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/Sidebar.tsx
Labels: Package: css-framework, Package: design-tokens, Type: Bug

#1689 ci: Release automation changes
  .circleci/config.yml
  .github/workflows/predeploy_tests.yml
  .github/workflows/release.yml
  package.json
  packages/docs-site/src/components/presenters/Masthead/index.js
Labels: Type: Devops

#1701 Fix CHANGELOG and version number from recent release
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Type: Devops

#1704 build(DocsSite): Fix gatsby manifest config
  packages/docs-site/gatsby-config.js
  packages/docs-site/src/images/icon.png
Labels: Type: Bug

#1676 fix(SidebarE): Add userLink and exitLink props
  packages/docs-site/src/library/pages/components/sidebar_experimental.md
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/Sidebar.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/Sidebar.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarUser.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarUserItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/index.ts
Labels: Package: react-component-library, Type: Bug

#1729 docs(ReactComponentLibrary): Add note about peerDependency
  README.md
  packages/docs-site/src/library/pages/get-started/development/installation.md
Labels: Type: Documentation

#1728 fix(FloatingBox): Resolve sizing issue
  packages/react-component-library/src/primitives/FloatingBox/FloatingBoxContent.tsx
Labels: Package: react-component-library, Type: Bug

#1730 docs(ReactComponentLibrary): Update CONTRIBUTING.md
  docs/contributing.md
Labels: Package: react-component-library, Type: Documentation
