Repository Royal-Navy/design-system, pull requests merged in 2020-08, with the labels that each got.

#1254 ci(Gha): Add cra to npm smoke test
  .github/workflows/npmsmoketest.yml
Labels: Type: Devops

#1322 feat(Table): Add ability to display caption
  packages/docs-site/src/library/pages/components/table.md
  packages/react-component-library/src/components/Table/Table.stories.tsx
  packages/react-component-library/src/components/Table/Table.test.tsx
  packages/react-component-library/src/components/Table/Table.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1323 feat(List): Add list ARIA attributes
  packages/react-component-library/src/components/List/List.test.tsx
  packages/react-component-library/src/components/List/List.tsx
  packages/react-component-library/src/components/List/ListItem.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1324 feat(Table): Apply `aria-hidden` to sort icons
  packages/react-component-library/src/components/Table/Table.test.tsx
  packages/react-component-library/src/components/Table/TableColumn.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1332 feat(NumberInput): Add missing ARIA attributes
  packages/react-component-library/src/components/NumberInput/EndAdornmentButton.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.test.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1333 feat(TabSet): Define `aria-label` for tab
  packages/react-component-library/src/components/TabSet/TabItem.tsx
  packages/react-component-library/src/components/TabSet/TabSet.test.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1334 fix(TextInput): Use icon library icons
  packages/react-component-library/src/components/TextInput/TextInput.stories.tsx
Labels: Package: react-component-library, Type: Accessibility

#1344 feat(TabSet): Implement Keyboard control
  packages/react-component-library/src/components/TabSet/TabItem.tsx
  packages/react-component-library/src/components/TabSet/TabSet.stories.tsx
  packages/react-component-library/src/components/TabSet/TabSet.test.tsx
  packages/react-component-library/src/components/TabSet/TabSet.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1309 ci(Gha): Migrate build & test feature
  .circleci/config.yml
  .github/workflows/build_and_test_feature.yml
Labels: Type: Devops

#1355 fix(Dropdown): Resolve arrow visual glitch
  packages/css-framework/src/components/_dropdown.scss
Labels: Package: react-component-library, Type: Bug

#1354 refactor(CSSFramework): Move fragments to components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_form.scss
  packages/css-framework/src/components/_masthead.scss
  packages/css-framework/src/components/_notification-panel.scss
  packages/css-framework/src/components/_sidebar.scss
Labels: Package: css-framework, Type: Techdebt

#1352 [WIP] docs(DataList): Add docs-site documentation
  packages/docs-site/src/library/pages/components/data-list.md
Labels: Package: docs-site, Package: react-component-library, Type: Documentation

#1308 feat(DatePicker): DatePicker Improvements
  packages/css-framework/src/components/_date-picker.scss
  packages/react-component-library/package.json
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerDay.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerInput.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerMonth.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerNavButton.tsx
  packages/react-component-library/src/components/DatePicker/datepickerContext.ts
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement

#1356 Revert "fix(Timeline): Remove end date extension"
  packages/react-component-library/src/components/Timeline/hooks/useTimelinePosition.ts
Labels: Package: react-component-library, Type: Bug

#1366 ci(Gha): Troubleshoot visual regression checks
  .github/workflows/build_and_test_feature.yml
Labels: Type: Devops

#1368 ci(Gha): Fix visual regression checks
  .github/workflows/build_and_test_feature.yml
Labels: Type: Devops

#1281 Refactor `TimelineSide` to support `rowheader` `role` attributes
  packages/css-framework/src/components/_timeline.scss
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineDay.tsx
  packages/react-component-library/src/components/Timeline/TimelineDays.tsx
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/TimelineHeaderRow.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonth.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/TimelineRow.tsx
  packages/react-component-library/src/components/Timeline/TimelineRows.tsx
  packages/react-component-library/src/components/Timeline/TimelineSide.tsx
  packages/react-component-library/src/components/Timeline/TimelineTodayMarker.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeek.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeeks.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/__tests__/TimelineSide.test.tsx
  packages/react-component-library/src/components/Timeline/context/__tests__/reducer.test.ts
  packages/react-component-library/src/components/Timeline/types.ts
Labels: Package: react-component-library, Type: Enhancement, Type: Techdebt

#1371 Release/2.13.0
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2, Type: Devops

#1372 Latest back into master
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2, Type: Devops

#1373 feat(Storybook): Upgrade to v6
  packages/react-component-library/.storybook/addons.ts
  packages/react-component-library/.storybook/config.ts
  packages/react-component-library/.storybook/main.js
  packages/react-component-library/.storybook/manager.js
  packages/react-component-library/.storybook/preview.js
  packages/react-component-library/.storybook/webpack.config.js
  packages/react-component-library/package.json
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement

#1374 fix(Breadcrumb): Use flex for vertical center
  packages/css-framework/src/components/_breadcrumbs.scss
Labels: Package: react-component-library, Type: Bug

#1376 Fix row name not showing in side of Timeline
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineDays.tsx
  packages/react-component-library/src/components/Timeline/TimelineHeaderRow.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/TimelineRow.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeeks.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/context/__mocks__/index.tsx
  packages/react-component-library/src/components/Timeline/context/index.tsx
  packages/react-component-library/src/components/Timeline/context/types.ts
Labels: Exemplar: LT, Package: react-component-library, Type: Bug

#1379 Add styling for Radio and Checkbox disabled states
  packages/css-framework/src/components/_checkbox.scss
  packages/css-framework/src/components/_radio.scss
  packages/react-component-library/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-component-library/src/components/Checkbox/Checkbox.tsx
  packages/react-component-library/src/components/Radio/Radio.stories.tsx
  packages/react-component-library/src/components/Radio/Radio.tsx
Labels: Package: react-component-library, Type: Bug
