Repository Royal-Navy/design-system, pull requests merged in 2020-04, with the labels that each got.

#798 feat(eslint config): Update README.md
  packages/eslint-config-react/README.md
Labels: Package: eslint-config-react, Type: Enhancement

#785 feat(component library): Icon placement left of button text
  packages/css-framework/src/components/_btn.scss
  packages/docs-site/src/library/pages/components/button.md
  packages/react-component-library/src/components/Button/Button.stories.tsx
  packages/react-component-library/src/components/Button/Button.tsx
  packages/react-component-library/src/components/Button/constants.ts
Labels: Package: react-component-library, Type: Component, Type: Enhancement

#817 fix: Remove decompress related packages
  packages/docs-site/gatsby-config.js
  packages/docs-site/package.json
  packages/docs-site/src/components/presenters/Masthead/Masthead.test.js
  packages/docs-site/src/components/presenters/sidebar/index.test.js
  yarn.lock
Labels: Package: docs-site, Type: Security

#819 ci: Update README.md badges
  README.md
Labels: Type: Devops

#776 feat(Progress Indicator): Add default component
  packages/css-framework/index.scss
  packages/css-framework/src/components/_progress-indicator.scss
  packages/docs-site/src/library/images/components/progress-indicator/anatomy.svg
  packages/docs-site/src/library/images/components/progress-indicator/component.svg
  packages/docs-site/src/library/pages/components/progress-indicator.md
  packages/icon-library/src/assets/standards/loader.svg
  packages/react-component-library/src/components/ProgressIndicator/ProgressIndicator.stories.tsx
  packages/react-component-library/src/components/ProgressIndicator/ProgressIndicator.test.tsx
  packages/react-component-library/src/components/ProgressIndicator/ProgressIndicator.tsx
  packages/react-component-library/src/components/ProgressIndicator/index.tsx
  packages/react-component-library/src/components/index.ts
  packages/react-component-library/src/index.ts
Labels: Package: docs-site, Package: react-component-library, Type: Component, Type: Documentation, Type: Enhancement

#820 Feature/security-policy
  SECURITY.md
Labels: Type: Devops

#840 refactor(component library): Remove UUID React key usage
  packages/react-component-library/src/components/Nav/index.tsx
  packages/react-component-library/src/components/Pagination/index.tsx
  packages/react-component-library/src/components/ScrollableNav/ScrollableNavItem.tsx
  packages/react-component-library/src/components/Switch/Switch.tsx
  packages/react-component-library/src/components/TabNav/TabNavItem.tsx
  packages/react-component-library/src/helpers.ts
Labels: Package: react-component-library, Type: Bug

#842 Update CI to use correct latest branch name
  .circleci/config.yml
  docs/release_checklist.md
Labels: Type: Devops

#841 build: Remove data-testid attributes from output
  packages/react-component-library/.babelrc
  packages/react-component-library/package.json
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement

#851 Merge latest into master
  CHANGELOG.md
  lerna.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2

#845 ci: Add jobs to latest workflow
  .circleci/config.yml
Labels: Type: Devops

#852 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new-component-design-and-build.md
Labels: Type: Enhancement

#853 Fix drawer not reacting to side effect
  packages/react-component-library/src/components/Drawer/Drawer.test.tsx
  packages/react-component-library/src/components/Drawer/Drawer.tsx
  packages/react-component-library/src/components/Modal/Modal.tsx
  packages/react-component-library/src/hooks/useOpenClose.ts
Labels: Package: react-component-library, Type: Bug

#867 feat(popover): Lighten border colour
  packages/css-framework/src/objects/_floating-box.scss
Labels: Package: css-framework, Type: Component

#866 test(dropdown): Add tests
  packages/react-component-library/src/components/Dropdown/Dropdown.test.tsx
Labels: Package: react-component-library, Type: Techdebt

#876 chore: Update name to Royal Navy Design System
  CHANGELOG.md
  SECURITY.md
  docs/contributing.md
  docs/release_notes_template.md
  package.json
  packages/css-framework/README.md
  packages/css-framework/package.json
  packages/css-framework/src/vars/_breakpoints.scss
  packages/css-framework/src/vars/_spacing.scss
  packages/docs-site/gatsby-config.js
  packages/docs-site/jest/data/mockNavData.js
  packages/docs-site/package.json
  packages/docs-site/src/components/presenters/Masthead/index.js
  packages/docs-site/src/components/presenters/hero-banner/index.test.js
  packages/docs-site/src/hooks/usePrimaryNavData.test.js
  packages/docs-site/src/library/drafts/getting-started.md
  packages/docs-site/src/library/pages/about/index.md
  packages/docs-site/src/library/pages/components/form/index.md
  packages/docs-site/src/library/pages/components/index.md
  packages/docs-site/src/library/pages/components/sidebar.md
  packages/docs-site/src/library/pages/get-started/design/index.md
  packages/docs-site/src/library/pages/get-started/development/index.md
  packages/docs-site/src/library/pages/get-started/development/learning-resources.md
  packages/docs-site/src/library/pages/get-started/development/sass-css-framework.md
  packages/docs-site/src/library/pages/get-started/development/v2-migration.md
  packages/docs-site/src/library/pages/get-started/index.md
  packages/docs-site/src/library/pages/index.md
  packages/docs-site/src/library/pages/styles/breakpoints.md
  packages/docs-site/src/library/pages/styles/colours.md
  packages/docs-site/src/library/pages/styles/container.md
  packages/docs-site/src/library/pages/styles/index.md
  packages/docs-site/src/library/pages/styles/spacing.md
  packages/docs-site/src/library/pages/styles/typography.md
  packages/docs-site/src/pages/404.js
  packages/docs-site/src/templates/default.js
  packages/docs-site/src/templates/home.js
  packages/eslint-config-react/README.md
  packages/fonts/package.json
  packages/icon-library/package.json
  packages/react-component-library/README.md
  packages/react-component-library/package.json
Labels: Type: Enhancement

#879 Release/2.5.0
  CHANGELOG.md
  lerna.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2

#880 Latest back into master
  CHANGELOG.md
  lerna.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2

#878 Implement compound pattern in Timeline component
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/TimelineEvents.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/TimelineRow.tsx
  packages/react-component-library/src/components/Timeline/TimelineRows.tsx
  packages/react-component-library/src/components/Timeline/TimelineSide.tsx
  packages/react-component-library/src/components/Timeline/TimelineTodayMarker.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeeks.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Event.test.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Row.test.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Side.test.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/__tests__/TimelineMonths.test.tsx
  packages/react-component-library/src/components/Timeline/__tests__/TimelineSide.test.tsx
  packages/react-component-library/src/components/Timeline/__tests__/TimelineTodayMarker.test.tsx
  packages/react-component-library/src/components/Timeline/__tests__/TimelineWeeks.test.tsx
  packages/react-component-library/src/components/Timeline/index.ts
Labels: Exemplar: FP, Exemplar: LT, Exemplar: RS, Package: react-component-library, Type: Enhancement

#886 Add `render` to `TimelineEvent`
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
Labels: Exemplar: FP, Exemplar: LT, Exemplar: RS, Package: react-component-library, Type: Enhancement

#896 feat(button): Darken primary background to improve contrast levels
  packages/css-framework/src/components/_btn.scss
Labels: Package: css-framework, Type: Enhancement

#894 test(select): Backfill tests
  packages/react-component-library/src/components/Select/Select.test.tsx
  packages/react-component-library/src/components/Select/Select.tsx
Labels: Type: Techdebt

#898 Backfill tests for Switch component
  packages/react-component-library/src/components/Switch/ResponsiveSwitch.test.tsx
  packages/react-component-library/src/components/Switch/ResponsiveSwitch.tsx
  packages/react-component-library/src/components/Switch/Switch.stories.tsx
  packages/react-component-library/src/components/Switch/Switch.test.tsx
  packages/react-component-library/src/components/Switch/Switch.tsx
  packages/react-component-library/src/components/Switch/index.tsx
  packages/react-component-library/src/components/index.ts
  packages/react-component-library/src/index.ts
Labels: Type: Techdebt

#908 refactor(timeline): Destructure reducer state
  packages/react-component-library/src/components/Timeline/context/reducer.ts
Labels: Package: react-component-library, Type: Enhancement
