Repository Royal-Navy/design-system, pull requests merged in 2020-05, with the labels that each got.

#897 refactor(timeline): Add additional composability to Timeline
  packages/react-component-library/.babelrc
  packages/react-component-library/package.json
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineDays.tsx
  packages/react-component-library/src/components/Timeline/TimelineSide.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/__tests__/TimelineSide.test.tsx
  packages/react-component-library/src/components/Timeline/types.ts
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement

#909 Add roadmap link to package README
  package.json
  packages/eslint-config-react/README.md
  packages/fonts/README.md
  packages/icon-library/README.md
  packages/react-component-library/README.md
  yarn.lock
Labels: Package: eslint-config-react, Package: fonts, Package: icon-library, Package: react-component-library, Type: Enhancement

#905 feat(timeline): Implement TimelineDays render prop
  packages/css-framework/src/components/_timeline.scss
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/TimelineDays.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
Labels: Package: react-component-library, Type: Enhancement

#904 feat(timeline): Implement TimelineTodayMarker render prop
  packages/css-framework/src/components/_timeline.scss
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/TimelineTodayMarker.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
Labels: Package: react-component-library, Type: Enhancement

#914 feat(timeline): Implement TimelineMonths render prop
  packages/css-framework/src/components/_timeline.scss
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/context/__tests__/reducer.test.ts
Labels: Package: react-component-library, Type: Enhancement

#921 Release 2.6.0
  CHANGELOG.md
  lerna.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2

#922 Latest back into master
  CHANGELOG.md
  lerna.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2

#923 chore(dependencies): Add scope for dependabot
  .dependabot/config.yml
Labels: Type: Devops

#935 fix(timeline): Generate correct number of calendar weeks
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/constants.ts
  packages/react-component-library/src/components/Timeline/context/__tests__/reducer.test.ts
  packages/react-component-library/src/components/Timeline/context/reducer.ts
Labels: Package: react-component-library, Type: Bug

#939 feat(timeline): Expose Timeline to consumers
  packages/react-component-library/src/components/Timeline/hooks/index.ts
  packages/react-component-library/src/components/Timeline/index.ts
  packages/react-component-library/src/components/index.ts
  packages/react-component-library/src/index.ts
Labels: Package: react-component-library, Type: Enhancement

#937 ci: Add fixup check to CI pipeline
  .circleci/config.yml
  scripts/check-fixup/index.js
  scripts/commitlint/index.js
Labels: Type: Devops, Type: Enhancement

#932 chore(storybook): Add accessibility add on
  packages/react-component-library/.storybook/addons.ts
  packages/react-component-library/.storybook/config.ts
  packages/react-component-library/package.json
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement

#941 Fix docs site hero button hover colour
  packages/docs-site/src/components/presenters/hero-banner/hero-banner.scss
Labels: Package: docs-site, Type: Bug

#943 fix: Update license
  LICENSE
Labels: Type: Devops, Type: Techdebt

#946 fix(masthead): Decrease font size of navigation link
  packages/css-framework/src/components/_scrollable-nav.scss
Labels: Package: css-framework, Type: Component

#942 fix: Replace references to "Standards"
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/README.md
  packages/docs-site/jest/data/mockNavData.js
  packages/docs-site/package.json
  packages/docs-site/src/components/presenters/Masthead/index.js
  packages/docs-site/src/components/presenters/footer/index.js
  packages/docs-site/src/components/presenters/hero-banner/index.js
  packages/docs-site/src/library/pages/about/index.md
  packages/docs-site/src/library/pages/components/avatar.md
  packages/docs-site/src/library/pages/components/badge.md
  packages/docs-site/src/library/pages/components/breadcrumbs.md
  packages/docs-site/src/library/pages/components/button.md
  packages/docs-site/src/library/pages/components/buttongroup.md
  packages/docs-site/src/library/pages/components/card-frame.md
  packages/docs-site/src/library/pages/components/card.md
  packages/docs-site/src/library/pages/components/dialog.md
  packages/docs-site/src/library/pages/components/drawer.md
  packages/docs-site/src/library/pages/components/dropdown.md
  packages/docs-site/src/library/pages/components/form/checkbox.md
  packages/docs-site/src/library/pages/components/form/input.md
  packages/docs-site/src/library/pages/components/form/number-input.md
  packages/docs-site/src/library/pages/components/form/radio.md
  packages/docs-site/src/library/pages/components/form/select.md
  packages/docs-site/src/library/pages/components/form/textarea.md
  packages/docs-site/src/library/pages/components/index.md
  packages/docs-site/src/library/pages/components/masthead.md
  packages/docs-site/src/library/pages/components/modal.md
  packages/docs-site/src/library/pages/components/nav.md
  packages/docs-site/src/library/pages/components/notifications.md
  packages/docs-site/src/library/pages/components/pagination.md
  packages/docs-site/src/library/pages/components/phase-banner.md
  packages/docs-site/src/library/pages/components/popover.md
  packages/docs-site/src/library/pages/components/range-slider.md
  packages/docs-site/src/library/pages/components/sidebar.md
  packages/docs-site/src/library/pages/components/switch.md
  packages/docs-site/src/library/pages/components/tab-set.md
  packages/docs-site/src/library/pages/components/table.md
  packages/docs-site/src/library/pages/components/tooltip.md
  packages/docs-site/src/library/pages/contact.md
  packages/docs-site/src/library/pages/get-started/design/index.md
  packages/docs-site/src/library/pages/get-started/development/index.md
  packages/docs-site/src/library/pages/get-started/development/v2-migration.md
  packages/docs-site/src/library/pages/get-started/index.md
  packages/docs-site/src/library/pages/index.md
  packages/docs-site/src/library/pages/privacy.md
  packages/docs-site/src/library/pages/versions.md
  packages/docs-site/src/pages/404.js
  packages/docs-site/static/design-system.sketch
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/README.md
  packages/fonts/CHANGELOG.md
  packages/fonts/README.md
  packages/icon-library/CHANGELOG.md
  packages/icon-library/README.md
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/README.md
Labels: Package: css-framework, Package: docs-site, Package: eslint-config-react, Package: fonts, Package: icon-library, Package: react-component-library, Type: Techdebt

#944 chore(Lint): Add sentence case commitlint rules
  commitlint.config.js
Labels: Type: Devops, Type: Enhancement

#959 Release/2.7.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2

#962 Latest back into master
  CHANGELOG.md
  lerna.json
  package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2

#945 chore(dependabot): Update prefix
  .dependabot/config.yml
Labels: Type: Bug, Type: Devops

#957 ci(config): Update repo address
  .circleci/config.yml
Labels: Type: Devops

#960 feat(pagination): Adjust pagination design to match Sketch file
  packages/css-framework/src/components/_pagination.scss
  packages/react-component-library/src/components/Pagination/index.tsx
Labels: Package: css-framework, Package: react-component-library, Type: Component

#964 Add scripts to update Versions page (remove manual steps)
  docs/deploy_documentation.md
  docs/release_checklist.md
  docs/update_versions_page.md
  package.json
  packages/docs-site/package.json
  packages/docs-site/scripts/versions/commit.sh
  packages/docs-site/scripts/versions/update.js
  yarn.lock
Labels: Type: Devops

#973 chore(Lint): Make subject a warning
  commitlint.config.js
Labels: Type: Devops

#974 fix(TabSet): Explicitly set tab background
  packages/css-framework/src/components/_tab-set.scss
Labels: Package: react-component-library, Type: Bug

#967 docs(Timeline): Add README documentation
  packages/react-component-library/src/components/Timeline/README.md
  packages/react-component-library/src/components/Timeline/images/example_full.png
  packages/react-component-library/src/components/Timeline/images/example_row-groups.png
Labels: Package: react-component-library, Type: Enhancement

#963 ci(config): Add Codecov
  .circleci/config.yml
  .codecov.yml
  README.md
Labels: Type: Devops, Type: Enhancement

#988 refactor(ComponentLibrary): Remove fragments directory
  packages/react-component-library/src/components/Masthead/Masthead.stories.tsx
  packages/react-component-library/src/components/Masthead/Masthead.test.tsx
  packages/react-component-library/src/components/Masthead/Masthead.tsx
  packages/react-component-library/src/components/Masthead/MastheadNav.tsx
  packages/react-component-library/src/components/Masthead/MastheadUser.tsx
  packages/react-component-library/src/components/Masthead/UserLink.tsx
  packages/react-component-library/src/components/Masthead/index.tsx
  packages/react-component-library/src/components/Masthead/useMastheadSearch.ts
  packages/react-component-library/src/components/NotificationPanel/Notification.test.tsx
  packages/react-component-library/src/components/NotificationPanel/Notification.tsx
  packages/react-component-library/src/components/NotificationPanel/NotificationPanel.test.tsx
  packages/react-component-library/src/components/NotificationPanel/NotificationPanel.tsx
  packages/react-component-library/src/components/NotificationPanel/Notifications.test.tsx
  packages/react-component-library/src/components/NotificationPanel/Notifications.tsx
  packages/react-component-library/src/components/NotificationPanel/constants.ts
  packages/react-component-library/src/components/NotificationPanel/index.tsx
  packages/react-component-library/src/components/NotificationPanel/notificationPosition.test.ts
  packages/react-component-library/src/components/NotificationPanel/notificationPosition.ts
  packages/react-component-library/src/components/NotificationPanel/useNotificationPanel.ts
  packages/react-component-library/src/components/Sidebar/Sidebar.stories.tsx
  packages/react-component-library/src/components/Sidebar/Sidebar.test.tsx
  packages/react-component-library/src/components/Sidebar/Sidebar.tsx
  packages/react-component-library/src/components/Sidebar/SidebarNav.tsx
  packages/react-component-library/src/components/Sidebar/SidebarNavItem.tsx
  packages/react-component-library/src/components/Sidebar/SidebarUser.tsx
  packages/react-component-library/src/components/Sidebar/index.tsx
  packages/react-component-library/src/components/index.ts
  packages/react-component-library/src/fragments/index.ts
  packages/react-component-library/src/index.ts
Labels: Package: react-component-library, Type: Enhancement

#993 docs(Security): Update policy
  SECURITY.md
Labels: Type: Devops, Type: Enhancement

#1010 Add constants to components
  commitlint.config.js
  docs/contributing.md
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.test.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroupItem.tsx
  packages/react-component-library/src/components/Switch/ResponsiveSwitch.tsx
  packages/react-component-library/src/components/Switch/Switch.stories.tsx
  packages/react-component-library/src/components/Switch/Switch.tsx
  packages/react-component-library/src/components/Switch/constants.ts
  packages/react-component-library/src/components/Switch/index.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.test.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.tsx
  packages/react-component-library/src/components/Tooltip/constants.ts
  packages/react-component-library/src/components/Tooltip/index.tsx
  packages/react-component-library/src/components/index.ts
  packages/react-component-library/src/index.ts
  packages/react-component-library/src/types/Switch.d.ts
Labels: Package: react-component-library, Type: Component, Type: Enhancement, Type: Techdebt

#1016 fix(Timeline): Export TIMELINE_ACTIONS
  packages/react-component-library/src/components/Timeline/context/types.ts
  packages/react-component-library/src/components/Timeline/index.ts
Labels: Package: react-component-library, Type: Bug
