Repository Royal-Navy/design-system, pull requests merged in 2020-07, with the labels that each got.

#1173 test(Timeline): Fix broken TimelineTodayMarker test
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
Labels: Package: react-component-library, Type: Bug

#1169 ci(Pipeline): Refactor publish_next
  .circleci/config.yml
Labels: Type: Devops

#1181 ci(Pipeline): Consolidate dependencies
  .circleci/config.yml
Labels: Type: Devops

#1184 Fix Timeline keys
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineDays.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/TimelineRows.tsx
  packages/react-component-library/src/components/Timeline/TimelineSide.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeeks.tsx
  packages/react-component-library/src/components/Timeline/helpers/getKey.ts
  packages/react-component-library/src/components/Timeline/helpers/index.ts
  packages/react-component-library/src/helpers.ts
Labels: Exemplar: FP, Type: Bug

#1189 fix(Badge): Add ability to drill arbitrary props
  packages/react-component-library/src/components/Badge/Badge.test.tsx
  packages/react-component-library/src/components/Badge/Badge.tsx
Labels: Package: react-component-library, Type: Bug

#1190 fix(Timeline): Custom components not composable at top level
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
Labels: Package: react-component-library, Type: Bug

#1210 fix(Security): Resolve latest Lodash
  package.json
  packages/docs-site/package.json
  yarn.lock
Labels: Type: Devops

#1204 Add accessibility attributes to `Alert`
  packages/react-component-library/src/components/Alert/Alert.test.tsx
  packages/react-component-library/src/components/Alert/Alert.tsx
  packages/react-component-library/src/helpers.ts
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1203 ci(Gha): Add npm smoke test
  .github/workflows/npmsmoketest.yml
Labels: Type: Devops

#1213 Release/2.10.0
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2

#1214 Latest into master
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2

#1211 fix(DatePicker): Fix some visual bugs with DatePicker
  packages/css-framework/src/components/_date-picker.scss
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/constants.ts
  packages/react-component-library/src/components/DatePicker/useOpenClose.ts
Labels: Package: react-component-library, Type: Bug

#1215 feat(Breadcrumb): Add aria attributes
  packages/css-framework/src/components/_breadcrumbs.scss
  packages/react-component-library/src/components/Breadcrumbs/Breadcrumbs.test.tsx
  packages/react-component-library/src/components/Breadcrumbs/Breadcrumbs.tsx
  packages/react-component-library/src/components/Breadcrumbs/BreadcrumbsItem.tsx
  packages/react-component-library/src/components/Breadcrumbs/EndTitle.tsx
Labels: Package: react-component-library, Type: Enhancement

#1202 Add missing documentation
  packages/css-framework/index.scss
  packages/css-framework/src/components/_checkbox-enhanced.scss
  packages/css-framework/src/components/_radio-enhanced.scss
  packages/docs-site/src/library/images/components/dismissible-banner/anatomy.svg
  packages/docs-site/src/library/images/components/dismissible-banner/component.svg
  packages/docs-site/src/library/images/components/forms/checkbox-enhanced/Anatomy.svg
  packages/docs-site/src/library/images/components/forms/checkbox-enhanced/Component.svg
  packages/docs-site/src/library/images/components/forms/checkbox-enhanced/States.svg
  packages/docs-site/src/library/images/components/forms/checkbox-enhanced/Variation.svg
  packages/docs-site/src/library/images/components/forms/radio-enhanced/Anatomy.svg
  packages/docs-site/src/library/images/components/forms/radio-enhanced/Component.svg
  packages/docs-site/src/library/images/components/forms/radio-enhanced/States.svg
  packages/docs-site/src/library/images/components/forms/radio-enhanced/Variation.svg
  packages/docs-site/src/library/pages/components/dismissible-banner.md
  packages/docs-site/src/library/pages/components/form/checkbox-enhanced.md
  packages/docs-site/src/library/pages/components/form/radio-enhanced.md
  packages/docs-site/src/library/pages/components/form/radio.md
  packages/react-component-library/src/components/CheckboxCard/index.ts
  packages/react-component-library/src/components/CheckboxEnhanced/CheckboxEnhanced.stories.tsx
  packages/react-component-library/src/components/CheckboxEnhanced/CheckboxEnhanced.test.tsx
  packages/react-component-library/src/components/CheckboxEnhanced/CheckboxEnhanced.tsx
  packages/react-component-library/src/components/CheckboxEnhanced/index.ts
  packages/react-component-library/src/components/RadioCard/index.ts
  packages/react-component-library/src/components/RadioEnhanced/RadioEnhanced.stories.tsx
  packages/react-component-library/src/components/RadioEnhanced/RadioEnhanced.test.tsx
  packages/react-component-library/src/components/RadioEnhanced/RadioEnhanced.tsx
  packages/react-component-library/src/components/RadioEnhanced/index.ts
  packages/react-component-library/src/index.ts
Labels: Package: docs-site, Type: Documentation

#1218 feat(Toast): Add aria attributes
  packages/react-component-library/src/components/Toast/Toast.test.tsx
  packages/react-component-library/src/components/Toast/Toast.tsx
Labels: Package: react-component-library, Type: Enhancement

#1217 Add `aria-hidden` to `Button`
  packages/react-component-library/src/components/Button/Button.test.tsx
  packages/react-component-library/src/components/Button/Button.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.test.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1216 Add accessibility attributes to `Tooltip`
  packages/react-component-library/src/components/Tooltip/Tooltip.test.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1219 feat(Pagination): Add aria attributes
  packages/react-component-library/src/components/Pagination/Pagination.test.tsx
  packages/react-component-library/src/components/Pagination/Pagination.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1227 feat(NumberInput): Add aria attributes
  packages/react-component-library/src/components/NumberInput/NumberInput.test.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1233 feat(TabSet): Add accessibility related attributes
  packages/react-component-library/src/components/TabSet/ScrollButton.tsx
  packages/react-component-library/src/components/TabSet/TabContent.tsx
  packages/react-component-library/src/components/TabSet/TabItem.tsx
  packages/react-component-library/src/components/TabSet/TabSet.test.tsx
  packages/react-component-library/src/components/TabSet/TabSet.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1234 feat(ButtonGroup): Add role attribute
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.test.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1235 feat(Modal + Dialog): Add accessibility attributes
  packages/react-component-library/src/components/Dialog/Dialog.test.tsx
  packages/react-component-library/src/components/Dialog/Dialog.tsx
  packages/react-component-library/src/components/Modal/Header.tsx
  packages/react-component-library/src/components/Modal/Modal.test.tsx
  packages/react-component-library/src/components/Modal/Modal.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1238 feat(DataList): Add aria attributes
  packages/react-component-library/src/components/DataList/DataList.test.tsx
  packages/react-component-library/src/components/DataList/DataList.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1232 Add aria attributes to `Masthead`
  packages/react-component-library/package.json
  packages/react-component-library/src/components/ScrollableNav/ScrollableNav.tsx
  packages/react-component-library/src/components/ScrollableNav/ScrollableNavItem.tsx
  packages/react-component-library/src/components/ScrollableNav/index.ts
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/MastheadNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/MastheadNavItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/index.ts
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/Notification.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/Notifications.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/Notifications.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Searchbar/Searchbar.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Searchbar/Searchbar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/Sheet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/SheetButton.tsx
  packages/react-component-library/src/icons/Logo.tsx
  packages/react-component-library/src/icons/Right-Arrow.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1236 Add ARIA attributes for `Sidebar` accessibility
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/Sidebar.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/Sidebar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/SidebarNavItem.tsx
  packages/react-component-library/src/icons/Graph.tsx
  packages/react-component-library/src/icons/House.tsx
  packages/react-component-library/src/icons/Tools.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1239 Add ARIA attributes to `Table`
  packages/react-component-library/src/components/Table/Table.test.tsx
  packages/react-component-library/src/components/Table/Table.tsx
  packages/react-component-library/src/components/Table/TableColumn.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1240 feat(DatePicker): Add accessibility attributes
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerDay.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerInput.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerMonth.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerNavButton.tsx
  packages/react-component-library/src/components/DatePicker/Day.test.tsx
  packages/react-component-library/src/components/DatePicker/Input.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.test.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1242 feat(Popover): Add accessibility attributes
  packages/react-component-library/src/components/Popover/Popover.test.tsx
  packages/react-component-library/src/components/Popover/Popover.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.test.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1237 fix(Timeline): Improve behaviour when bounding by start and end date
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/TimelineRows.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeeks.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/context/__tests__/reducer.test.ts
  packages/react-component-library/src/components/Timeline/context/reducer.ts
  packages/react-component-library/src/components/Timeline/context/state.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelinePosition.ts
Labels: Package: react-component-library, Type: Bug

#1249 fix(Switch): minor error setting Switch option key
  packages/react-component-library/src/components/Switch/Switch.tsx
Labels: Exemplar: FP

#1241 feat(RangeSlider): Set `aria-hidden` on icons
  packages/react-component-library/src/components/RangeSlider/RangeSlider.test.tsx
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1252 Release 2.11.0
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2

#1253 Latest back into master
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2

#1250 docs(ProgressIndicator): Document `aria-busy` usage
  packages/docs-site/src/library/pages/components/progress-indicator.md
Labels: Package: react-component-library, Type: Accessibility, Type: Documentation

#1267 fix(DatePicker): Dates under wrong days
  packages/css-framework/src/components/_date-picker.scss
Labels: Package: react-component-library, Type: Bug

#1266 fix(DatePicker): Add explicit button type
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerInput.tsx
Labels: Package: react-component-library, Type: Bug

#1269 Add accessibility attributes to `Timeline` (without `TimelineSide`)
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineDays.tsx
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/TimelineRow.tsx
  packages/react-component-library/src/components/Timeline/TimelineRows.tsx
  packages/react-component-library/src/components/Timeline/TimelineTodayMarker.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeeks.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/constants.ts
Labels: Package: react-component-library, Type: Accessibility, Type: Enhancement

#1279 fix(NumberInput): Call `onChange` callback
  packages/react-component-library/package.json
  packages/react-component-library/src/components/NumberInput/NumberInput.test.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
Labels: Exemplar: FB, Exemplar: FP, Package: react-component-library, Type: Bug

#1276 docs(DocsSite): Add draft accessibility statement
  packages/docs-site/src/library/accessibility.md
Labels: Package: docs-site, Type: Accessibility, Type: Documentation

#1280 fix(Panel): Add missing export
  packages/react-component-library/src/index.ts
Labels: Package: react-component-library, Type: Bug

#1283 Release/2.12.0
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2

#1284 Latest back into master
  CHANGELOG.md
  lerna.json
  packages/cra-template-royalnavy/CHANGELOG.md
  packages/cra-template-royalnavy/package.json
  packages/css-framework/CHANGELOG.md
  packages/css-framework/package.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
  packages/docs-site/src/library/pages/versions.md
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package.json
  packages/icon-library/CHANGELOG.md
  packages/icon-library/package.json
  packages/react-component-library/CHANGELOG.md
  packages/react-component-library/package.json
Labels: Release: v2

#1301 fix(Security): Update dependencies
  package.json
  yarn.lock
Labels: Type: Devops, Type: Security
