Repository Royal-Navy/design-system, pull requests merged in 2021-01, with the labels that each got.

#1809 refactor(Breadcrumbs): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_breadcrumbs.scss
  packages/icon-library/.svgrrc.js
  packages/icon-library/generate-exports.sh
  packages/icon-library/src/types.ts
  packages/react-component-library/src/components/Breadcrumbs/Breadcrumbs.tsx
  packages/react-component-library/src/components/Breadcrumbs/BreadcrumbsItem.tsx
  packages/react-component-library/src/components/Breadcrumbs/EndTitle.tsx
  packages/react-component-library/src/components/Breadcrumbs/index.ts
  packages/react-component-library/src/components/Breadcrumbs/partials/StyledBreadcrumbsItem.tsx
  packages/react-component-library/src/components/Breadcrumbs/partials/StyledBreadcrumbsList.tsx
  packages/react-component-library/src/components/Breadcrumbs/partials/StyledEndTitle.tsx
  packages/react-component-library/src/components/Breadcrumbs/partials/StyledIcon.tsx
Labels: Package: react-component-library, Type: Enhancement

#1807 refactor(Avatar): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_avatar.scss
  packages/react-component-library/src/components/Avatar/Avatar.tsx
  packages/react-component-library/src/components/Avatar/partials/StyledAvatar.tsx
Labels: Package: react-component-library, Type: Enhancement

#1792 refactor(Alert): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_alert.scss
  packages/react-component-library/src/components/Alert/Alert.tsx
  packages/react-component-library/src/components/Alert/constants.ts
  packages/react-component-library/src/components/Alert/partials/StyledAlert.tsx
  packages/react-component-library/src/components/Alert/partials/StyledCloseButton.tsx
  packages/react-component-library/src/components/Alert/partials/StyledContent.tsx
  packages/react-component-library/src/components/Alert/partials/StyledDescription.tsx
  packages/react-component-library/src/components/Alert/partials/StyledFooter.tsx
  packages/react-component-library/src/components/Alert/partials/StyledIcon.tsx
  packages/react-component-library/src/components/Alert/partials/StyledTitle.tsx
Labels: Package: react-component-library, Type: Enhancement

#1820 chore(Security): Bump `axios` to `0.21.1`
  package.json
  yarn.lock
Labels: Type: Security

#1791 feat(Popover): Add prop for altering close delay
  packages/docs-site/src/library/pages/components/popover.md
  packages/react-component-library/src/components/Popover/Popover.test.tsx
  packages/react-component-library/src/components/Popover/Popover.tsx
  packages/react-component-library/src/components/Popover/useHideShow.ts
Labels: Exemplar: LT, Type: Enhancement

#1827 test(Popover): Fix broken test resulting in infinite loop
  packages/react-component-library/src/components/Popover/Popover.test.tsx
Labels: Package: react-component-library, Type: Bug

#1821 Fix mouse event in context menu
  packages/react-component-library/src/components/ContextMenu/ContextMenu.stories.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.test.tsx
  packages/react-component-library/src/hooks/useClickMenu.ts
Labels: Type: Bug

#1822 Migrate CardFrame to styled components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_card.scss
  packages/react-component-library/src/components/CardFrame/CardFrame.tsx
  packages/react-component-library/src/components/CardFrame/partials/StyledCardFrame.tsx
Labels: Package: react-component-library, Type: Enhancement

#1832 refactor(PhaseBanner): Migrate `.rn-container` to sc
  packages/css-framework/index.scss
  packages/css-framework/src/components/_container.scss
  packages/react-component-library/src/components/PhaseBanner/PhaseBanner.test.tsx
  packages/react-component-library/src/components/PhaseBanner/PhaseBanner.tsx
  packages/react-component-library/src/components/PhaseBanner/partials/StyledWrapper.tsx
Labels: Package: react-component-library, Type: Enhancement

#1829 Migrate CheckboxEnhanced to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_checkbox-enhanced.scss
  packages/react-component-library/src/components/Checkbox/Checkbox.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckbox.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckmark.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledInput.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledLabel.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/CheckboxEnhanced/CheckboxEnhanced.tsx
  packages/react-component-library/src/components/CheckboxEnhanced/partials/StyledCheckboxEnhanced.tsx
  packages/react-component-library/src/components/CheckboxEnhanced/partials/StyledDescription.tsx
Labels: Package: react-component-library, Type: Enhancement

#1845 Ci/hotfix workflow
  .github/workflows/manual_release.yml
  docs/contributing.md
  docs/deploy_documentation.md
  docs/release_checklist.md
Labels: Type: Devops

#1838 refactor(DataList): Migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_data-list.scss
  packages/react-component-library/src/components/DataList/DataList.test.tsx
  packages/react-component-library/src/components/DataList/DataList.tsx
  packages/react-component-library/src/components/DataList/DataListItem.tsx
  packages/react-component-library/src/components/DataList/partials/StyledAction.tsx
  packages/react-component-library/src/components/DataList/partials/StyledBadge.tsx
  packages/react-component-library/src/components/DataList/partials/StyledDataList.tsx
  packages/react-component-library/src/components/DataList/partials/StyledHeader.tsx
  packages/react-component-library/src/components/DataList/partials/StyledItem.tsx
  packages/react-component-library/src/components/DataList/partials/StyledItemKey.tsx
  packages/react-component-library/src/components/DataList/partials/StyledItemValue.tsx
  packages/react-component-library/src/components/DataList/partials/StyledSheet.tsx
  packages/react-component-library/src/components/DataList/partials/StyledTitle.tsx
Labels: Package: react-component-library, Type: Enhancement

#1824 refactor(ButtonGroup): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_btn-group.scss
  packages/css-framework/src/components/_btn.scss
  packages/css-framework/src/components/_modal.scss
  packages/react-component-library/src/components/Button/Button.stories.tsx
  packages/react-component-library/src/components/Button/Button.tsx
  packages/react-component-library/src/components/Button/constants.ts
  packages/react-component-library/src/components/Button/partials/StyledButton.tsx
  packages/react-component-library/src/components/Button/partials/StyledIcon.tsx
  packages/react-component-library/src/components/Button/partials/StyledText.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.test.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.tsx
  packages/react-component-library/src/components/ButtonGroup/partials/StyledButtonGroup.tsx
  packages/react-component-library/src/components/Modal/Modal.test.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
Labels: Package: react-component-library, Type: Enhancement

#1851 fix(DesignTokens): Resolve mq selector nested interpolations
  packages/design-tokens/src/__tests__/__snapshots__/selectors.test.tsx.snap
  packages/design-tokens/src/__tests__/selectors.test.tsx
  packages/design-tokens/src/getters.ts
  packages/react-component-library/src/components/Alert/partials/StyledAlert.tsx
Labels: Package: design-tokens, Package: react-component-library, Type: Bug

#1853 docs(DocsSite): Update migration title
  packages/docs-site/src/library/pages/get-started/development/v2-migration.md
Labels: Package: docs-site, Type: Documentation

#1861 Remove Timeline warnings
  packages/react-component-library/src/components/Timeline/README.md
  packages/react-component-library/src/components/Timeline/hooks/useTimelinePosition.ts
Labels: Package: react-component-library, Type: Bug

#1854 Migrate Modal and Dialog to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_dialog.scss
  packages/css-framework/src/components/_modal.scss
  packages/design-tokens/src/__tests__/__snapshots__/selectors.test.tsx.snap
  packages/design-tokens/src/__tests__/selectors.test.tsx
  packages/design-tokens/src/getters.ts
  packages/react-component-library/src/components/Dialog/Dialog.tsx
  packages/react-component-library/src/components/Dialog/partials/StyledBody.tsx
  packages/react-component-library/src/components/Dialog/partials/StyledDescription.tsx
  packages/react-component-library/src/components/Dialog/partials/StyledDialog.tsx
  packages/react-component-library/src/components/Dialog/partials/StyledTitle.tsx
  packages/react-component-library/src/components/Modal/Footer.tsx
  packages/react-component-library/src/components/Modal/Header.tsx
  packages/react-component-library/src/components/Modal/Modal.test.tsx
  packages/react-component-library/src/components/Modal/Modal.tsx
  packages/react-component-library/src/components/Modal/partials/StyledButtonGroup.tsx
  packages/react-component-library/src/components/Modal/partials/StyledCloseButton.tsx
  packages/react-component-library/src/components/Modal/partials/StyledFooter.tsx
  packages/react-component-library/src/components/Modal/partials/StyledHeader.tsx
  packages/react-component-library/src/components/Modal/partials/StyledMain.tsx
  packages/react-component-library/src/components/Modal/partials/StyledModal.tsx
  packages/react-component-library/src/components/Modal/partials/StyledPrimaryButton.tsx
  packages/react-component-library/src/components/Modal/partials/StyledSecondaryButton.tsx
  packages/react-component-library/src/components/Modal/partials/StyledTertiaryButton.tsx
  packages/react-component-library/src/components/Modal/partials/StyledTitle.tsx
Labels: Package: react-component-library, Type: Enhancement

#1867 refactor(DismissibleBanner): Migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_dismissable-banner.scss
  packages/react-component-library/src/components/DismissibleBanner/DismissableBanner.tsx
  packages/react-component-library/src/components/DismissibleBanner/partials/StyledContent.tsx
  packages/react-component-library/src/components/DismissibleBanner/partials/StyledDescription.tsx
  packages/react-component-library/src/components/DismissibleBanner/partials/StyledDismissibleBanner.tsx
  packages/react-component-library/src/components/DismissibleBanner/partials/StyledDontShow.tsx
  packages/react-component-library/src/components/DismissibleBanner/partials/StyledFooter.tsx
  packages/react-component-library/src/components/DismissibleBanner/partials/StyledTitle.tsx
Labels: Package: react-component-library, Type: Enhancement

#1866 fix(ContextMenu): Add scoped `z-index`
  packages/design-tokens/src/tokens/zindex.json
  packages/react-component-library/src/components/ContextMenu/partials/StyledContextMenu.tsx
Labels: Package: design-tokens, Package: react-component-library, Type: Bug

#1872 refactor(Form): Migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_form.scss
  packages/react-component-library/src/enhancers/withFormik.tsx
Labels: Package: react-component-library, Type: Enhancement

#1876 refactor(Layout): Remove unused SASS file
  packages/css-framework/index.scss
  packages/css-framework/src/components/_layout.scss
Labels: Package: react-component-library, Type: Enhancement

#1862 refactor(Drawer): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_drawer.scss
  packages/react-component-library/src/components/Drawer/Drawer.test.tsx
  packages/react-component-library/src/components/Drawer/Drawer.tsx
  packages/react-component-library/src/components/Drawer/partials/StyledDrawer.tsx
  packages/react-component-library/src/components/Drawer/partials/StyledDrawerButton.tsx
  packages/react-component-library/src/components/Drawer/partials/StyledDrawerContent.tsx
  packages/react-component-library/src/components/Drawer/partials/StyledDrawerInner.tsx
Labels: Package: react-component-library, Type: Enhancement

#1895 refactor(PhaseBanner): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_phase-banner.scss
  packages/react-component-library/src/components/PhaseBanner/PhaseBanner.tsx
  packages/react-component-library/src/components/PhaseBanner/partials/StyledBadge.tsx
  packages/react-component-library/src/components/PhaseBanner/partials/StyledPhaseBanner.tsx
  packages/react-component-library/src/components/PhaseBanner/partials/StyledText.tsx
  packages/react-component-library/src/components/PhaseBanner/partials/StyledWrapper.tsx
Labels: Package: react-component-library, Type: Enhancement

#1897 refactor(ProgressIndicator): Migarte to `styled components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_progress-indicator.scss
  packages/css-framework/src/components/_progress.scss
  packages/react-component-library/src/components/ProgressIndicator/ProgressIndicator.tsx
  packages/react-component-library/src/components/ProgressIndicator/partials/StyledProgressIndicator.tsx
Labels: Package: react-component-library, Type: Enhancement

#1892 refactor(Toast): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_toast.scss
  packages/react-component-library/src/components/Toast/Toast.tsx
  packages/react-component-library/src/components/Toast/partials/StyledToast.tsx
  packages/react-component-library/src/components/Toast/partials/StyledToastButton.tsx
  packages/react-component-library/src/components/Toast/partials/StyledToastContent.tsx
  packages/react-component-library/src/components/Toast/partials/StyledToastDescription.tsx
  packages/react-component-library/src/components/Toast/partials/StyledToastHeader.tsx
  packages/react-component-library/src/components/Toast/partials/StyledToastLabel.tsx
  packages/react-component-library/src/components/Toast/partials/StyledToastTime.tsx
  packages/react-component-library/src/components/Toast/partials/StyledToastTitle.tsx
Labels: Package: react-component-library, Type: Enhancement

#1906 fix(Timeline): Resolve inconsistent TodayMarker snapshot
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/hooks/useTimelinePosition.ts
Labels: Package: react-component-library, Type: Bug

#1900 refactor(Radio): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_radio.scss
  packages/react-component-library/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckbox.tsx
  packages/react-component-library/src/components/Radio/Radio.stories.tsx
  packages/react-component-library/src/components/Radio/Radio.tsx
  packages/react-component-library/src/components/Radio/partials/StyledCheckmark.tsx
  packages/react-component-library/src/components/Radio/partials/StyledInput.tsx
  packages/react-component-library/src/components/Radio/partials/StyledLabel.tsx
  packages/react-component-library/src/components/Radio/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/Radio/partials/StyledRadio.tsx
Labels: Package: react-component-library, Type: Enhancement

#1902 refactor(RadioEnhanced): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_radio-enhanced.scss
  packages/react-component-library/src/components/RadioEnhanced/RadioEnhanced.tsx
  packages/react-component-library/src/components/RadioEnhanced/partials/StyledDescription.tsx
  packages/react-component-library/src/components/RadioEnhanced/partials/StyledRadioEnhanced.tsx
Labels: Package: react-component-library, Type: Enhancement

#1894 refactor(List): Migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_list.scss
  packages/react-component-library/src/components/List/List.test.tsx
  packages/react-component-library/src/components/List/List.tsx
  packages/react-component-library/src/components/List/ListItem.tsx
  packages/react-component-library/src/components/List/partials/StyledItem.tsx
  packages/react-component-library/src/components/List/partials/StyledItemAction.tsx
  packages/react-component-library/src/components/List/partials/StyledItemContent.tsx
  packages/react-component-library/src/components/List/partials/StyledItemDescription.tsx
  packages/react-component-library/src/components/List/partials/StyledItemTitle.tsx
  packages/react-component-library/src/components/List/partials/StyledList.tsx
Labels: Package: react-component-library, Type: Enhancement

#1920 fix(SidebarE): Resolve legacy Chrome squashed icon
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledHandle.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledHead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledHeadIcon.tsx
Labels: Package: react-component-library, Type: Bug

#1921 fix(Select): Tweak styling and add additional story
  packages/react-component-library/src/components/Select/Select.stories.tsx
  packages/react-component-library/src/components/Select/Select.tsx
  packages/react-component-library/src/components/Select/partials/StyledMenu.tsx
Labels: Package: react-component-library, Type: Bug

#1909 refactor(Masthead): Migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_masthead.scss
  packages/css-framework/src/components/_scrollable-nav.scss
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/MastheadNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/MastheadNavItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/MastheadUser.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/MastheadUserItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/UserLink.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledBanner.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledMain.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledMasthead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledOption.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledOptions.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledScrollableNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledScrollableNavItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledScrollableNavItems.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledServiceName.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledSheetButton.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledTitle.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledUserItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledUserItemIcon.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledUserItemText.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledUserItemWrapper.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledUserItems.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledVerticalSeparator.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/constants.ts
Labels: Package: react-component-library, Type: Enhancement

#1925 refactor(Panel): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_panel.scss
  packages/react-component-library/src/components/Panel/Panel.tsx
Labels: Package: react-component-library, Type: Enhancement

#1923 refactor(Table): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_table.scss
  packages/react-component-library/src/components/Table/Table.tsx
  packages/react-component-library/src/components/Table/TableColumn.tsx
  packages/react-component-library/src/components/Table/partials/StyledTable.tsx
  packages/react-component-library/src/components/Table/partials/StyledTableCell.tsx
  packages/react-component-library/src/components/Table/partials/StyledTableColumn.tsx
  packages/react-component-library/src/components/Table/partials/StyledTableHead.tsx
  packages/react-component-library/src/components/Table/partials/StyledTableRow.tsx
  packages/react-component-library/src/components/Table/partials/StyledTableWrapper.tsx
Labels: Package: react-component-library, Type: Enhancement

#1939 refactor(Switch): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_sidenav.scss
  packages/css-framework/src/components/_switch.scss
  packages/react-component-library/src/components/Switch/ResponsiveSwitch.tsx
  packages/react-component-library/src/components/Switch/Switch.test.tsx
  packages/react-component-library/src/components/Switch/Switch.tsx
  packages/react-component-library/src/components/Switch/constants.ts
  packages/react-component-library/src/components/Switch/partials/StyledContainer.tsx
  packages/react-component-library/src/components/Switch/partials/StyledLegend.tsx
  packages/react-component-library/src/components/Switch/partials/StyledOption.tsx
  packages/react-component-library/src/components/Switch/partials/StyledSwitch.tsx
  packages/react-component-library/src/components/Switch/partials/SwitchInput.tsx
Labels: Package: react-component-library, Type: Enhancement

#1940 refactor(TabNav): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_tab-nav.scss
  packages/css-framework/src/components/_toggle.scss
  packages/css-framework/src/components/_transfer.scss
  packages/react-component-library/src/components/TabNav/TabNav.tsx
  packages/react-component-library/src/components/TabNav/TabNavItem.tsx
  packages/react-component-library/src/components/TabNav/constants.ts
  packages/react-component-library/src/components/TabNav/partials/StyledList.tsx
  packages/react-component-library/src/components/TabNav/partials/StyledTabNav.tsx
  packages/react-component-library/src/components/TabNav/partials/StyledTabNavItem.tsx
Labels: Package: react-component-library, Type: Enhancement

#1946 fix(SearchBar): Resolve git case sensitivity issue
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/SearchBar.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/SearchBar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/index.ts
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/partials/StyledButton.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/partials/StyledForm.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/partials/StyledSearchBar.tsx
Labels: Package: react-component-library, Type: Bug

#1945 fix(Select): Resolve visual regressions introduced by refactor
  packages/react-component-library/src/components/Select/partials/StyledMenu.tsx
  packages/react-component-library/src/components/Select/partials/StyledOption.tsx
Labels: Package: react-component-library, Type: Bug
