Repository Royal-Navy/design-system, pull requests merged in 2021-02, with the labels that each got.

#1956 fix(CheckboxEnhanced): Resolve unclickable label
  packages/react-component-library/src/components/CheckboxEnhanced/partials/StyledCheckboxEnhanced.tsx
Labels: Package: react-component-library, Type: Bug

#1952 refactor(TextInput): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_autosuggest.scss
  packages/css-framework/src/components/_textinput.scss
  packages/react-component-library/src/components/TextInput/TextInput.test.tsx
  packages/react-component-library/src/components/TextInput/TextInput.tsx
  packages/react-component-library/src/components/TextInput/partials/StyledAdornment.tsx
  packages/react-component-library/src/components/TextInput/partials/StyledInput.tsx
  packages/react-component-library/src/components/TextInput/partials/StyledInputWrapper.tsx
  packages/react-component-library/src/components/TextInput/partials/StyledLabel.tsx
  packages/react-component-library/src/components/TextInput/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/TextInput/partials/StyledTextInput.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/SearchBar.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/partials/StyledForm.tsx
Labels: Package: react-component-library, Type: Enhancement

#1954 refactor(NotificationPanel): Migrate to `styled-components`
  packages/css-framework/index.scss
  packages/css-framework/src/components/_notification-panel.scss
  packages/css-framework/src/components/_sidebar.scss
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/Notification.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/Notifications.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/partials/StyledAvatar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/partials/StyledCircle.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/partials/StyledContent.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/partials/StyledDescription.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/partials/StyledItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/partials/StyledItemNotRead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/partials/StyledList.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/partials/StyledNotRead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/partials/StyledNotification.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/partials/StyledNotifications.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/partials/StyledViewAll.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/partials/StyledWrapper.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/Sidebar.tsx
  packages/react-component-library/src/helpers.ts
Labels: Package: react-component-library, Type: Enhancement

#1958 refactor(DatePicker): Reuse partials pattern
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledDatePicker.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledDayPicker.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledFloatingBox.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledTetherComponent.tsx
Labels: Package: react-component-library, Type: Techdebt

#1971 build(ReactComponentLibrary): Add `babel-plugin-styled-components`
  packages/react-component-library/babel.config.js
  packages/react-component-library/package.json
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement

#1974 fix(CRATemplateRoyalNavy): Add missing type
  packages/cra-template-royalnavy/template/src/pages/Home/Home.tsx
Labels: Package: cra-template-royalnavy, Type: Bug

#1975 fix(DocsSite): Tweak hero CTA styling
  packages/docs-site/src/components/presenters/hero-banner/hero-banner.scss
Labels: Package: docs-site, Type: Bug

#1973 refactor(Timeline): Move to partials
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineDay.tsx
  packages/react-component-library/src/components/Timeline/TimelineDays.tsx
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/TimelineHeaderRow.tsx
  packages/react-component-library/src/components/Timeline/TimelineHour.tsx
  packages/react-component-library/src/components/Timeline/TimelineHours.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonth.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/TimelineNoData.tsx
  packages/react-component-library/src/components/Timeline/TimelineRow.tsx
  packages/react-component-library/src/components/Timeline/TimelineRows.tsx
  packages/react-component-library/src/components/Timeline/TimelineTodayMarker.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeek.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeeks.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledDay.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledDayTitle.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledDays.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledEvent.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledEventBar.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledEventTitle.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledHeader.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledHeaderRow.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledHour.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledHourTitle.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledHours.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledInner.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledMonth.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledMonthTitle.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledMonths.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledNavigation.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledNoData.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledNoEvents.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledRow.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledRowContent.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledRowHeader.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledRowWeek.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledRowWeeks.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledRowWeeksWrapper.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledRows.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledTimeline.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledTodayMarker.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledTodayMarkerWrapper.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledWeek.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledWeekTitle.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledWeeks.tsx
Labels: Package: react-component-library, Type: Techdebt

#1989 ci(GHA): Update npm smoketest
  .github/workflows/npmsmoketest.yml
Labels: Type: Devops

#2003 ci(GHA): Add design-tokens tests to b&tf
  .github/workflows/build_and_test_feature.yml
  .github/workflows/build_and_test_master.yml
Labels: Type: Devops

#1957 refactor(TabSet): Migrate to styled-components
  packages/css-framework/index.scss
  packages/css-framework/src/components/_tab-set.scss
  packages/react-component-library/src/components/TabSet/ScrollButton.tsx
  packages/react-component-library/src/components/TabSet/TabContent.tsx
  packages/react-component-library/src/components/TabSet/TabItem.tsx
  packages/react-component-library/src/components/TabSet/TabSet.test.tsx
  packages/react-component-library/src/components/TabSet/TabSet.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledBody.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledContent.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledHeader.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledNavigation.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledScrollButton.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledScrollLeft.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledScrollRight.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledTab.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledTabItem.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledTabSet.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledTabs.tsx
  packages/react-component-library/src/components/TabSet/useScrollableTabSet.ts
Labels: Package: react-component-library, Status: On hold, Type: Enhancement

#1980 Add ability to set TabSet tabs to full width
  packages/docs-site/src/library/pages/components/tab-set.md
  packages/react-component-library/src/components/TabSet/TabItem.tsx
  packages/react-component-library/src/components/TabSet/TabSet.stories.tsx
  packages/react-component-library/src/components/TabSet/TabSet.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledBody.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledTab.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledTabItem.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledTabSet.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledTabs.tsx
Labels: Package: react-component-library, Type: Enhancement

#2015 feat(Timeline): Move navigation to toolbar
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/TimelineToolbar.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledToolbar.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledToolbarButtons.tsx
Labels: Package: react-component-library, Type: Enhancement

#2027 fix(Timeline): Add bg colour to toolbar
  packages/react-component-library/src/components/Timeline/partials/StyledToolbar.tsx
Labels: Package: react-component-library, Type: Bug

#2035 fix(RangeSlider): Drill missing `mode` prop
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
Labels: Package: react-component-library, Type: Bug

#2036 chore(Security): Bump `socket.io` to `^2.4.0`
  package.json
  yarn.lock
Labels: Type: Security

#2037 fix(RangeSlider): Drill some additional base props
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
Labels: Package: react-component-library, Type: Bug

#2043 fix(Timeline): Pass params to custom render
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
Labels: Package: react-component-library, Type: Bug

#2046 fix(DocsSite): Prevent bleeding `TabSet`
  packages/docs-site/src/components/presenters/post-article/index.js
Labels: Package: docs-site, Type: Bug

#2025 Add scaling to Timeline
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineDay.tsx
  packages/react-component-library/src/components/Timeline/TimelineDays.tsx
  packages/react-component-library/src/components/Timeline/TimelineHour.tsx
  packages/react-component-library/src/components/Timeline/TimelineHours.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonth.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/TimelineRows.tsx
  packages/react-component-library/src/components/Timeline/TimelineToolbar.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeek.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeekColumns.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeeks.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/constants.ts
  packages/react-component-library/src/components/Timeline/context/__tests__/reducer.test.ts
  packages/react-component-library/src/components/Timeline/context/reducer.ts
  packages/react-component-library/src/components/Timeline/context/state.ts
  packages/react-component-library/src/components/Timeline/context/timeline_scales.ts
  packages/react-component-library/src/components/Timeline/context/types.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelinePosition.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelineScale.ts
  packages/react-component-library/src/components/Timeline/partials/StyledDay.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledHeader.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledHeaderRow.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledHour.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledHours.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledMonth.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledMonthMedium.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledMonthSmall.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledMonthTitleMedium.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledMonthTitleSmall.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledRowContent.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledToolbarButtons.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledToolbarSeparator.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledWeek.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledWeekColumn.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledWeekColumns.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledWeekColumnsWrapper.tsx
Labels: Exemplar: RS, Package: react-component-library, Type: Enhancement

#2049 docs(Timeline): Add note about hour visibility
  packages/docs-site/src/library/pages/timeline/index.md
Labels: Package: react-component-library, Type: Enhancement

#2040 Update month presentation in Timeline at 5 year level scale
  packages/react-component-library/src/components/Timeline/TimelineMonth.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledMonth.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledMonthTitleSmall.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledTodayMarker.tsx
Labels: Package: react-component-library, Type: Enhancement
