Repository Royal-Navy/design-system, pull requests merged in 2021-05, with the labels that each got.

#2329 chore(Security): Limit open Dependabot PRs to 5
  .github/dependabot.yml
Labels: Type: Devops

#2333 chore(Security): Bump `xmlhttprequest-ssl` via resolutions
  package.json
  yarn.lock
Labels: Type: Security

#2337 Revert "chore(Security): Bump `xmlhttprequest-ssl` via resolutions"
  package.json
  yarn.lock
Labels: Type: Devops, Type: Security

#2331 fix(RangeSlider): Respect `hasPercentage` prop
  packages/react-component-library/src/components/RangeSlider/Handle.tsx
  packages/react-component-library/src/components/RangeSlider/RangeSlider.stories.tsx
  packages/react-component-library/src/components/RangeSlider/RangeSlider.test.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledHandle.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledPercentage.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledRangeSlider.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledValue.tsx
Labels: Package: react-component-library, Type: Bug

#2332 Add `isFullWidth` to `Timeline` to present at full width
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineGrid.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonth.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonths.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/constants.ts
  packages/react-component-library/src/components/Timeline/context/index.tsx
  packages/react-component-library/src/components/Timeline/context/reducer.ts
  packages/react-component-library/src/components/Timeline/context/state.ts
  packages/react-component-library/src/components/Timeline/context/timeline_scales.ts
  packages/react-component-library/src/components/Timeline/context/types.ts
  packages/react-component-library/src/components/Timeline/helpers/children.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelineScale.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelineWidth.ts
  packages/react-component-library/src/components/Timeline/partials/StyledInner.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledMonth.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledRowHeader.tsx
Labels: Exemplar: RS, Package: react-component-library, Type: Bug, Type: UX

#2349 ci(Security): Add yarn audit wrapper script
  .github/workflows/build_and_test_feature.yml
  .github/workflows/build_and_test_master.yml
  package.json
  scripts/audit/audit.sh
Labels: Type: Devops

#2338 Add `Timeline` Cypress tests
  packages/react-component-library/README.md
  packages/react-component-library/cypress.json
  packages/react-component-library/cypress/plugins/index.ts
  packages/react-component-library/cypress/selectors/index.ts
  packages/react-component-library/cypress/selectors/timeline.ts
  packages/react-component-library/cypress/specs/timeline/index.spec.ts
  packages/react-component-library/cypress/support/commands.ts
  packages/react-component-library/cypress/support/index.ts
  packages/react-component-library/cypress/tsconfig.json
  packages/react-component-library/jest.config.js
  packages/react-component-library/package.json
  yarn.lock
Labels: Exemplar: RS, Framework: Timeline, Package: react-component-library, Type: Enhancement, Type: Techdebt

#2358 fix(DocsSite): Resolve responsive styling issues in legacy site
  packages/docs-site/src/components/presenters/Masthead/_masthead.scss
  packages/docs-site/src/components/presenters/bucket/_bucket.scss
  packages/docs-site/src/components/presenters/footer/_footer.scss
  packages/docs-site/src/components/presenters/hero-banner/hero-banner.scss
  packages/docs-site/src/components/presenters/hero-banner/index.js
  packages/docs-site/src/components/presenters/layout/_globals.scss
  packages/docs-site/src/library/images/components/alert/anatomy.svg
  packages/docs-site/src/library/images/components/alert/states.svg
  packages/docs-site/src/library/images/components/badge/anatomy.svg
  packages/docs-site/src/library/images/components/button/primary-hierarchy.svg
  packages/docs-site/src/library/images/components/dropdown/acunit.svg
  packages/docs-site/src/library/images/components/dropdown/states.svg
  packages/docs-site/src/library/images/components/notifications/anatomy.svg
  packages/docs-site/src/library/images/components/notifications/component.svg
  packages/docs-site/src/library/images/components/notifications/states.svg
Labels: Package: docs-site, Type: Bug

#2348 Work through items in SonarCloud
  packages/eslint-config-react/index.js
  packages/react-component-library/src/components/Breadcrumbs/partials/StyledIcon.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroupItem.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerInput.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledButton.tsx
  packages/react-component-library/src/components/DatePicker/useDatePickerOpenClose.ts
  packages/react-component-library/src/components/DatePicker/useInputKeys.ts
  packages/react-component-library/src/components/DatePicker/useInputValue.ts
  packages/react-component-library/src/components/Dialog/partials/StyledTitle.tsx
  packages/react-component-library/src/components/Drawer/Drawer.test.tsx
  packages/react-component-library/src/components/Dropdown/DropdownIndicatorIcon.tsx
  packages/react-component-library/src/components/Dropdown/DropdownLabel.tsx
  packages/react-component-library/src/components/Dropdown/partials/StyledAdornment.tsx
  packages/react-component-library/src/components/Dropdown/partials/StyledEndAdornment.tsx
  packages/react-component-library/src/components/Dropdown/partials/StyledIcon.tsx
  packages/react-component-library/src/components/Dropdown/partials/StyledIconArrowDropDown.tsx
  packages/react-component-library/src/components/Dropdown/partials/StyledLabel.tsx
  packages/react-component-library/src/components/Dropdown/partials/StyledStartAdornment.tsx
  packages/react-component-library/src/components/Modal/Footer.tsx
  packages/react-component-library/src/components/Modal/partials/StyledModal.tsx
  packages/react-component-library/src/components/Nav/Nav.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledDecreaseButton.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledIncreaseButton.tsx
  packages/react-component-library/src/components/NumberInput/useInputText.ts
  packages/react-component-library/src/components/Pagination/Pagination.tsx
  packages/react-component-library/src/components/Pagination/PaginationButton.tsx
  packages/react-component-library/src/components/Popover/Popover.tsx
  packages/react-component-library/src/components/Popover/partials/StyledFloatingBox.tsx
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
  packages/react-component-library/src/components/TabSet/useScrollableTabSet.ts
  packages/react-component-library/src/components/TextArea/TextArea.tsx
  packages/react-component-library/src/components/TextArea/partials/StyledTextArea.tsx
  packages/react-component-library/src/components/TextArea/partials/StyledTextAreaInput.tsx
  packages/react-component-library/src/components/TextArea/partials/StyledTextAreaLabel.tsx
  packages/react-component-library/src/components/TextArea/partials/StyledTextAreaLabelInner.tsx
  packages/react-component-library/src/components/TextArea/partials/StyledTextAreaWrapperProps.tsx
  packages/react-component-library/src/components/TextInput/TextInput.tsx
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonth.tsx
  packages/react-component-library/src/components/Timeline/TimelineTodayMarker.tsx
  packages/react-component-library/src/components/Timeline/context/reducer.ts
  packages/react-component-library/src/components/Timeline/helpers/children.ts
  packages/react-component-library/src/components/Timeline/partials/StyledDay.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledSheetButton.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/useSheet.ts
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledSubNavSheet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledUserSheet.tsx
  packages/react-component-library/src/hooks/useClickMenu.ts
  packages/react-component-library/src/hooks/useOpenClose.ts
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBoxContent.tsx
  packages/react-component-library/src/primitives/FloatingBox/partials/StyledContent.tsx
  packages/react-component-library/src/primitives/FloatingBox/partials/StyledFloatingBox.tsx
  packages/react-component-library/src/utils/logger.ts
Labels: Package: react-component-library, Type: Techdebt

#2361 fix(DatePicker): Do not style `--outside` days
  packages/react-component-library/src/components/DatePicker/partials/StyledDayPicker.tsx
Labels: Package: react-component-library, Type: Bug

#2364 fix(SidebarE): Tweak icon positioning
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNavItemIcon.tsx
Labels: Package: react-component-library, Type: Bug

#2362 fix(Modal): Resolve incorrect use of `ButtonGroup` wrapper
  packages/react-component-library/src/components/Modal/Footer.tsx
  packages/react-component-library/src/components/Modal/partials/StyledButtonGroup.tsx
Labels: Package: react-component-library, Type: Bug

#2363 fix(SidebarE): Use explicit refs with `Transition`
  packages/react-component-library/jest/setupTests.js
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarE.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarE.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarHandle.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNavItemE.tsx
Labels: Package: react-component-library, Type: Bug

#2374 ci(GHA): Add notifications workflow
  .github/workflows/project_notify.yml
Labels: Type: Devops

#2375 ci(GHA): Add rcl e2e tests to workflow
  .github/workflows/build_and_test_feature.yml
  .github/workflows/build_and_test_master.yml
Labels: Type: Devops

#2373 fix(SidebarE): Adjust expanded state icon positioning
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarE.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarE.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarE.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/context.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNavItemIcon.tsx
Labels: Package: react-component-library, Type: Bug

#2377 ci(GHA): Add skip ci to release workflows
  .github/workflows/manual_release.yml
  .github/workflows/release.yml
Labels: Type: Devops

#2378 Fix `DatePicker` error when `startDate` not specified
  packages/react-component-library/cypress/helpers.ts
  packages/react-component-library/cypress/selectors/DatePicker.ts
  packages/react-component-library/cypress/selectors/index.ts
  packages/react-component-library/cypress/specs/DatePicker/index.spec.ts
  packages/react-component-library/cypress/support/index.ts
  packages/react-component-library/package.json
  packages/react-component-library/src/components/DatePicker/DatePickerInput.tsx
  yarn.lock
Labels: Package: react-component-library, Type: Bug

#2379 fix(Modal): Set `max-height` and `overflow-y`
  packages/react-component-library/src/components/Modal/Modal.test.tsx
  packages/react-component-library/src/components/Modal/Modal.tsx
  packages/react-component-library/src/components/Modal/partials/StyledMain.tsx
Labels: Package: react-component-library, Type: Bug, Type: UX

#2393 ci(GHA): Fix typo in notify workflow
  .github/workflows/project_notify.yml
Labels: Type: Bug, Type: Devops

#2376 feat(StyledComponents): Create `GlobalStyleProvider`
  .github/workflows/npmsmoketest.yml
  package.json
  packages/cra-template-royalnavy/README.md
  packages/cra-template-royalnavy/template.json
  packages/cra-template-royalnavy/template/.env
  packages/cra-template-royalnavy/template/src/index.scss
  packages/cra-template-royalnavy/template/src/index.tsx
  packages/cra-template-royalnavy/template/src/layouts/Main/index.tsx
  packages/cra-template-royalnavy/template/src/pages/Home/Home.tsx
  packages/cra-template-royalnavy/template/src/pages/Home/_Home.scss
  packages/docs-site/src/library/pages/get-started/installation.md
  packages/docs-site/src/library/pages/packages/cra-template-royalnavy.md
  packages/docs-site/src/library/pages/packages/react-component-library.md
  packages/react-component-library/README.md
  packages/react-component-library/package.json
  packages/react-component-library/src/index.ts
  packages/react-component-library/src/styled-components/GlobalStyle.tsx
  packages/react-component-library/src/styled-components/index.ts
  packages/react-component-library/webpack/common.js
  yarn.lock
Labels: Package: css-framework, Package: react-component-library, Type: Enhancement

#2389 ci(GHA): Add exemption for v3 labelled issues
  .github/workflows/project_stale_issues.yml
Labels: Type: Devops
