Repository Royal-Navy/design-system, pull requests merged in 2021-03, with the labels that each got.

#2060 fix(Timeline): Use `range` at default zoom level
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/context/state.ts
  packages/react-component-library/src/components/Timeline/context/timeline_scales.ts
  packages/react-component-library/src/components/Timeline/context/types.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelineScale.ts
Labels: Framework: Timeline, Package: react-component-library, Type: Bug

#2063 fix(Timeline): Reduce day display threshold
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/TimelineDay.tsx
Labels: Framework: Timeline, Package: react-component-library, Type: Bug

#2065 Fix Timeline presentation if range prop is provided
  packages/react-component-library/src/components/Timeline/context/timeline_scales.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelineScale.ts
Labels: Framework: Timeline, Package: react-component-library, Type: Bug

#2066 fix(Timeline): Show all days if `endDate` supplied
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/context/index.tsx
  packages/react-component-library/src/components/Timeline/context/state.ts
  packages/react-component-library/src/components/Timeline/context/timeline_scales.ts
  packages/react-component-library/src/components/Timeline/context/types.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelineScale.ts
Labels: Framework: Timeline, Package: react-component-library, Type: Bug

#2076 feat(CSSFramework): Add missing container classes
  packages/css-framework/index.scss
  packages/css-framework/src/components/_container.scss
  packages/react-component-library/src/index.ts
  packages/react-component-library/src/primitives/Container/Container.stories.tsx
  packages/react-component-library/src/primitives/Container/Container.test.tsx
  packages/react-component-library/src/primitives/Container/Container.tsx
  packages/react-component-library/src/primitives/Container/constants.ts
  packages/react-component-library/src/primitives/Container/index.ts
  packages/react-component-library/src/primitives/Container/partials/StyledContainer.tsx
Labels: Package: css-framework, Package: react-component-library, Type: Bug, Type: Enhancement

#2081 Add ability to hide Timeline toolbar
  packages/docs-site/src/library/pages/timeline/index.md
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineToolbar.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
Labels: Exemplar: MS, Package: react-component-library, Type: Enhancement

#2093 ci(Sonar): Add sonarcloud
  .codeclimate.yml
  .codecov.yml
  .github/workflows/build_and_test_feature.yml
  .github/workflows/build_and_test_master.yml
  README.md
  packages/react-component-library/package.json
  sonar-project.properties
  yarn.lock
Labels: Type: Devops

#2099 ci(GHA): Remove check commits job from b&tm
  .github/workflows/build_and_test_master.yml
Labels: Type: Devops

#2111 docs(README): Remove CodeCov badge
  README.md
Labels: Type: Documentation

#2069 feat(Timeline): Add ability to customise row CSS
  packages/docs-site/src/library/pages/timeline/index.md
  packages/react-component-library/src/common/SubcomponentProps.ts
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/TimelineRow.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledRow.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledRowContent.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledRowHeader.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledSubComponent.ts
  packages/react-component-library/src/cssprop.d.ts
Labels: Exemplar: RS, Package: react-component-library, Type: Enhancement

#2115 chore(Security): Change w3 url references to https
  packages/react-component-library/src/components/NumberInput/EndAdornmentButton.tsx
  packages/react-component-library/src/icons/Right-Arrow.tsx
  packages/react-component-library/src/icons/Search.tsx
Labels: Type: Devops, Type: Security

#2105 ci(GHA): Fix caching issue in NPM smoketest
  .github/workflows/npmsmoketest.yml
Labels: Type: Devops

#2119 chore(Sonar): Exclude stories from coverage
  sonar-project.properties
Labels: Type: Devops

#2116 feat(Pagination): Update to condensed version
  packages/docs-site/src/library/pages/components/form/input.md
  packages/react-component-library/src/components/Pagination/Pagination.stories.tsx
  packages/react-component-library/src/components/Pagination/Pagination.test.tsx
  packages/react-component-library/src/components/Pagination/Pagination.tsx
  packages/react-component-library/src/components/Pagination/PaginationButton.tsx
  packages/react-component-library/src/components/Pagination/PaginationErrorMessage.tsx
  packages/react-component-library/src/components/Pagination/partials/StyledButton.tsx
  packages/react-component-library/src/components/Pagination/partials/StyledListItem.tsx
  packages/react-component-library/src/components/Pagination/partials/StyledTextInput.tsx
  packages/react-component-library/src/components/Pagination/partials/StyledTotalPages.tsx
  packages/react-component-library/src/components/Pagination/usePageChange.tsx
  packages/react-component-library/src/components/TextInput/TextInput.tsx
Labels: Exemplar: RS, Package: react-component-library, Type: Enhancement

#2051 test(RangeSlider): Retro fit range slider prop drill test
  packages/react-component-library/src/components/RangeSlider/Handle.tsx
  packages/react-component-library/src/components/RangeSlider/RangeSlider.test.tsx
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
  packages/react-component-library/src/components/RangeSlider/ThresholdTrack.tsx
  packages/react-component-library/src/components/RangeSlider/Tick.tsx
  packages/react-component-library/src/components/RangeSlider/Track.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledChunk.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledHandle.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledIconLeft.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledIconRight.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledLabel.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledMarker.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledRail.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledRailInner.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledRangeSlider.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledSlider.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledTicks.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledTrack.tsx
Labels: Package: react-component-library

#2125 Fix setting of startDate in Timeline
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/context/reducer.ts
Labels: Exemplar: LT, Framework: Timeline, Package: react-component-library, Type: Bug

#2124 fix(Timeline): Correctly set width of days
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/context/timeline_scales.ts
Labels: Exemplar: MS, Framework: Timeline, Package: react-component-library, Type: Bug

#2134 feat(Timeline): Add `hideScaling` prop
  packages/docs-site/src/library/pages/timeline/index.md
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/TimelineToolbar.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  sonar-project.properties
Labels: Exemplar: RS, Framework: Timeline, Package: react-component-library

#2135 Fix select box shadow when hovering over menu
  packages/react-component-library/src/components/Select/partials/StyledControl.tsx
  packages/react-component-library/src/components/Select/partials/StyledValueContainer.tsx
Labels: Exemplar: MS, Package: react-component-library, Type: Bug

#2136 fix(DatePicker): Fix end date outside of days
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledDayPicker.tsx
Labels: Exemplar: MS, Package: react-component-library, Type: Bug

#2138 fix(NumberInput): Make number unit unselectable
  packages/react-component-library/src/components/NumberInput/ClearButton.tsx
  packages/react-component-library/src/components/NumberInput/EndAdornment.tsx
  packages/react-component-library/src/components/NumberInput/EndAdornmentButton.tsx
  packages/react-component-library/src/components/NumberInput/Input.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
  packages/react-component-library/src/components/NumberInput/NumberInputUnit.tsx
  packages/react-component-library/src/components/NumberInput/StartAdornment.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledButton.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledClearButton.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledDecreaseButton.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledIncreaseButton.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledInput.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledInputWrapper.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledLabel.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledNumberInput.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledNumberInputControls.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledNumberInputOuterWrapper.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledNumberInputUnit.tsx
  packages/react-component-library/src/components/NumberInput/partials/StyledStartAdornment.tsx
Labels: Package: react-component-library, Type: Bug

#2137 fix(Timeline): Fix width of day
  packages/react-component-library/package.json
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/context/timeline_scales.ts
  yarn.lock
Labels: Exemplar: MS, Framework: Timeline, Package: react-component-library, Type: Bug

#2139 Fix date picker arrow click to close
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerInput.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledButton.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledDatePickerInput.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledInput.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledInputWrapper.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledLabel.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledSeparator.tsx
  packages/react-component-library/src/components/DatePicker/useDatePickerOpenClose.ts
  packages/react-component-library/src/hooks/useDocumentClick.ts
Labels: Exemplar: MS, Package: react-component-library, Type: Bug

#2140 style(Prettier): Use consistent config
  .eslintrc.js
  package.json
  packages/css-framework/package.json
  packages/css-framework/prettier.config.js
  packages/design-tokens/package.json
  packages/icon-library/package.json
  packages/icon-library/prettier.config.js
  yarn.lock
Labels: Package: eslint-config-react, Type: Techdebt

#2097 build(DesignTokens): Transpile rest/spread syntax for legacy IE
  packages/design-tokens/babel.config.js
  packages/design-tokens/package.json
  yarn.lock
Labels: Package: design-tokens, Type: Bug
