Repository Royal-Navy/design-system, pull requests merged in 2021-12, with the labels that each got.

#2845 feat(RangeSliderE): Base implementation with feature parity
  packages/react-component-library/cypress/selectors/RangeSliderE.ts
  packages/react-component-library/cypress/selectors/index.ts
  packages/react-component-library/cypress/specs/RangeSliderE/index.spec.ts
  packages/react-component-library/src/components/RangeSliderE/HandleE.tsx
  packages/react-component-library/src/components/RangeSliderE/RangeSliderE.stories.tsx
  packages/react-component-library/src/components/RangeSliderE/RangeSliderE.test.tsx
  packages/react-component-library/src/components/RangeSliderE/SliderE.tsx
  packages/react-component-library/src/components/RangeSliderE/ThresholdTrackE.tsx
  packages/react-component-library/src/components/RangeSliderE/TickE.tsx
  packages/react-component-library/src/components/RangeSliderE/TrackE.tsx
  packages/react-component-library/src/components/RangeSliderE/constants.ts
  packages/react-component-library/src/components/RangeSliderE/index.ts
  packages/react-component-library/src/components/RangeSliderE/partials/StyledChunk.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledHandle.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledHandleWrapper.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledIconLeft.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledIconRight.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledLabel.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledMarker.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledRail.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledRailInner.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledRangeSlider.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledSlider.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledTicks.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledTrack.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledValue.tsx
  packages/react-component-library/src/components/RangeSliderE/types.ts
  packages/react-component-library/src/components/RangeSliderE/useThresholdColor.ts
  packages/react-component-library/src/index.ts
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#2841 feat(DatePickerE): Initial updates based on v3 design spec
  packages/react-component-library/cypress/selectors/DatePicker.ts
  packages/react-component-library/cypress/specs/DatePickerE/index.spec.ts
  packages/react-component-library/src/components/DatePickerE/DatePickerE.stories.tsx
  packages/react-component-library/src/components/DatePickerE/DatePickerE.test.tsx
  packages/react-component-library/src/components/DatePickerE/DatePickerE.tsx
  packages/react-component-library/src/components/DatePickerE/DatePickerEInput.tsx
  packages/react-component-library/src/components/DatePickerE/constants.ts
  packages/react-component-library/src/components/DatePickerE/partials/StyledButton.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledDatePickerEInput.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledDayPicker.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledFloatingBox.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledIconEventWrapper.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledInput.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledInputWrapper.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledLabel.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledSeparator.tsx
  packages/react-component-library/src/components/DatePickerE/useCloseOnEscape.ts
  packages/react-component-library/src/components/DatePickerE/useDatePickerEOpenClose.ts
  packages/react-component-library/src/components/DatePickerE/useInputKeys.ts
  packages/react-component-library/src/components/DatePickerE/useRangeHoverOrFocusDate.ts
  packages/react-component-library/src/components/DatePickerE/useSelection.ts
  packages/react-component-library/src/components/Pagination/usePageChange.tsx
  packages/react-component-library/src/components/TabSet/TabSet.tsx
  packages/react-component-library/src/components/TextInputE/TextInputE.test.tsx
  packages/react-component-library/src/components/TextInputE/partials/StyledLabel.tsx
  packages/react-component-library/src/hooks/useDocumentClick.ts
  packages/react-component-library/src/primitives/FloatingBox/FloatingBoxContent.tsx
  packages/react-component-library/src/utils/keyCodes.ts
Labels: Package: react-component-library, Type: Development

#2881 test(NumberInputE): Add form Cypress tests
  packages/react-component-library/cypress/selectors/NumberInputE.ts
  packages/react-component-library/cypress/selectors/form.ts
  packages/react-component-library/cypress/selectors/index.ts
  packages/react-component-library/cypress/specs/NumberInputE/index.spec.ts
  packages/react-component-library/cypress/specs/forms/index.spec.ts
  packages/react-component-library/src/components/NumberInputE/NumberInputE.test.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.tsx
  packages/react-component-library/src/forms/formik/formik.stories.tsx
  packages/react-component-library/src/forms/react-hook-form/react-hook-form.stories.tsx
Labels: Package: react-component-library, Type: Development

#2896 fix(Timeline): Update scale index condition
  packages/react-component-library/cypress/specs/timeline/index.spec.ts
  packages/react-component-library/src/components/Timeline/context/reducer.ts
Labels: Type: Bug, Package: react-component-library, Package: compound-timeline, Type: Development

#2848 Add clear button to `SelectE`
  packages/react-component-library/src/components/SelectE/ClearButton.tsx
  packages/react-component-library/src/components/SelectE/SelectE.test.tsx
  packages/react-component-library/src/components/SelectE/SelectE.tsx
  packages/react-component-library/src/components/SelectE/partials/StyledInlineButton.tsx
  packages/react-component-library/src/components/SelectE/partials/StyledInlineButtons.tsx
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#2899 fix(NumberInputE): Sanitize input before invoking `parseInt`
  packages/react-component-library/src/components/NumberInputE/NumberInputE.test.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#2869 Add badge and icons to `SelectE`
  packages/react-component-library/src/components/SelectE/SelectE.stories.tsx
  packages/react-component-library/src/components/SelectE/SelectE.test.tsx
  packages/react-component-library/src/components/SelectE/SelectEOption.tsx
  packages/react-component-library/src/components/SelectE/partials/StyledOption.tsx
  packages/react-component-library/src/components/SelectE/partials/StyledOptionBadge.tsx
  packages/react-component-library/src/components/SelectE/partials/StyledOptionText.tsx
  packages/react-component-library/src/components/SelectE/partials/StyledOptionsWrapper.tsx
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#2903 fix(IconLibrary): SVG fill `currentColor` typo
  packages/icon-library/.babelrc
  packages/icon-library/src/assets/icons/action/motorcycle.svg
  packages/icon-library/src/assets/icons/av/mnone.svg
  packages/icon-library/src/assets/icons/av/moff.svg
  packages/icon-library/src/assets/icons/av/musvideo.svg
  packages/icon-library/src/assets/icons/device/battery-20.svg
  packages/icon-library/src/assets/icons/device/battery-30.svg
  packages/icon-library/src/assets/icons/device/battery-50.svg
  packages/icon-library/src/assets/icons/device/battery-60.svg
  packages/icon-library/src/assets/icons/device/battery-80.svg
  packages/icon-library/src/assets/icons/device/battery-90.svg
  packages/icon-library/src/assets/icons/device/battery-charging-20.svg
  packages/icon-library/src/assets/icons/device/battery-charging-30.svg
  packages/icon-library/src/assets/icons/device/battery-charging-50.svg
  packages/icon-library/src/assets/icons/device/battery-charging-60.svg
  packages/icon-library/src/assets/icons/device/battery-charging-80.svg
  packages/icon-library/src/assets/icons/device/battery-charging-90.svg
  packages/icon-library/src/assets/icons/device/grapheq.svg
  packages/icon-library/src/assets/icons/device/signal-cellular-1-bar.svg
  packages/icon-library/src/assets/icons/device/signal-cellular-2-bar.svg
  packages/icon-library/src/assets/icons/device/signal-cellular-3-bar.svg
  packages/icon-library/src/assets/icons/device/signal-cellular-connected-no-internet-0-bar.svg
  packages/icon-library/src/assets/icons/device/signal-cellular-connected-no-internet-1-bar.svg
  packages/icon-library/src/assets/icons/device/signal-cellular-connected-no-internet-2-bar.svg
  packages/icon-library/src/assets/icons/device/signal-cellular-connected-no-internet-3-bar.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-1-bar-lock.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-1-bar.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-2-bar-lock.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-2-bar.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-3-bar-lock.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-3-bar.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-statusbar-1-bar-26x24px.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-statusbar-2-bar-26x24px.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-statusbar-3-bar-26x24px.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-statusbar-4-bar-26x24px.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-statusbar-connected-no-internet-1-26x24px.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-statusbar-connected-no-internet-2-26x24px.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-statusbar-connected-no-internet-26x24px.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-statusbar-connected-no-internet-3-26x24px.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-statusbar-connected-no-internet-4-26x24px.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-statusbar-not-connected-26x24px.svg
  packages/icon-library/src/assets/icons/device/signal-wifi-statusbar-null-26x24px.svg
  packages/icon-library/src/assets/icons/image/musnote.svg
  packages/icon-library/src/assets/icons/notification/priority-high-12px.svg
  packages/icon-library/src/assets/icons/standards/barrels.svg
  packages/icon-library/src/assets/icons/standards/chain-break.svg
  packages/icon-library/src/assets/icons/standards/speed-fast.svg
  packages/icon-library/src/assets/icons/standards/speed-med.svg
  packages/icon-library/src/assets/icons/standards/speed-slow.svg
  packages/icon-library/src/assets/icons/table/sort-ascending.svg
  packages/icon-library/src/assets/icons/table/sort-descending.svg
  packages/icon-library/src/assets/icons/table/sort-unsorted.svg
  packages/react-component-library/src/components/SelectE/partials/StyledOption.tsx
  packages/react-component-library/src/components/Table/partials/StyledTableColumn.tsx
Labels: Type: Bug, Package: icon-library, Type: Development

#2900 fix(Select): Correct label positioning
  packages/react-component-library/src/components/Select/partials/StyledLabel.tsx
  packages/react-component-library/src/components/Select/partials/StyledValueContainer.tsx
Labels: Package: react-component-library, Type: Development

#2897 feat(DatePickerE): Preserve invalid typed dates
  packages/eslint-config-react/index.js
  packages/react-component-library/src/components/DatePickerE/DatePickerE.test.tsx
  packages/react-component-library/src/components/DatePickerE/DatePickerE.tsx
  packages/react-component-library/src/components/DatePickerE/DatePickerEInput.tsx
  packages/react-component-library/src/components/DatePickerE/constants.ts
  packages/react-component-library/src/components/DatePickerE/formatDatesForInput.ts
  packages/react-component-library/src/components/DatePickerE/useDatePickerEOpenClose.ts
  packages/react-component-library/src/components/DatePickerE/useInput.ts
  packages/react-component-library/src/components/DatePickerE/useInputKeys.ts
  packages/react-component-library/src/components/DatePickerE/useInputValue.ts
  packages/react-component-library/src/components/DatePickerE/useSelection.ts
Labels: Package: react-component-library, Type: Development

#2901 fix(Fieldset): Improve styling in IE11
  packages/react-component-library/src/components/Fieldset/Fieldset.tsx
Labels: Package: react-component-library, Type: Development

#2906 fix(Helpers): Make `isFirefox` helper node safe
  packages/react-component-library/src/helpers.ts
Labels: Type: Bug, Package: react-component-library, Type: Development

#2918 Fix CRA template under CRA v5 and npm v8
  packages/cra-template-defencedigital/template.json
  packages/cra-template-defencedigital/template/src/graphql/client.ts
  packages/cra-template-defencedigital/template/src/index.tsx
  packages/design-tokens/webpack/common.js
  packages/react-component-library/.storybook/main.js
  packages/react-component-library/package.json
  yarn.lock
Labels: Package: cra-template-royalnavy

#2914 Make Formik a peer dependency and fix CRA template
  .github/workflows/npmsmoketest.yml
  README.md
  packages/cra-template-defencedigital/template.json
  packages/react-component-library/README.md
  packages/react-component-library/package.json
Labels: Package: react-component-library, Package: cra-template-royalnavy

#2902 Make experimental component icons consistent
  packages/react-component-library/src/components/DatePickerE/DatePickerE.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledIconEventWrapper.tsx
  packages/react-component-library/src/components/InlineButtons/InlineButton.tsx
  packages/react-component-library/src/components/InlineButtons/partials/StyledIconWrapper.tsx
  packages/react-component-library/src/components/InlineButtons/partials/StyledInlineButton.tsx
  packages/react-component-library/src/components/InlineButtons/partials/StyledInlineButtons.tsx
  packages/react-component-library/src/components/NumberInputE/Buttons.tsx
  packages/react-component-library/src/components/NumberInputE/InlineButton.tsx
  packages/react-component-library/src/components/NumberInputE/partials/StyledDivider.tsx
  packages/react-component-library/src/components/NumberInputE/partials/StyledInlineButton.tsx
  packages/react-component-library/src/components/SelectE/ArrowButton.tsx
  packages/react-component-library/src/components/SelectE/ClearButton.tsx
  packages/react-component-library/src/components/SelectE/SelectE.test.tsx
  packages/react-component-library/src/components/SelectE/partials/StyledInlineButton.tsx
  packages/react-component-library/src/components/SelectE/partials/StyledInlineButtons.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#2919 Add ability to type and jump to item to `SelectE`
  packages/react-component-library/cypress/selectors/SelectE.ts
  packages/react-component-library/cypress/selectors/index.ts
  packages/react-component-library/cypress/specs/SelectE/index.spec.ts
  packages/react-component-library/src/components/SelectE/ArrowButton.tsx
  packages/react-component-library/src/components/SelectE/SelectE.stories.tsx
  packages/react-component-library/src/components/SelectE/SelectE.test.tsx
  packages/react-component-library/src/components/SelectE/SelectE.tsx
  packages/react-component-library/src/components/SelectE/SelectEOption.tsx
  packages/react-component-library/src/components/SelectE/partials/StyledOptions.tsx
  packages/react-component-library/src/components/SelectE/partials/StyledOptionsWrapper.tsx
Labels: Package: react-component-library, Type: Development

#2904 fix(SelectE): Add drop shadow
  packages/react-component-library/src/components/SelectE/partials/StyledOptionsWrapper.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#2922 build(GitHubActions): Restrict @dependabot automerge to patches
  .github/workflows/automerge.yml
Labels: Type: Devops, Type: Development

#2924 feat(NumberInputE): Add float step support
  packages/react-component-library/src/components/NumberInputE/Buttons.tsx
  packages/react-component-library/src/components/NumberInputE/Input.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.stories.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.test.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.tsx
  packages/react-component-library/src/components/NumberInputE/useValue.ts
  packages/react-component-library/src/helpers.ts
Labels: Type: Enhancement, Package: react-component-library, Type: Development
