Repository Royal-Navy/design-system, pull requests merged in 2021-11, with the labels that each got.

#2733 Add ButtonE component
  packages/react-component-library/src/components/ButtonE/ButtonE.stories.tsx
  packages/react-component-library/src/components/ButtonE/ButtonE.test.tsx
  packages/react-component-library/src/components/ButtonE/ButtonE.tsx
  packages/react-component-library/src/components/ButtonE/constants.ts
  packages/react-component-library/src/components/ButtonE/index.ts
  packages/react-component-library/src/components/ButtonE/partials/StyledButton.tsx
  packages/react-component-library/src/components/ButtonE/partials/StyledIconLoader.tsx
  packages/react-component-library/src/components/ButtonE/partials/StyledIconWrapper.tsx
  packages/react-component-library/src/components/ButtonE/partials/StyledText.tsx
  packages/react-component-library/src/forms/formik/formik.stories.tsx
  packages/react-component-library/src/forms/react-hook-form/react-hook-form.stories.tsx
  packages/react-component-library/src/index.ts
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#2762 Test Cypress console output
  packages/react-component-library/cypress/support/consoleErrors.ts
  packages/react-component-library/cypress/support/index.ts
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#2734 Add `NumberInputE` v3 component
  packages/react-component-library/src/components/Forms/constants.ts
  packages/react-component-library/src/components/Forms/index.ts
  packages/react-component-library/src/components/NumberInputE/Buttons.tsx
  packages/react-component-library/src/components/NumberInputE/InlineButton.tsx
  packages/react-component-library/src/components/NumberInputE/Input.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.stories.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.test.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.tsx
  packages/react-component-library/src/components/NumberInputE/constants.ts
  packages/react-component-library/src/components/NumberInputE/index.ts
  packages/react-component-library/src/components/NumberInputE/partials/StyledDivider.tsx
  packages/react-component-library/src/components/NumberInputE/partials/StyledFootnote.tsx
  packages/react-component-library/src/components/NumberInputE/partials/StyledIcon.tsx
  packages/react-component-library/src/components/NumberInputE/partials/StyledInlineButton.tsx
  packages/react-component-library/src/components/NumberInputE/partials/StyledInlineButtons.tsx
  packages/react-component-library/src/components/NumberInputE/partials/StyledInputWrapper.tsx
  packages/react-component-library/src/components/NumberInputE/partials/StyledNumberInput.tsx
  packages/react-component-library/src/components/NumberInputE/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/NumberInputE/partials/StyledPrefix.tsx
  packages/react-component-library/src/components/NumberInputE/partials/StyledSuffix.tsx
  packages/react-component-library/src/components/NumberInputE/useValue.ts
  packages/react-component-library/src/components/TextInputE/Input.tsx
  packages/react-component-library/src/components/TextInputE/partials/StyledInput.tsx
  packages/react-component-library/src/components/TextInputE/partials/StyledLabel.tsx
  packages/react-component-library/src/index.ts
  packages/react-component-library/src/styled-components/partials/StyledLabel.tsx
  packages/react-component-library/src/styled-components/partials/StyledOuterWrapper.tsx
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#2758 Enable rule of hook linting rules
  packages/eslint-config-react/index.js
  packages/react-component-library/src/components/DatePicker/useDatePickerOpenClose.ts
  packages/react-component-library/src/components/DatePicker/useInputKeys.ts
  packages/react-component-library/src/components/DatePicker/useInputValue.ts
  packages/react-component-library/src/components/NumberInput/useInputText.ts
  packages/react-component-library/src/components/Timeline/TimelineRow.tsx
  packages/react-component-library/src/components/Timeline/context/index.tsx
  packages/react-component-library/src/components/Timeline/context/reducer.ts
  packages/react-component-library/src/components/Timeline/context/timeline_scales.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelineFrame.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelineRowContent.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelineWidth.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelineZoom.ts
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/SearchBar.tsx
  packages/react-component-library/src/hooks/index.ts
  packages/react-component-library/src/hooks/useDocumentClick.ts
  packages/react-component-library/src/hooks/useHideShow.ts
  packages/react-component-library/src/hooks/useOpenClose.ts
  packages/react-component-library/src/hooks/usePrevious.ts
Labels: Package: react-component-library, Package: eslint-config-react, Type: Development

#2754 Add `SwitchE` component
  packages/react-component-library/cypress/selectors/form.ts
  packages/react-component-library/cypress/specs/forms/index.spec.ts
  packages/react-component-library/src/components/SwitchE/SwitchE.stories.tsx
  packages/react-component-library/src/components/SwitchE/SwitchE.test.tsx
  packages/react-component-library/src/components/SwitchE/SwitchE.tsx
  packages/react-component-library/src/components/SwitchE/SwitchEOption.tsx
  packages/react-component-library/src/components/SwitchE/constants.ts
  packages/react-component-library/src/components/SwitchE/index.ts
  packages/react-component-library/src/components/SwitchE/partials/StyledContainer.tsx
  packages/react-component-library/src/components/SwitchE/partials/StyledLegend.tsx
  packages/react-component-library/src/components/SwitchE/partials/StyledSwitch.tsx
  packages/react-component-library/src/components/SwitchE/partials/StyledSwitchOption.tsx
  packages/react-component-library/src/components/SwitchE/partials/SwitchInput.tsx
  packages/react-component-library/src/forms/formik/formik.stories.tsx
  packages/react-component-library/src/forms/react-hook-form/react-hook-form.stories.tsx
  packages/react-component-library/src/index.ts
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#2768 Fix Modal bugs in IE11
  packages/design-tokens/src/types.ts
  packages/react-component-library/src/components/Dialog/partials/StyledDialog.tsx
  packages/react-component-library/src/components/Modal/Footer.tsx
  packages/react-component-library/src/components/Modal/Modal.stories.tsx
  packages/react-component-library/src/components/Modal/partials/StyledButton.tsx
  packages/react-component-library/src/components/Modal/partials/StyledFooter.tsx
  packages/react-component-library/src/components/Modal/partials/StyledMain.tsx
  packages/react-component-library/src/components/Modal/partials/StyledPrimaryButton.tsx
  packages/react-component-library/src/components/Modal/partials/StyledSecondaryButton.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#2779 fix(DatePicker): Fix date validation when using custom date format
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/useInputKeys.ts
Labels: Type: Bug, Package: react-component-library, Type: Development

#2806 ci(GHA): Add failure notifications to release workflows
  .github/workflows/manual_release.yml
  .github/workflows/release.yml
Labels: Type: Devops, Size: Medium

#2808 fix(Storybook): Firefox Storybook docs obscures components
  .github/workflows/build_and_test_feature.yml
  .github/workflows/build_and_test_master.yml
  packages/react-component-library/.storybook/preview-head.html
  packages/react-component-library/cypress/selectors/ContextMenu.ts
  packages/react-component-library/cypress/selectors/index.ts
  packages/react-component-library/cypress/specs/ContextMenu/index.spec.ts
  packages/react-component-library/cypress/specs/DatePicker/index.spec.ts
  packages/react-component-library/src/components/ContextMenu/ContextMenu.stories.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#2812 chore(Build): Fix syntax error in master GitHub Actions workflow
  .github/workflows/build_and_test_master.yml
Labels: Type: Devops

#2807 Change default Storybook layout and improve Story sorting
  packages/react-component-library/.storybook/preview.js
  packages/react-component-library/src/components/Alert/Alert.stories.tsx
  packages/react-component-library/src/components/Avatar/Avatar.stories.tsx
  packages/react-component-library/src/components/Badge/Badge.stories.tsx
  packages/react-component-library/src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/react-component-library/src/components/Button/Button.stories.tsx
  packages/react-component-library/src/components/ButtonE/ButtonE.stories.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/react-component-library/src/components/CardFrame/CardFrame.stories.tsx
  packages/react-component-library/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-component-library/src/components/CheckboxE/CheckboxE.stories.tsx
  packages/react-component-library/src/components/CheckboxEnhanced/CheckboxEnhanced.stories.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.stories.tsx
  packages/react-component-library/src/components/DataList/DataList.stories.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/Dialog/Dialog.stories.tsx
  packages/react-component-library/src/components/DismissibleBanner/DismissableBanner.stories.tsx
  packages/react-component-library/src/components/Drawer/Drawer.stories.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.stories.tsx
  packages/react-component-library/src/components/List/List.stories.tsx
  packages/react-component-library/src/components/Modal/Modal.stories.tsx
  packages/react-component-library/src/components/Nav/Nav.stories.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.stories.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.stories.tsx
  packages/react-component-library/src/components/Pagination/Pagination.stories.tsx
  packages/react-component-library/src/components/Panel/Panel.stories.tsx
  packages/react-component-library/src/components/PhaseBanner/PhaseBanner.stories.tsx
  packages/react-component-library/src/components/Popover/Popover.stories.tsx
  packages/react-component-library/src/components/ProgressIndicator/ProgressIndicator.stories.tsx
  packages/react-component-library/src/components/Radio/Radio.stories.tsx
  packages/react-component-library/src/components/RadioE/RadioE.stories.tsx
  packages/react-component-library/src/components/RadioEnhanced/RadioEnhanced.stories.tsx
  packages/react-component-library/src/components/RangeSlider/RangeSlider.stories.tsx
  packages/react-component-library/src/components/Select/Select.stories.tsx
  packages/react-component-library/src/components/Switch/Switch.stories.tsx
  packages/react-component-library/src/components/SwitchE/SwitchE.stories.tsx
  packages/react-component-library/src/components/TabNav/TabNav.stories.tsx
  packages/react-component-library/src/components/TabSet/TabSet.stories.tsx
  packages/react-component-library/src/components/Table/Table.stories.tsx
  packages/react-component-library/src/components/TextArea/TextArea.stories.tsx
  packages/react-component-library/src/components/TextAreaE/TextAreaE.stories.tsx
  packages/react-component-library/src/components/TextInput/TextInput.stories.tsx
  packages/react-component-library/src/components/TextInputE/TextInputE.stories.tsx
  packages/react-component-library/src/components/ThemedExample/ThemedExample.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Toast/Toast.stories.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/Sidebar.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarE.stories.tsx
  packages/react-component-library/src/forms/formik/formik.stories.tsx
  packages/react-component-library/src/forms/react-hook-form/react-hook-form.stories.tsx
  packages/react-component-library/src/primitives/Container/Container.stories.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.stories.tsx
Labels: Package: react-component-library, Type: Development

#2814 Review CI artifacts
  .github/workflows/build_and_test_feature.yml
  .github/workflows/build_and_test_master.yml
  packages/design-tokens/package.json
  packages/react-component-library/package.json
  yarn.lock
Labels: Type: Devops

#2813 docs(Storybook): Enable dynamic source code generation
  packages/react-component-library/.storybook/preview.js
  packages/react-component-library/src/components/ContextMenu/ContextMenu.stories.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.stories.tsx
  packages/react-component-library/src/components/Modal/Modal.stories.tsx
  packages/react-component-library/src/components/ProgressIndicator/ProgressIndicator.stories.tsx
  packages/react-component-library/src/components/Select/Select.stories.tsx
  packages/react-component-library/src/components/Table/Table.stories.tsx
Labels: Package: react-component-library

#2775 fix(Timeline): Use date control for stories
  packages/react-component-library/jest.config.js
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/Popover/Popover.test.tsx
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/Notification.test.tsx
Labels: Type: Bug, Package: compound-timeline, Type: Development

#2831 fix(CSSFramework): Stylelint not working as intended
  packages/css-framework/.stylelintrc
  packages/css-framework/package.json
  packages/css-framework/src/_config.scss
  packages/css-framework/src/abstracts/functions/_color.scss
  packages/css-framework/src/abstracts/functions/_map-deep-get.scss
  packages/css-framework/src/abstracts/functions/_map-get-default.scss
  packages/css-framework/src/abstracts/functions/_non-destructive-map-merge.scss
  packages/css-framework/src/abstracts/functions/_shadow.scss
  packages/css-framework/src/abstracts/functions/_spacing.scss
  packages/css-framework/src/abstracts/functions/_typography.scss
  packages/css-framework/src/abstracts/mixins/_breakpoint.scss
  packages/css-framework/src/abstracts/mixins/_clearfix.scss
  packages/css-framework/src/abstracts/mixins/_shadow.scss
  packages/css-framework/src/abstracts/mixins/_typography.scss
  packages/css-framework/src/abstracts/mixins/_zindex.scss
  packages/css-framework/src/base/_fonts.scss
  packages/css-framework/src/components/_card-frame.scss
  packages/css-framework/src/components/_nav.scss
  packages/css-framework/src/components/_sidebar.scss
  packages/css-framework/src/contexts/_defaults.scss
  packages/css-framework/src/objects/_divider.scss
  packages/css-framework/src/objects/_wrapper.scss
  packages/css-framework/src/utilities/_clearfix.scss
  packages/css-framework/src/utilities/_flex.scss
  packages/css-framework/src/vars/_timing.scss
  yarn.lock
Labels: Type: Bug, Package: css-framework, Type: Development

#2826 feat(DatePickerE): Create component as fork of DatePicker
  packages/react-component-library/cypress/specs/DatePickerE/index.spec.ts
  packages/react-component-library/src/components/DatePickerE/DatePickerE.stories.tsx
  packages/react-component-library/src/components/DatePickerE/DatePickerE.test.tsx
  packages/react-component-library/src/components/DatePickerE/DatePickerE.tsx
  packages/react-component-library/src/components/DatePickerE/DatePickerEInput.tsx
  packages/react-component-library/src/components/DatePickerE/constants.ts
  packages/react-component-library/src/components/DatePickerE/index.ts
  packages/react-component-library/src/components/DatePickerE/partials/StyledButton.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledDatePickerEInput.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledDayPicker.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledInput.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledInputWrapper.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledLabel.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledSeparator.tsx
  packages/react-component-library/src/components/DatePickerE/types.ts
  packages/react-component-library/src/components/DatePickerE/useDatePickerEOpenClose.ts
  packages/react-component-library/src/components/DatePickerE/useInputKeys.ts
  packages/react-component-library/src/components/DatePickerE/useInputValue.ts
  packages/react-component-library/src/components/DatePickerE/useSelection.ts
  packages/react-component-library/src/hooks/useExternalId.ts
  packages/react-component-library/src/index.ts
Labels: Package: react-component-library, Type: Development

#2840 fix(StyledOuterWrapper): Add disabled state cursor style
  packages/react-component-library/src/components/TextAreaE/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/styled-components/partials/StyledOuterWrapper.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#2839 fix(Fieldset): Resolve CheckboxE and RadioE invalid state styling
  packages/react-component-library/babel.config.js
  packages/react-component-library/src/components/CheckboxE/CheckboxE.stories.tsx
  packages/react-component-library/src/components/Fieldset/Fieldset.tsx
  packages/react-component-library/src/components/RadioE/RadioE.stories.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development
