Repository Royal-Navy/design-system, pull requests merged in 2021-06, with the labels that each got.

#2395 fix(SidebarE): Resolve `Sheet` positioning issues
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/Sheet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/useSheet.ts
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNotifications.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarSubNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarUserE.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNotificationsSheet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledSubNavSheet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledUserSheet.tsx
Labels: Package: react-component-library, Type: Bug

#2406 build(Storybook): Resolve `typescript` to `4.2.2`
  package.json
  yarn.lock
Labels: Package: react-component-library, Type: Bug

#2404 docs(Timeline): Fix dead link
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
Labels: Package: react-component-library, Type: Documentation

#2405 docs(ButtonGroup): Fix typo
  packages/docs-site/src/library/pages/components/buttongroup.md
Labels: Package: docs-site, Type: Documentation

#2411 fix(ReactComponentLibrary): Do not bundle fonts package
  packages/cra-template-royalnavy/template/src/index.tsx
  packages/docs-site/src/library/pages/get-started/installation.md
  packages/docs-site/src/library/pages/packages/react-component-library.md
  packages/react-component-library/README.md
  packages/react-component-library/package.json
  packages/react-component-library/src/styled-components/GlobalStyle.tsx
  yarn.lock
Labels: Package: fonts, Package: react-component-library, Type: Bug

#2396 fix(Timeline): Make rows accessible when scaling
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/TimelineColumnHeader.tsx
  packages/react-component-library/src/components/Timeline/TimelineDay.tsx
  packages/react-component-library/src/components/Timeline/TimelineDays.tsx
  packages/react-component-library/src/components/Timeline/TimelineHour.tsx
  packages/react-component-library/src/components/Timeline/TimelineHours.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeek.tsx
  packages/react-component-library/src/components/Timeline/TimelineWeeks.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/constants.ts
Labels: Framework: Timeline, Package: react-component-library, Type: Bug

#2409 test(ReactComponentLibrary): Resolve `Jest` + `Cypress` clashing types
  package.json
  packages/react-component-library/cypress/specs/DatePicker/index.spec.ts
  packages/react-component-library/cypress/specs/timeline/index.spec.ts
  packages/react-component-library/cypress/tsconfig.json
  packages/react-component-library/package.json
  packages/react-component-library/tsconfig.json
  yarn.lock
Labels: Package: react-component-library, Type: Bug

#2413 Ci/cypressfix
  .github/workflows/build_and_test_feature.yml
  .github/workflows/build_and_test_master.yml
Labels: Type: Bug, Type: Devops

#2422 Ci/labelupdate
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/project_issues.yml
  .github/workflows/project_notify.yml
  .github/workflows/project_stale_issues.yml
Labels: Type: Devops

#2416 Fix `DatePicker` showing error during range selection
  package.json
  packages/design-tokens/src/formats/typescriptES6.js
  packages/react-component-library/cypress/specs/DatePicker/index.spec.ts
  packages/react-component-library/src/components/DatePicker/DatePickerInput.tsx
  packages/react-component-library/src/components/DatePicker/useInputValue.ts
  yarn.lock
Labels: Package: react-component-library, Type: Bug

#2429 ci(GHA): Update triage url
  .github/workflows/project_notify.yml
Labels: Type: Bug, Type: Devops

#2414 Expose `useTimelineFrame` and `useTimelineZoom`
  packages/react-component-library/src/components/Timeline/TimelineToolbar.tsx
  packages/react-component-library/src/components/Timeline/hooks/index.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelineFrame.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelinePosition.ts
  packages/react-component-library/src/components/Timeline/hooks/useTimelineZoom.ts
Labels: Exemplar: NS, Package: react-component-library, Type: Enhancement

#2407 fix(Select): Allow clear from outside component
  packages/react-component-library/src/components/Select/Select.test.tsx
  packages/react-component-library/src/components/Select/Select.tsx
  packages/react-component-library/src/components/Select/useSelectedOption.ts
Labels: Package: react-component-library, Type: Bug

#2426 docs(Checkbox): Use DocBlock instead of logger to mark deprecation
  packages/react-component-library/src/components/Checkbox/Checkbox.tsx
Labels: Docs: Component, Package: react-component-library, Type: Bug

#2447 ci(Cypress): Add fix for missing binary issue
  .github/workflows/build_and_test_feature.yml
  .github/workflows/build_and_test_master.yml
Labels: Type: Bug, Type: Devops

#2412 feat(Hooks): Expose `useFloatingElement` for positioning
  package.json
  packages/css-framework/src/components/_sidebar.scss
  packages/react-component-library/README.md
  packages/react-component-library/jest/setupTests.js
  packages/react-component-library/package.json
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/constants.ts
  packages/react-component-library/src/components/DatePicker/partials/StyledDatePicker.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledDatePickerInput.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledDayPicker.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledFloatingBox.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledTetherComponent.tsx
  packages/react-component-library/src/components/Popover/Popover.stories.tsx
  packages/react-component-library/src/components/Popover/Popover.test.tsx
  packages/react-component-library/src/components/Popover/Popover.tsx
  packages/react-component-library/src/components/Popover/constants.ts
  packages/react-component-library/src/components/Popover/partials/StyledFloatingBox.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/MastheadUser.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledMasthead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledOption.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/partials/StyledNotifications.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/Sheet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/constants.ts
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/sheetPosition.test.ts
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/sheetPosition.ts
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/useSheet.ts
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/Sidebar.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/Sidebar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarE.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNotifications.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarSubNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarUserE.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarUserItemE.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNavItemText.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledNotificationsSheet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledSheetList.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledSidebar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledSubNavSheet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/partials/StyledUserSheet.tsx
  packages/react-component-library/src/hooks/index.ts
  packages/react-component-library/src/hooks/useDocumentClick.ts
  packages/react-component-library/src/hooks/useFloatingElement.ts
  packages/react-component-library/src/hooks/useHideShow.ts
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.stories.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.test.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.tsx
  packages/react-component-library/src/primitives/FloatingBox/constants.ts
  packages/react-component-library/src/primitives/FloatingBox/index.ts
  packages/react-component-library/src/primitives/FloatingBox/partials/StyledArrow.tsx
  packages/react-component-library/src/primitives/FloatingBox/partials/StyledContent.tsx
  packages/react-component-library/src/primitives/FloatingBox/partials/StyledFloatingBox.tsx
  packages/react-component-library/src/primitives/FloatingBox/partials/StyledTarget.tsx
  packages/react-component-library/src/primitives/FloatingBox/types.ts
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement, Type: Techdebt

#2448 feat(Select): Add ability to remove clear button
  packages/react-component-library/src/components/Select/Select.stories.tsx
  packages/react-component-library/src/components/Select/Select.test.tsx
  packages/react-component-library/src/components/Select/Select.tsx
Labels: Exemplar: MS, Package: react-component-library, Type: Enhancement

#2451 perf(NewRelic): Remove script tags included in error
  packages/docs-site/static/scripts/newrelic.js
  packages/react-component-library/.storybook/preview-head.html
Labels: Type: Bug, Type: Devops

#2452 feat(Toast): Add Toast design documentation
  packages/docs-site/src/library/images/components/toast/anatomy.svg
  packages/docs-site/src/library/images/components/toast/component.svg
  packages/docs-site/src/library/images/components/toast/states.svg
  packages/docs-site/src/library/pages/components/toast.md
Labels: Docs: Component, Package: docs-site

#2460 fix(DocsSite): Adjust top-level navigation order
  packages/docs-site/src/components/presenters/Masthead/index.js
  packages/docs-site/src/library/pages/about/index.md
Labels: Package: docs-site, Type: Bug

#2462 docs(README): Update quick start snippet
  README.md
Labels: Docs: Readme

#2461 fix(DatePicker): Close single picker on selection
  packages/react-component-library/cypress/specs/DatePicker/index.spec.ts
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/constants.ts
  packages/react-component-library/src/components/DatePicker/types.ts
  packages/react-component-library/src/components/DatePicker/useSelection.ts
  packages/react-component-library/src/primitives/FloatingBox/partials/StyledFloatingBox.tsx
Labels: Package: react-component-library, Type: Bug

#2449 fix(DatePicker): Resolve tab order issues
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledButton.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledDayPicker.tsx
  packages/react-component-library/src/components/DatePicker/useInputKeys.ts
Labels: Package: react-component-library, Type: Bug

#2474 ci(GHA): Exclude sonar scans for dependabot PR's
  .github/workflows/build_and_test_feature.yml
Labels: Type: Bug, Type: Devops

#2476 Ci/dependabot
  .github/dependabot.yml
  .github/workflows/automerge.yml
Labels: Type: Devops, Type: Enhancement

#2459 Add `TextInputE`
  packages/docs-site/src/library/pages/styles/colours.md
  packages/react-component-library/cypress/selectors/index.ts
  packages/react-component-library/package.json
  packages/react-component-library/src/components/TextInputE/Input.tsx
  packages/react-component-library/src/components/TextInputE/TextInputE.stories.tsx
  packages/react-component-library/src/components/TextInputE/TextInputE.test.tsx
  packages/react-component-library/src/components/TextInputE/TextInputE.tsx
  packages/react-component-library/src/components/TextInputE/index.ts
  packages/react-component-library/src/components/TextInputE/partials/StyledAdornment.tsx
  packages/react-component-library/src/components/TextInputE/partials/StyledInput.tsx
  packages/react-component-library/src/components/TextInputE/partials/StyledInputWrapper.tsx
  packages/react-component-library/src/components/TextInputE/partials/StyledLabel.tsx
  packages/react-component-library/src/components/TextInputE/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/TextInputE/partials/StyledTextInput.tsx
  packages/react-component-library/src/helpers.ts
  packages/react-component-library/src/hooks/__tests__/useInputValue.test.ts
  packages/react-component-library/src/hooks/useInputValue.ts
  packages/react-component-library/src/index.ts
  packages/react-component-library/src/styled-components/inpute.ts
  yarn.lock
Labels: Package: react-component-library, Type: Enhancement

#2490 docs(README): Update installation code block
  README.md
  packages/docs-site/src/library/pages/get-started/installation.md
  packages/docs-site/src/library/pages/packages/react-component-library.md
  packages/react-component-library/README.md
Labels: Docs: Readme

#2475 feat(DesignTokens): Enable styled-components theming
  packages/design-tokens/config.json
  packages/design-tokens/src/__tests__/selectors.test.tsx
  packages/design-tokens/src/getters.ts
  packages/design-tokens/src/index.ts
  packages/design-tokens/src/selectors.ts
  packages/design-tokens/src/themes/dark.ts
  packages/design-tokens/src/themes/light.ts
  packages/design-tokens/src/tokens/dark/animation.json
  packages/design-tokens/src/tokens/dark/breakpoints.json
  packages/design-tokens/src/tokens/dark/colors.json
  packages/design-tokens/src/tokens/dark/shadows.json
  packages/design-tokens/src/tokens/dark/spacing.json
  packages/design-tokens/src/tokens/dark/typography.json
  packages/design-tokens/src/tokens/dark/zindex.json
  packages/design-tokens/src/tokens/light/animation.json
  packages/design-tokens/src/tokens/light/breakpoints.json
  packages/design-tokens/src/tokens/light/colors.json
  packages/design-tokens/src/tokens/light/shadows.json
  packages/design-tokens/src/tokens/light/spacing.json
  packages/design-tokens/src/tokens/light/typography.json
  packages/design-tokens/src/tokens/light/zindex.json
  packages/design-tokens/src/types.ts
  packages/react-component-library/README.md
  packages/react-component-library/package.json
  packages/react-component-library/src/components/ThemedExample/ThemedExample.stories.tsx
  packages/react-component-library/src/components/ThemedExample/ThemedExample.tsx
  packages/react-component-library/src/components/ThemedExample/index.ts
  packages/react-component-library/src/styled-components/GlobalStyle.tsx
  yarn.lock
Labels: Package: design-tokens, Package: react-component-library, Type: Enhancement
