Repository Royal-Navy/design-system, pull requests merged in 2021-04, with the labels that each got.

#2158 Ci/project automation
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/issues_to_candidates.yml
  .github/workflows/project_issues.yml
  .github/workflows/update_epics.yml
  .github/workflows/upnext.yml
Labels: Type: Devops

#2160 ci(GHA): Update action version to master
  .github/workflows/project_issues.yml
Labels: Type: Devops

#2168 Fix ESLint config clashing with Prettier multilines
  packages/eslint-config-react/index.js
  packages/react-component-library/src/components/Badge/Badge.stories.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.test.tsx
  packages/react-component-library/src/components/CardFrame/partials/StyledCardFrame.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckmark.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.stories.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.test.tsx
  packages/react-component-library/src/components/ContextMenu/partials/StyledContextMenu.tsx
  packages/react-component-library/src/components/DataList/DataList.test.tsx
  packages/react-component-library/src/components/DataList/partials/StyledHeader.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledDatePicker.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledTetherComponent.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.stories.tsx
  packages/react-component-library/src/components/Dropdown/DropdownLabel.tsx
  packages/react-component-library/src/components/FormikGroup/FormikGroup.test.tsx
  packages/react-component-library/src/components/Nav/Nav.stories.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.test.tsx
  packages/react-component-library/src/components/Panel/Panel.test.tsx
  packages/react-component-library/src/components/Popover/Popover.test.tsx
  packages/react-component-library/src/components/Popover/Popover.tsx
  packages/react-component-library/src/components/ProgressIndicator/ProgressIndicator.test.tsx
  packages/react-component-library/src/components/RangeSlider/RangeSlider.test.tsx
  packages/react-component-library/src/components/TabSet/TabSet.test.tsx
  packages/react-component-library/src/components/TabSet/TabSet.tsx
  packages/react-component-library/src/components/Table/Table.test.tsx
  packages/react-component-library/src/components/Timeline/TimelineEvent.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledTodayMarker.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledToolbarSeparator.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledWeekColumn.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledWeekTitle.tsx
  packages/react-component-library/src/components/Toast/Toast.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/MastheadUser.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/Notifications.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/SearchBar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/Sidebar.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/Sidebar.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/Sidebar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/SidebarUser.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/Sidebar.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNotifications.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarSubNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarUser.tsx
  packages/react-component-library/src/icons/Logo.tsx
Labels: Package: eslint-config-react, Type: Bug

#2169 ci(GHA): Add stale issues workflow
  .github/workflows/project_stale_issues.yml
Labels: Type: Devops

#2187 fix(Checkbox): Align checkmark
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckmark.tsx
Labels: Package: react-component-library, Type: Bug

#2179 feat(Timeline): Set `width` of rows
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Timeline/TimelineRows.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/partials/StyledRows.tsx
Labels: Exemplar: RS, Type: Enhancement

#2249 build(DocsSite): Downgrade Gatsby to fix development builds
  package.json
  packages/docs-site/package.json
  yarn.lock
Labels: Package: docs-site

#2251 build(Storybook): Fix webpack build loop
  packages/react-component-library/.storybook/main.js
Labels: Package: react-component-library, Type: Bug

#2151 Add the ability for users to type the date into `DatePicker`
  packages/docs-site/src/library/pages/components/date-picker.md
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/DatePickerInput.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledDatePickerInput.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledLabel.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/DatePicker/useDatePickerOpenClose.ts
  packages/react-component-library/src/components/DatePicker/useInputValue.ts
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
  packages/react-component-library/src/components/TextArea/TextArea.tsx
  packages/react-component-library/src/components/TextInput/TextInput.tsx
  packages/react-component-library/src/hooks/useFocus.ts
  packages/react-component-library/src/styled-components/input.ts
Labels: Exemplar: LT, Type: Enhancement

#2266 fix(Timeline): Set `endDate` if bound by dates
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/context/reducer.ts
Labels: Framework: Timeline, Package: react-component-library, Type: Bug

#2270 fix(Select): Resolve input styling issue
  packages/react-component-library/src/components/Select/partials/StyledControl.tsx
  packages/react-component-library/src/components/Select/partials/StyledInput.tsx
  packages/react-component-library/src/components/Select/partials/StyledInputContainer.tsx
  packages/react-component-library/src/components/Select/partials/StyledSingleValue.tsx
  packages/react-component-library/src/components/Select/partials/StyledValueContainer.tsx
Labels: Package: react-component-library, Type: Bug

#2273 ci(GHA): Remove codecov upload from workflows
  .github/workflows/build_and_test_feature.yml
  .github/workflows/build_and_test_master.yml
Labels: Type: Devops

#2265 fix(DismissibleBanner): Resolve checkbox alignment
  packages/react-component-library/src/components/Checkbox/partials/StyledLabel.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/FormikGroup/FormikGroup.tsx
  packages/react-component-library/src/components/Radio/partials/StyledLabel.tsx
  packages/react-component-library/src/components/Radio/partials/StyledOuterWrapper.tsx
Labels: Package: react-component-library, Type: Bug

#2291 fix(Timeline): Increase threshold to display day
  packages/react-component-library/src/components/Timeline/TimelineDay.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
Labels: Exemplar: LT, Framework: Timeline, Package: react-component-library, Type: Enhancement

#2271 Fix pagination error hiding input
  packages/react-component-library/src/components/Pagination/Pagination.test.tsx
  packages/react-component-library/src/components/Pagination/PaginationErrorMessage.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.test.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.tsx
  packages/react-component-library/src/components/Tooltip/partials/StyledContent.tsx
  packages/react-component-library/src/components/Tooltip/partials/StyledMessage.tsx
  packages/react-component-library/src/components/Tooltip/partials/StyledTitle.tsx
  packages/react-component-library/src/components/Tooltip/partials/StyledTooltip.tsx
Labels: Package: react-component-library, Type: Bug

#2294 fix(ContextMenu): Disable scrolling when open
  packages/react-component-library/src/components/ContextMenu/ContextMenu.test.tsx
  packages/react-component-library/src/hooks/useClickMenu.ts
Labels: Exemplar: MS, Package: react-component-library, Type: Bug

#2275 docs(Storybook): Display Docs tab on initial load
  packages/react-component-library/.storybook/preview.js
Labels: Package: react-component-library, Type: Documentation, Type: Enhancement

#2296 fix(RangeSlider): Add missing CustomMode type
  packages/react-component-library/src/components/RangeSlider/RangeSlider.test.tsx
  packages/react-component-library/src/components/RangeSlider/Slider.tsx
Labels: Package: react-component-library, Type: Bug

#2297 build(Chromatic): Update Chromatic CLI usage
  .github/workflows/build_and_test_feature.yml
Labels: Type: Bug, Type: Devops

#2298 Add ability to open `ContextMenu` on the left
  packages/react-component-library/src/components/ContextMenu/ContextMenu.test.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.tsx
  packages/react-component-library/src/hooks/useClickMenu.ts
Labels: Exemplar: RS, Package: react-component-library, Type: Enhancement

#2313 docs(CompoundTimeline): Migrate to new docs
  packages/docs-site/src/components/presenters/Masthead/index.js
  packages/docs-site/src/index.scss
  packages/docs-site/src/library/pages/timeline/index.md
  packages/docs-site/src/templates/framework.js
  packages/docs-site/src/templates/framework.scss
  packages/react-component-library/src/components/Timeline/README.md
Labels: Package: docs-site, Type: Devops
