Repository Royal-Navy/design-system, pull requests merged in 2021-07, with the labels that each got.

#2562 fix(Storybook): Add more specific actions
  packages/react-component-library/src/components/TextInput/TextInput.stories.tsx
  packages/react-component-library/src/components/TextInputE/TextInputE.stories.tsx
Labels: Package: react-component-library, Type: Bug

#2560 fix(FloatingBox): Handle `isVisible` using `Transition`
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/Popover/Popover.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.test.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.tsx
  packages/react-component-library/src/primitives/FloatingBox/partials/StyledFloatingBox.tsx
Labels: Package: react-component-library, Type: Bug

#2574 ci(GHA): Add branch deploy workflow
  .github/workflows/branch_deploy.yml
Labels: Type: Devops

#2554 feat(Forms): Implement baseline CheckboxE and RadioE components
  packages/react-component-library/src/components/CheckboxE/CheckboxE.stories.tsx
  packages/react-component-library/src/components/CheckboxE/CheckboxE.test.tsx
  packages/react-component-library/src/components/CheckboxE/CheckboxE.tsx
  packages/react-component-library/src/components/CheckboxE/index.ts
  packages/react-component-library/src/components/CheckboxE/partials/StyledCheckbox.tsx
  packages/react-component-library/src/components/CheckboxE/partials/StyledCheckmark.tsx
  packages/react-component-library/src/components/CheckboxE/partials/StyledInput.tsx
  packages/react-component-library/src/components/CheckboxE/partials/StyledLabel.tsx
  packages/react-component-library/src/components/CheckboxE/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/Fieldset/Fieldset.tsx
  packages/react-component-library/src/components/Fieldset/index.ts
  packages/react-component-library/src/components/FormikGroup/FormikGroup.test.tsx
  packages/react-component-library/src/components/FormikGroup/FormikGroup.tsx
  packages/react-component-library/src/components/RadioE/RadioE.stories.tsx
  packages/react-component-library/src/components/RadioE/RadioE.test.tsx
  packages/react-component-library/src/components/RadioE/RadioE.tsx
  packages/react-component-library/src/components/RadioE/index.ts
  packages/react-component-library/src/components/RadioE/partials/StyledCheckmark.tsx
  packages/react-component-library/src/components/RadioE/partials/StyledInput.tsx
  packages/react-component-library/src/components/RadioE/partials/StyledLabel.tsx
  packages/react-component-library/src/components/RadioE/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/RadioE/partials/StyledRadio.tsx
  packages/react-component-library/src/enhancers/withFormik.tsx
  packages/react-component-library/src/index.ts
Labels: Package: react-component-library, Type: Enhancement

#2577 Ci/dependabot
  .github/workflows/automerge.yml
  .github/workflows/build_and_test_feature.yml
Labels: Type: Bug, Type: Devops

#2578 ci(GHA): Remove space in label-name value
  .github/workflows/project_issues.yml
Labels: Type: Bug, Type: Devops

#2563 fix(Storybook): Add New Relic only in Netlify
  packages/react-component-library/.storybook/main.js
  packages/react-component-library/.storybook/newRelic.js
  packages/react-component-library/.storybook/preview-head.html
Labels: Package: react-component-library, Type: Bug

#2581 fix(Select): Set selected option with side effect
  packages/react-component-library/src/components/Select/Select.test.tsx
  packages/react-component-library/src/components/Select/useSelectedOption.ts
Labels: Exemplar: NS, Package: react-component-library, Type: Bug

#2582 chore(Issues): Enforce issue template usage in template chooser
  .github/ISSUE_TEMPLATE/config.yml
Labels: Type: Devops, Type: Enhancement

#2590 fix(Helpers): Handle non existent `window` object gracefully
  packages/react-component-library/src/helpers.ts
Labels: Package: react-component-library, Type: Bug

#2571 chore(Security): Clean up redundant resolutions
  package.json
  yarn.lock
Labels: Type: Security

#2588 Fix items not showing on last day of `Timeline`
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/Timeline/hooks/useTimelinePosition.ts
Labels: Exemplar: NS, Package: compound-timeline, Type: Bug

#2592 fix(Hooks): Add some missing exports
  packages/react-component-library/src/index.ts
Labels: Package: react-component-library, Type: Bug
