Repository Royal-Navy/design-system, pull requests merged in 2022-01, with the labels that each got.

#2933 test(RangeSliderE): Add to forms stories and Cypress suite
  packages/react-component-library/cypress/selectors/form.ts
  packages/react-component-library/cypress/specs/forms/index.spec.ts
  packages/react-component-library/src/forms/formik/formik.stories.tsx
  packages/react-component-library/src/forms/react-hook-form/react-hook-form.stories.tsx
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#2943 ci(Dependabot): Fix automerge workflow
  .github/workflows/automerge.yml
  .github/workflows/build_and_test_feature.yml
Labels: Type: Bug, Type: Devops

#2944 Refactor `ButtonE` and `SwitchE` to utilise `ComponentSizeType`
  packages/react-component-library/src/components/ButtonE/ButtonE.stories.tsx
  packages/react-component-library/src/components/ButtonE/ButtonE.tsx
  packages/react-component-library/src/components/ButtonE/constants.ts
  packages/react-component-library/src/components/ButtonE/partials/StyledButton.tsx
  packages/react-component-library/src/components/ButtonE/partials/StyledIconWrapper.tsx
  packages/react-component-library/src/components/SwitchE/SwitchE.stories.tsx
  packages/react-component-library/src/components/SwitchE/SwitchE.tsx
  packages/react-component-library/src/components/SwitchE/constants.ts
  packages/react-component-library/src/components/SwitchE/index.ts
  packages/react-component-library/src/components/SwitchE/partials/StyledSwitch.tsx
Labels: Package: react-component-library, Type: Development

#2930 Resolve security alerts, update SVGR and improve icon library build time
  .browserslistrc
  package.json
  packages/design-tokens/package.json
  packages/icon-library/.babelrc
  packages/icon-library/.svgrrc.js
  packages/icon-library/babel.config.js
  packages/icon-library/package.json
  packages/icon-library/svgo.config.js
  packages/icon-library/webpack/prod.js
  packages/react-component-library/package.json
  packages/react-component-library/webpack/common.js
  yarn-audit-known-issues
  yarn.lock
Labels: Package: icon-library, Type: Development

#2954 fix(NumberInputE): Improve handling of invalid input
  packages/react-component-library/cypress/specs/NumberInputE/index.spec.ts
  packages/react-component-library/src/components/NumberInputE/Input.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.test.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.tsx
  packages/react-component-library/src/components/NumberInputE/useChangeHandlers.ts
  packages/react-component-library/src/components/NumberInputE/useEarlyValidation.ts
  packages/react-component-library/src/components/NumberInputE/useValue.ts
  packages/react-component-library/src/components/NumberInputE/validation.ts
Labels: Package: react-component-library, Type: Development

#2973 feat(Breadcrumbs): Supplement interface with `href` and children
  packages/react-component-library/src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/react-component-library/src/components/Breadcrumbs/Breadcrumbs.test.tsx
  packages/react-component-library/src/components/Breadcrumbs/BreadcrumbsItem.tsx
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#2969 test(DatePickerE): Add to form stories and related tests
  packages/react-component-library/cypress/selectors/form.ts
  packages/react-component-library/cypress/specs/forms/index.spec.ts
  packages/react-component-library/src/forms/formik/formik.stories.tsx
  packages/react-component-library/src/forms/native/native.stories.tsx
  packages/react-component-library/src/forms/native/useNativeForm.ts
  packages/react-component-library/src/forms/react-hook-form/react-hook-form.stories.tsx
Labels: Package: react-component-library, Type: Development

#2972 feat(Dialog): Move cancel button to secondary position
  packages/react-component-library/src/components/Dialog/Dialog.stories.tsx
  packages/react-component-library/src/components/Dialog/Dialog.test.tsx
  packages/react-component-library/src/components/Dialog/Dialog.tsx
  packages/react-component-library/src/components/Dialog/partials/StyledDialog.tsx
  packages/react-component-library/src/components/Modal/Modal.stories.tsx
Labels: Package: react-component-library, Type: Development

#2977 fix(NumberInputE): Don't blur buttons on click
  packages/react-component-library/src/components/NumberInputE/Buttons.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.test.tsx
Labels: Package: react-component-library, Type: Development

#2979 feat(AutocompleteE): Embolden filter value
  packages/react-component-library/cypress/specs/AutocompleteE/index.spec.ts
  packages/react-component-library/package.json
  packages/react-component-library/src/components/AutocompleteE/AutocompleteE.tsx
  packages/react-component-library/src/components/AutocompleteE/AutocompleteEOption.tsx
  packages/react-component-library/src/components/AutocompleteE/hooks/useInput.ts
  packages/react-component-library/src/components/AutocompleteE/hooks/useItems.ts
  packages/react-component-library/src/components/SelectBase/SelectBaseOption.tsx
  packages/react-component-library/src/components/SelectBase/SelectLayout.tsx
  packages/react-component-library/src/components/SelectBase/helpers.ts
  packages/react-component-library/src/components/SelectBase/types.ts
  packages/react-component-library/src/components/SelectE/SelectE.tsx
  packages/react-component-library/src/components/SelectE/SelectEOption.tsx
  yarn.lock
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#2980 feat(DatePickerE): Add focus trap
  packages/react-component-library/cypress/specs/DatePickerE/index.spec.ts
  packages/react-component-library/package.json
  packages/react-component-library/src/components/DatePickerE/DatePickerE.test.tsx
  packages/react-component-library/src/components/DatePickerE/DatePickerE.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledDayPicker.tsx
  packages/react-component-library/src/components/DatePickerE/useCloseOnEscape.ts
  packages/react-component-library/src/components/DatePickerE/useDatePickerEOpenClose.ts
  packages/react-component-library/src/components/DatePickerE/useFocusTrapOptions.ts
  yarn.lock
Labels: Package: react-component-library, Type: Development

#2970 feat(SelectE): Add No results
  packages/react-component-library/cypress/selectors/AutocompleteE.ts
  packages/react-component-library/cypress/selectors/SelectE.ts
  packages/react-component-library/cypress/selectors/index.ts
  packages/react-component-library/cypress/specs/AutocompleteE/index.spec.ts
  packages/react-component-library/src/components/AutocompleteE/AutocompleteE.tsx
  packages/react-component-library/src/components/AutocompleteE/NoResults.tsx
  packages/react-component-library/src/components/AutocompleteE/partials/StyledNoResults.tsx
  packages/react-component-library/src/components/SelectBase/partials/StyledOption.tsx
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#2985 feat(AutocompleteE): Highlight first item
  packages/react-component-library/cypress/specs/AutocompleteE/index.spec.ts
  packages/react-component-library/cypress/support/index.ts
  packages/react-component-library/package.json
  packages/react-component-library/src/components/AutocompleteE/AutocompleteE.tsx
  packages/react-component-library/src/components/AutocompleteE/hooks/useHighlightedIndex.ts
  yarn.lock
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#3004 fix(DatePickerE): Allow state to be held externally
  packages/react-component-library/src/components/DatePickerE/DatePickerE.stories.tsx
  packages/react-component-library/src/components/DatePickerE/DatePickerE.test.tsx
  packages/react-component-library/src/components/DatePickerE/DatePickerE.tsx
  packages/react-component-library/src/components/DatePickerE/types.ts
  packages/react-component-library/src/components/DatePickerE/useDatePickerEReducer.ts
  packages/react-component-library/src/components/DatePickerE/useInput.ts
  packages/react-component-library/src/components/DatePickerE/useSelection.ts
  packages/react-component-library/src/components/Timeline/context/reducer.ts
  packages/react-component-library/src/forms/formik/formik.stories.tsx
  packages/react-component-library/src/forms/native/native.stories.tsx
  packages/react-component-library/src/forms/react-hook-form/react-hook-form.stories.tsx
Labels: Package: react-component-library, Type: Development

#3005 refactor(DatePickerE): Tidy up reducer and related logic
  packages/react-component-library/src/components/DatePickerE/DatePickerE.test.tsx
  packages/react-component-library/src/components/DatePickerE/DatePickerE.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledSeparator.tsx
  packages/react-component-library/src/components/DatePickerE/types.ts
  packages/react-component-library/src/components/DatePickerE/useDatePickerEReducer.ts
  packages/react-component-library/src/components/DatePickerE/useHandleDayClick.ts
  packages/react-component-library/src/components/DatePickerE/useInput.ts
Labels: Package: react-component-library, Type: Development

#3009 Update eslint-config-airbnb to version 19
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/react-component-library/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-component-library/src/components/CheckboxE/CheckboxE.stories.tsx
  packages/react-component-library/src/components/Radio/Radio.stories.tsx
  packages/react-component-library/src/components/RadioE/RadioE.stories.tsx
  packages/react-component-library/src/components/RangeSlider/ThresholdTrack.tsx
  packages/react-component-library/src/components/RangeSliderE/ThresholdRailE.tsx
  packages/react-component-library/src/components/RangeSliderE/ThresholdTrackE.tsx
  packages/react-component-library/src/components/Switch/ResponsiveSwitch.test.tsx
  packages/react-component-library/src/components/TabSet/TabSet.test.tsx
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Toast/Toast.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNotifications.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/context.tsx
  packages/react-component-library/src/helpers.ts
  packages/react-component-library/src/hooks/useFloatingElement.ts
  packages/react-component-library/src/styled-components/GlobalStyle.tsx
  yarn.lock
Labels: Package: react-component-library, Package: eslint-config-react, Type: Development

#3011 Fix `DismissibleBanner` typos
  packages/react-component-library/cypress/selectors/DismissibleBanner.ts
  packages/react-component-library/cypress/selectors/index.ts
  packages/react-component-library/cypress/specs/DismissibleBanner/index.spec.ts
  packages/react-component-library/src/components/Checkbox/Checkbox.tsx
  packages/react-component-library/src/components/DismissibleBanner/DismissibleBanner.stories.tsx
  packages/react-component-library/src/components/DismissibleBanner/DismissibleBanner.test.tsx
  packages/react-component-library/src/components/DismissibleBanner/DismissibleBanner.tsx
  packages/react-component-library/src/components/DismissibleBanner/index.ts
Labels: Type: Techdebt, Package: react-component-library, Type: Development

#3008 Handle `AutocompleteE` focus/blur
  packages/react-component-library/cypress/selectors/SelectE.ts
  packages/react-component-library/cypress/specs/AutocompleteE/index.spec.ts
  packages/react-component-library/src/components/AutocompleteE/AutocompleteE.tsx
  packages/react-component-library/src/components/AutocompleteE/helpers.ts
  packages/react-component-library/src/components/AutocompleteE/hooks/useAutocomplete.ts
  packages/react-component-library/src/components/AutocompleteE/hooks/useHighlightedIndex.ts
  packages/react-component-library/src/components/AutocompleteE/hooks/useInput.ts
  packages/react-component-library/src/components/AutocompleteE/hooks/useItems.ts
  packages/react-component-library/src/components/AutocompleteE/hooks/useMenuVisibility.ts
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#3027 refactor(DataList): Rename to `DescriptionList`
  packages/react-component-library/src/components/DataList/DataList.stories.tsx
  packages/react-component-library/src/components/DataList/DataList.test.tsx
  packages/react-component-library/src/components/DataList/index.ts
  packages/react-component-library/src/components/DescriptionList/DescriptionList.stories.tsx
  packages/react-component-library/src/components/DescriptionList/DescriptionList.test.tsx
  packages/react-component-library/src/components/DescriptionList/DescriptionList.tsx
  packages/react-component-library/src/components/DescriptionList/DescriptionListItem.tsx
  packages/react-component-library/src/components/DescriptionList/index.ts
  packages/react-component-library/src/components/DescriptionList/partials/StyledAction.tsx
  packages/react-component-library/src/components/DescriptionList/partials/StyledBadge.tsx
  packages/react-component-library/src/components/DescriptionList/partials/StyledDescription.tsx
  packages/react-component-library/src/components/DescriptionList/partials/StyledDescriptionList.tsx
  packages/react-component-library/src/components/DescriptionList/partials/StyledHeader.tsx
  packages/react-component-library/src/components/DescriptionList/partials/StyledItem.tsx
  packages/react-component-library/src/components/DescriptionList/partials/StyledItemKey.tsx
  packages/react-component-library/src/components/DescriptionList/partials/StyledItemValue.tsx
  packages/react-component-library/src/components/DescriptionList/partials/StyledSheet.tsx
  packages/react-component-library/src/index.ts
Labels: Package: react-component-library, Type: Development

#3022 fix(Select): Handle overflowing option label
  packages/react-component-library/src/components/Select/Select.stories.tsx
  packages/react-component-library/src/components/Select/Select.test.tsx
  packages/react-component-library/src/components/Select/Select.tsx
  packages/react-component-library/src/components/Select/SingleValue.tsx
  packages/react-component-library/src/components/Select/partials/StyledSingleValue.tsx
  packages/react-component-library/src/components/Select/partials/StyledSingleValueLabel.tsx
  packages/react-component-library/src/components/Select/partials/StyledTooltip.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#3026 Update `Avatar` pattern
  packages/react-component-library/cypress/selectors/Avatar.ts
  packages/react-component-library/cypress/selectors/index.ts
  packages/react-component-library/cypress/specs/Avatar/index.spec.ts
  packages/react-component-library/src/components/Avatar/Avatar.stories.tsx
  packages/react-component-library/src/components/Avatar/Avatar.test.tsx
  packages/react-component-library/src/components/Avatar/Avatar.tsx
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/MastheadUser.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/UserLink.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/Notification.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarUserE.tsx
Labels: Type: Enhancement, Package: react-component-library

#3028 fix(NumberInputE): Allow negative values to be entered
  packages/react-component-library/cypress/specs/NumberInputE/index.spec.ts
  packages/react-component-library/src/components/NumberInputE/Buttons.tsx
  packages/react-component-library/src/components/NumberInputE/Input.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.test.tsx
  packages/react-component-library/src/components/NumberInputE/NumberInputE.tsx
  packages/react-component-library/src/components/NumberInputE/useChangeHandlers.ts
  packages/react-component-library/src/components/NumberInputE/useEarlyValidation.ts
  packages/react-component-library/src/components/NumberInputE/validation.ts
Labels: Package: react-component-library, Type: Development
