Repository Royal-Navy/design-system, pull requests merged in 2022-03, with the labels that each got.

#3130 docs(Sidebar): Remove experimental notice from Storybook
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/Sidebar.stories.tsx
Labels: Package: react-component-library, Docs: Component

#3148 fix(ComponentSizeType): Correct type definition
  packages/react-component-library/src/components/Forms/constants.ts
Labels: Type: Bug, Package: react-component-library, Type: Development, Docs: Component

#3136 fix(Radio): Resolve incorrect active container background color
  packages/react-component-library/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-component-library/src/components/Checkbox/Checkbox.test.tsx
  packages/react-component-library/src/components/Checkbox/Checkbox.tsx
  packages/react-component-library/src/components/Checkbox/constants.ts
  packages/react-component-library/src/components/Checkbox/index.ts
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckbox.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckboxWrapper.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckmark.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/CheckboxRadioBase.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/CheckboxRadioBaseProps.ts
  packages/react-component-library/src/components/CheckboxRadioBase/index.ts
  packages/react-component-library/src/components/CheckboxRadioBase/partials/StyledCheckmarkBase.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/partials/StyledDescription.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/partials/StyledInnerWrapper.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/partials/StyledInput.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/partials/StyledLabel.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/partials/StyledWrapper.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/types.ts
  packages/react-component-library/src/components/DismissibleBanner/DismissibleBanner.tsx
  packages/react-component-library/src/components/Fieldset/partials/StyledFieldset.tsx
  packages/react-component-library/src/components/Radio/Radio.stories.tsx
  packages/react-component-library/src/components/Radio/Radio.test.tsx
  packages/react-component-library/src/components/Radio/Radio.tsx
  packages/react-component-library/src/components/Radio/constants.ts
  packages/react-component-library/src/components/Radio/index.ts
  packages/react-component-library/src/components/Radio/partials/StyledCheckmark.tsx
  packages/react-component-library/src/components/Radio/partials/StyledDescription.tsx
  packages/react-component-library/src/components/Radio/partials/StyledInput.tsx
  packages/react-component-library/src/components/Radio/partials/StyledLabel.tsx
  packages/react-component-library/src/components/Radio/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/Radio/partials/StyledRadio.tsx
  packages/react-component-library/src/components/Radio/partials/StyledRadioWrapper.tsx
  packages/react-component-library/src/styled-components/input.ts
Labels: Type: Bug, Package: react-component-library, Type: Development

#3137 Ensure element and ARIA IDs are stable between renders
  packages/react-component-library/src/components/Alert/Alert.test.tsx
  packages/react-component-library/src/components/Alert/Alert.tsx
  packages/react-component-library/src/components/Autocomplete/Autocomplete.test.tsx
  packages/react-component-library/src/components/Autocomplete/Autocomplete.tsx
  packages/react-component-library/src/components/Checkbox/Checkbox.test.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/CheckboxRadioBase.tsx
  packages/react-component-library/src/components/DescriptionList/DescriptionList.test.tsx
  packages/react-component-library/src/components/DescriptionList/DescriptionList.tsx
  packages/react-component-library/src/components/Dialog/Dialog.test.tsx
  packages/react-component-library/src/components/Dialog/Dialog.tsx
  packages/react-component-library/src/components/Field/Field.tsx
  packages/react-component-library/src/components/List/List.test.tsx
  packages/react-component-library/src/components/List/ListItem.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.test.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
  packages/react-component-library/src/components/Pagination/Pagination.test.tsx
  packages/react-component-library/src/components/Pagination/Pagination.tsx
  packages/react-component-library/src/components/Popover/Popover.test.tsx
  packages/react-component-library/src/components/Popover/Popover.tsx
  packages/react-component-library/src/components/Radio/Radio.test.tsx
  packages/react-component-library/src/components/Select/Select.test.tsx
  packages/react-component-library/src/components/Select/Select.tsx
  packages/react-component-library/src/components/TabSet/TabSet.tsx
  packages/react-component-library/src/components/TextArea/TextArea.test.tsx
  packages/react-component-library/src/components/TextArea/TextArea.tsx
  packages/react-component-library/src/components/TextInput/Input.tsx
  packages/react-component-library/src/components/TextInput/TextInput.test.tsx
  packages/react-component-library/src/components/Toast/Toast.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.test.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/Notification.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/Notification.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/Sheet.tsx
  packages/react-component-library/src/helpers.ts
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.test.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#3138 feat(TabSet): Update styles
  packages/react-component-library/cypress/selectors/TabSet.ts
  packages/react-component-library/cypress/specs/TabSet/default.spec.ts
  packages/react-component-library/cypress/specs/TabSet/scrollable.spec.ts
  packages/react-component-library/src/components/TabSet/TabItem.tsx
  packages/react-component-library/src/components/TabSet/TabSet.test.tsx
  packages/react-component-library/src/components/TabSet/TabSet.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledBody.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledHeader.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledScrollButton.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledTab.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledTabItem.tsx
Labels: Package: react-component-library, Type: Development

#3154 Update `TabNav` styles
  packages/react-component-library/cypress/selectors/TabNav.ts
  packages/react-component-library/cypress/selectors/index.ts
  packages/react-component-library/cypress/specs/TabNav/index.spec.ts
  packages/react-component-library/src/components/TabBase/partials/StyledTab.tsx
  packages/react-component-library/src/components/TabBase/partials/StyledTabItem.tsx
  packages/react-component-library/src/components/TabBase/partials/StyledTabs.tsx
  packages/react-component-library/src/components/TabNav/TabNav.test.tsx
  packages/react-component-library/src/components/TabNav/TabNav.tsx
  packages/react-component-library/src/components/TabNav/TabNavItem.tsx
  packages/react-component-library/src/components/TabNav/partials/StyledList.tsx
  packages/react-component-library/src/components/TabNav/partials/StyledTabNav.tsx
  packages/react-component-library/src/components/TabNav/partials/StyledTabNavItem.tsx
  packages/react-component-library/src/components/TabSet/TabItem.tsx
  packages/react-component-library/src/components/TabSet/TabSet.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledBody.tsx
  packages/react-component-library/src/components/TabSet/partials/StyledScrollButton.tsx
Labels: Package: react-component-library, Type: Development

#3156 feat(Select): Add ability to hide clear button
  packages/react-component-library/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/react-component-library/src/components/Autocomplete/Autocomplete.test.tsx
  packages/react-component-library/src/components/Autocomplete/Autocomplete.tsx
  packages/react-component-library/src/components/Select/Select.stories.tsx
  packages/react-component-library/src/components/Select/Select.test.tsx
  packages/react-component-library/src/components/SelectBase/SelectBaseProps.ts
  packages/react-component-library/src/components/SelectBase/SelectLayout.tsx
Labels: Package: react-component-library, Exemplar: NS, Type: Development

#3168 Fix incorrect dependencies and remove CSS loaders
  .github/dependabot.yml
  package.json
  packages/design-tokens/package.json
  packages/icon-library/package.json
  packages/react-component-library/package.json
  packages/react-component-library/src/components/RangeSlider/partials/StyledSlider.tsx
  packages/react-component-library/src/hooks/useFloatingElement.ts
  packages/react-component-library/webpack/common.js
  yarn.lock
Labels: Package: react-component-library, Package: icon-library, Package: design-tokens, Type: Dependencies, Type: Development

#3167 fix(Storybook): Disable object props
  packages/react-component-library/src/components/Button/Button.stories.tsx
  packages/react-component-library/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.stories.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.stories.tsx
  packages/react-component-library/src/components/Radio/Radio.stories.tsx
  packages/react-component-library/src/components/TextInput/TextInput.stories.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#3187 chore(Security): Update minimist and downgrade usehooks-ts
  .github/dependabot.yml
  packages/react-component-library/package.json
  yarn.lock
Labels: Type: Security, Type: Dependencies

#3189 fix(NumberInputE): Deprecate `min` and `max`
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#3170 refactor(Types): Simplify union types
  packages/react-component-library/src/components/Alert/Alert.tsx
  packages/react-component-library/src/components/Avatar/Avatar.tsx
  packages/react-component-library/src/components/Badge/types.ts
  packages/react-component-library/src/components/Button/Button.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/types.ts
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/Forms/constants.ts
  packages/react-component-library/src/components/Pagination/PaginationButton.tsx
  packages/react-component-library/src/components/Table/TableColumn.tsx
  packages/react-component-library/src/components/Table/useTableData.ts
  packages/react-component-library/src/components/Timeline/TimelineHours.tsx
  packages/react-component-library/src/components/Timeline/TimelineMonth.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.tsx
  packages/react-component-library/src/helpers.ts
Labels: Type: Techdebt, Package: react-component-library

#3197 fix(SelectBase): Resolve inconsistent popover in Chrome
  packages/react-component-library/src/components/SelectBase/SelectLayout.tsx
  packages/react-component-library/src/components/SelectBase/partials/StyledFloatingBox.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#3198 feat(Timeline): Change toolbar button variant to tertiary
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledDayPicker.tsx
  packages/react-component-library/src/components/DatePicker/types.ts
  packages/react-component-library/src/components/DatePicker/useDatePickerReducer.ts
  packages/react-component-library/src/components/DatePicker/useHandleDayClick.ts
  packages/react-component-library/src/components/DatePicker/useInput.ts
  packages/react-component-library/src/components/Timeline/TimelineToolbar.tsx
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#3199 feat(DescriptionList): Add ability to programmatically set `isOpen`
  packages/react-component-library/src/components/DescriptionList/DescriptionList.stories.tsx
  packages/react-component-library/src/components/DescriptionList/DescriptionList.test.tsx
  packages/react-component-library/src/components/DescriptionList/DescriptionList.tsx
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#3196 feat(Masthead): Integrate tab nav changes
  packages/react-component-library/cypress/selectors/Masthead.ts
  packages/react-component-library/cypress/selectors/index.ts
  packages/react-component-library/cypress/specs/Masthead/index.spec.ts
  packages/react-component-library/cypress/specs/TabNav/constants.ts
  packages/react-component-library/cypress/specs/TabNav/index.spec.ts
  packages/react-component-library/src/components/TabNav/TabNav.tsx
  packages/react-component-library/src/components/TabNav/TabNavItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/MastheadNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/MastheadNavItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledMain.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledMasthead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledScrollableNav.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledScrollableNavItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledScrollableNavItems.tsx
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#3202 Resolve various axe v4 errors
  packages/react-component-library/src/components/Dialog/Dialog.test.tsx
  packages/react-component-library/src/components/Dialog/Dialog.tsx
  packages/react-component-library/src/components/List/List.test.tsx
  packages/react-component-library/src/components/List/List.tsx
  packages/react-component-library/src/components/List/ListItem.tsx
  packages/react-component-library/src/components/Modal/Modal.stories.tsx
  packages/react-component-library/src/components/Modal/Modal.test.tsx
  packages/react-component-library/src/components/Modal/Modal.tsx
  packages/react-component-library/src/components/TabBase/partials/StyledTab.tsx
  packages/react-component-library/src/components/TabNav/TabNavItem.tsx
  packages/react-component-library/src/components/TabNav/partials/StyledTabNavTab.tsx
  packages/react-component-library/src/components/TabSet/TabContent.tsx
  packages/react-component-library/src/components/TabSet/TabItem.tsx
  packages/react-component-library/src/components/TabSet/TabSet.test.tsx
  packages/react-component-library/src/components/TabSet/TabSet.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.stories.tsx
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.tsx
Labels: Type: Techdebt, Package: react-component-library, Type: Accessibility, Type: Development
