Repository Royal-Navy/design-system, pull requests merged in 2022-07, with the labels that each got.

#3346 fix(DatePicker): Fix accessibility
  packages/react-component-library/src/components/ContextMenu/ContextMenu.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledDayPicker.tsx
  packages/react-component-library/src/hooks/useClickMenu.ts
  packages/react-component-library/src/primitives/FloatingBox/FloatingBox.tsx
Labels: Type: Bug, Package: react-component-library, Type: Accessibility

#3348 Fix `Select` a11y `aria-labelledby` issue
  packages/react-component-library/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/react-component-library/src/components/Autocomplete/Autocomplete.test.tsx
  packages/react-component-library/src/components/Autocomplete/Autocomplete.tsx
  packages/react-component-library/src/components/Select/Select.stories.tsx
  packages/react-component-library/src/components/Select/Select.test.tsx
  packages/react-component-library/src/components/Select/Select.tsx
  packages/react-component-library/src/components/SelectBase/SelectBaseProps.ts
  packages/react-component-library/src/components/SelectBase/SelectLayout.tsx
Labels: Type: Bug, Type: Techdebt, Package: react-component-library, Type: Accessibility

#3355 fix(Dropdown): Adjust disabled opacity
  packages/react-component-library/src/components/Dropdown/Dropdown.stories.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.tsx
  packages/react-component-library/src/components/Dropdown/partials/StyledLabel.tsx
Labels: Type: Bug, Type: Techdebt, Package: react-component-library, Type: Accessibility

#3366 docs(DatePicker): Use fixed today date in Open story
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
Labels: Package: react-component-library, Type: Development
