Repository Royal-Navy/design-system, pull requests merged in 2022-06, with the labels that each got.

#3301 fix(CRATemplate): Improve compatibility with React 18
  packages/cra-template-defencedigital/template.json
  packages/cra-template-defencedigital/template/src/index.tsx
Labels: Type: Bug, Package: cra-template-defencedigital, Type: Development

#3309 docs(Storybook): Add `TabSet` and `TabNav` usage notes
  packages/react-component-library/src/components/TabNav/TabNav.stories.tsx
  packages/react-component-library/src/components/TabSet/TabSet.stories.tsx
Labels: Package: react-component-library, Type: Development, Docs: Component

#3293 fix(Autocomplete): Allow cursor position
  packages/react-component-library/cypress/selectors/Select.ts
  packages/react-component-library/cypress/specs/Autocomplete/index.spec.ts
  packages/react-component-library/cypress/specs/Select/index.spec.ts
  packages/react-component-library/src/components/Autocomplete/Autocomplete.tsx
  packages/react-component-library/src/components/Select/Select.stories.tsx
  packages/react-component-library/src/components/Select/Select.tsx
  packages/react-component-library/src/components/SelectBase/hooks/useMenuVisibility.ts
Labels: Type: Enhancement, Package: react-component-library

#3295 feat(NumberInput): Add ability to increment decrement with keyboard
  packages/react-component-library/src/components/NumberInput/Input.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.test.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
  packages/react-component-library/src/components/NumberInput/useChangeHandlers.ts
  packages/react-component-library/src/components/NumberInput/useInputKeys.ts
  packages/react-component-library/src/forms/formik/formik.stories.tsx
  packages/react-component-library/src/forms/native/native.stories.tsx
  packages/react-component-library/src/forms/react-hook-form/react-hook-form.stories.tsx
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#3315 feat(Logger): Update `RNDS_LOG_LEVEL` env var
  packages/react-component-library/babel.config.js
  packages/react-component-library/jest.config.js
  packages/react-component-library/package.json
  packages/react-component-library/src/components/Breadcrumbs/Breadcrumbs.test.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.test.tsx
  packages/react-component-library/src/components/List/List.test.tsx
  packages/react-component-library/src/components/Timeline/__tests__/Timeline.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.test.tsx
  packages/react-component-library/src/utils/__tests__/logger.test.ts
  packages/react-component-library/src/utils/logger.ts
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#3323 fix(CRATemplate): Fix installation error with React 18.2.0
  packages/cra-template-defencedigital/template.json
Labels: Type: Bug, Type: Dependencies, Type: Development

#3324 chore(Security): Remove out-of-date package resolutions
  package.json
  packages/react-component-library/package.json
  yarn.lock
Labels: Type: Security, Type: Dependencies
