Repository Royal-Navy/design-system, pull requests merged in 2022-05, with the labels that each got.

#3269 feat(Storybook): Add performance addon
  packages/react-component-library/.storybook/main.js
  packages/react-component-library/.storybook/preview.js
  packages/react-component-library/cypress/specs/ContextMenu/index.spec.ts
  packages/react-component-library/package.json
  yarn.lock
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#3278 fix(Popover): Apply missing `aria-label` attribute
  packages/react-component-library/src/components/Popover/Popover.test.tsx
  packages/react-component-library/src/components/Popover/Popover.tsx
Labels: Type: Bug, Package: react-component-library, Type: Accessibility, Type: Development

#3271 Fix various incorrect CSS rules
  packages/react-component-library/src/components/Badge/partials/StyledBadge.tsx
  packages/react-component-library/src/components/Button/partials/StyledIconWrapper.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckbox.tsx
  packages/react-component-library/src/components/Drawer/partials/StyledDrawer.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.tsx
  packages/react-component-library/src/components/Radio/partials/StyledRadio.tsx
  packages/react-component-library/src/components/RangeSlider/partials/StyledMarker.tsx
  packages/react-component-library/src/components/Switch/partials/StyledSwitch.tsx
  packages/react-component-library/src/components/TextInput/partials/StyledInput.tsx
  packages/react-component-library/src/components/Toast/partials/StyledToastLabel.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/partials/StyledSearchBar.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#3294 fix(NumberInput): Display initial value of zero correctly
  packages/react-component-library/src/components/NumberInput/NumberInput.test.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#3285 chore(Deps): Remove usehooks-ts
  .github/dependabot.yml
  packages/react-component-library/package.json
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  yarn.lock
Labels: Package: react-component-library, Type: Dependencies, Type: Development
