Repository Royal-Navy/design-system, pull requests merged in 2022-02, with the labels that each got.

#3046 refactor(DesignTokens): Rename getter
  packages/design-tokens/src/getters.ts
  packages/design-tokens/src/selectors.ts
Labels: Type: Techdebt, Package: design-tokens, Type: Development

#3045 refactor(TabSet): Rename child component
  packages/react-component-library/src/components/TabSet/TabContent.tsx
  packages/react-component-library/src/components/TabSet/TabSet.stories.tsx
  packages/react-component-library/src/components/TabSet/TabSet.test.tsx
  packages/react-component-library/src/components/TabSet/TabSet.tsx
  packages/react-component-library/src/components/TabSet/TabSetItem.tsx
  packages/react-component-library/src/components/TabSet/index.ts
  packages/react-component-library/src/components/TabSet/useScrollableTabSet.ts
Labels: Package: react-component-library, Release: Next major, Type: Development

#3053 Update component callbacks
  packages/react-component-library/src/components/ContextMenu/ContextMenu.test.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.tsx
  packages/react-component-library/src/components/Pagination/Pagination.test.tsx
  packages/react-component-library/src/components/Pagination/Pagination.tsx
  packages/react-component-library/src/components/Pagination/types.ts
  packages/react-component-library/src/components/Pagination/usePageChange.tsx
  packages/react-component-library/src/components/TabSet/TabItem.tsx
  packages/react-component-library/src/components/TabSet/TabSet.test.tsx
  packages/react-component-library/src/components/TabSet/TabSet.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/SearchBar.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/SearchBar.tsx
  packages/react-component-library/src/hooks/useClickMenu.ts
Labels: Type: Techdebt, Package: react-component-library, Type: Development

#3065 build(Storybook): Upgrade Chromatic CLI and Storybook
  .github/workflows/build_and_test_feature.yml
  .github/workflows/build_and_test_master.yml
  package.json
  packages/react-component-library/package.json
  yarn.lock
Labels: Type: Devops, Package: react-component-library

#3068 fix(CheckboxE): Fix unchecked disabled styles and Firefox border glitch
  packages/react-component-library/src/components/CheckboxE/CheckboxE.stories.tsx
  packages/react-component-library/src/components/CheckboxE/CheckboxE.tsx
  packages/react-component-library/src/components/CheckboxE/partials/StyledCheckbox.tsx
  packages/react-component-library/src/components/CheckboxE/partials/StyledCheckmark.tsx
  packages/react-component-library/src/components/CheckboxE/partials/StyledInput.tsx
Labels: Package: react-component-library, Type: Development

#3069 Fix various strict null type errors
  packages/react-component-library/src/common/FieldProps.ts
  packages/react-component-library/src/components/Alert/Alert.tsx
  packages/react-component-library/src/components/Breadcrumbs/Breadcrumbs.test.tsx
  packages/react-component-library/src/components/Breadcrumbs/Breadcrumbs.tsx
  packages/react-component-library/src/components/Breadcrumbs/BreadcrumbsItem.tsx
  packages/react-component-library/src/components/ButtonE/ButtonE.stories.tsx
  packages/react-component-library/src/components/ButtonE/ButtonE.test.tsx
  packages/react-component-library/src/components/ButtonE/ButtonE.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.stories.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.test.tsx
  packages/react-component-library/src/components/Drawer/Drawer.tsx
  packages/react-component-library/src/components/Popover/Popover.tsx
  packages/react-component-library/src/components/TextAreaE/TextAreaE.test.tsx
  packages/react-component-library/src/components/TextInputE/Input.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.tsx
  packages/react-component-library/src/components/Tooltip/partials/StyledTooltip.tsx
  packages/react-component-library/src/hooks/__tests__/useInputValue.test.ts
  packages/react-component-library/src/hooks/useDocumentClick.ts
  packages/react-component-library/src/hooks/useHideShow.ts
  packages/react-component-library/src/hooks/useInputValue.ts
Labels: Package: react-component-library, Type: Development

#3071 feat(SelectE): Truncate overflowing options and display tooltip
  packages/react-component-library/cypress/selectors/SelectE.ts
  packages/react-component-library/cypress/specs/SelectE/index.spec.ts
  packages/react-component-library/src/components/AutocompleteE/AutocompleteE.tsx
  packages/react-component-library/src/components/SelectBase/SelectBaseOption.tsx
  packages/react-component-library/src/components/SelectBase/SelectLayout.tsx
  packages/react-component-library/src/components/SelectBase/partials/StyledInput.tsx
  packages/react-component-library/src/components/SelectBase/partials/StyledOptionText.tsx
  packages/react-component-library/src/components/SelectBase/partials/StyledTooltip.tsx
  packages/react-component-library/src/components/SelectE/SelectE.stories.tsx
  packages/react-component-library/src/components/SelectE/SelectE.tsx
  packages/react-component-library/src/components/SelectE/SelectEOption.tsx
  yarn.lock
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#3070 refactor(ReactComponentLibrary): Remove margins
  packages/react-component-library/src/components/CheckboxEnhanced/partials/StyledCheckboxEnhanced.tsx
  packages/react-component-library/src/components/DatePickerE/partials/StyledDatePickerEInput.tsx
  packages/react-component-library/src/components/DescriptionList/partials/StyledDescriptionList.tsx
  packages/react-component-library/src/components/NumberInputE/partials/StyledNumberInput.tsx
  packages/react-component-library/src/components/TextInputE/partials/StyledTextInput.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#3079 Fix various strict null errors (part 3)
  packages/react-component-library/src/components/CheckboxE/CheckboxE.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.test.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.tsx
  packages/react-component-library/src/components/List/useListItem.ts
  packages/react-component-library/src/components/NumberInputE/NumberInputE.tsx
  packages/react-component-library/src/components/RangeSliderE/HandleE.tsx
  packages/react-component-library/src/components/RangeSliderE/RangeSliderE.test.tsx
  packages/react-component-library/src/components/RangeSliderE/SliderE.tsx
  packages/react-component-library/src/components/RangeSliderE/ThresholdRailE.tsx
  packages/react-component-library/src/components/RangeSliderE/ThresholdTrackE.tsx
  packages/react-component-library/src/components/RangeSliderE/TickE.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledRailChunk.tsx
  packages/react-component-library/src/components/RangeSliderE/partials/StyledTrackChunk.tsx
  packages/react-component-library/src/components/RangeSliderE/useThresholdColor.ts
  packages/react-component-library/src/components/SwitchE/SwitchE.test.tsx
  packages/react-component-library/src/components/SwitchE/SwitchEOption.tsx
  packages/react-component-library/src/components/Table/Table.tsx
  packages/react-component-library/src/components/Table/TableColumn.tsx
  packages/react-component-library/src/components/Table/useTableData.ts
  packages/react-component-library/src/components/Toast/Toast.test.tsx
  packages/react-component-library/src/components/Toast/Toast.tsx
  packages/react-component-library/src/components/Toast/partials/StyledToast.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/MastheadNavItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/useMastheadSearch.ts
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/Notification.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SearchBar/SearchBar.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sheet/SheetButton.tsx
  packages/react-component-library/src/components/TopLevelNavigation/SidebarE/SidebarNavE.tsx
  packages/react-component-library/src/forms/formik/formik.stories.tsx
  packages/react-component-library/src/forms/native/native.stories.tsx
  packages/react-component-library/src/forms/native/useNativeForm.ts
  packages/react-component-library/src/forms/react-hook-form/react-hook-form.stories.tsx
  packages/react-component-library/src/hooks/useClickMenu.ts
  packages/react-component-library/src/primitives/Container/partials/StyledContainer.tsx
  packages/react-component-library/src/styled-components/GlobalStyle.tsx
Labels: Package: react-component-library, Type: Development

#3080 fix(Modal): Stop regenerating IDs on every render
  packages/react-component-library/src/components/DatePickerE/DatePickerE.tsx
  packages/react-component-library/src/components/Modal/Modal.test.tsx
  packages/react-component-library/src/components/Modal/Modal.tsx
  packages/react-component-library/src/components/SelectBase/SelectLayout.tsx
  packages/react-component-library/src/components/SwitchE/SwitchE.tsx
  packages/react-component-library/src/helpers.ts
  packages/react-component-library/src/hooks/useExternalId.ts
Labels: Type: Bug, Package: react-component-library, Type: Development

#3085 feat(Forms): Add `Field`, `Fieldset` and `SectionDivider`
  packages/react-component-library/cypress/specs/forms/index.spec.ts
  packages/react-component-library/package.json
  packages/react-component-library/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-component-library/src/components/Checkbox/Checkbox.test.tsx
  packages/react-component-library/src/components/CheckboxE/CheckboxE.stories.tsx
  packages/react-component-library/src/components/CheckboxE/CheckboxE.test.tsx
  packages/react-component-library/src/components/CheckboxEnhanced/CheckboxEnhanced.test.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/DatePickerE/DatePickerE.stories.tsx
  packages/react-component-library/src/components/Field/Field.stories.tsx
  packages/react-component-library/src/components/Field/Field.test.tsx
  packages/react-component-library/src/components/Field/Field.tsx
  packages/react-component-library/src/components/Field/index.ts
  packages/react-component-library/src/components/Field/partials/StyledError.tsx
  packages/react-component-library/src/components/Field/partials/StyledField.tsx
  packages/react-component-library/src/components/Field/partials/StyledHintText.tsx
  packages/react-component-library/src/components/Fieldset/Fieldset.stories.tsx
  packages/react-component-library/src/components/Fieldset/Fieldset.tsx
  packages/react-component-library/src/components/Fieldset/partials/StyledFieldset.tsx
  packages/react-component-library/src/components/Fieldset/partials/StyledLegend.tsx
  packages/react-component-library/src/components/Formik.ts
  packages/react-component-library/src/components/FormikGroup/FormikGroup.test.tsx
  packages/react-component-library/src/components/FormikGroup/FormikGroup.tsx
  packages/react-component-library/src/components/FormikGroup/index.ts
  packages/react-component-library/src/components/NumberInput/NumberInput.stories.tsx
  packages/react-component-library/src/components/Radio/Radio.stories.tsx
  packages/react-component-library/src/components/Radio/Radio.test.tsx
  packages/react-component-library/src/components/RadioE/RadioE.stories.tsx
  packages/react-component-library/src/components/RadioE/RadioE.test.tsx
  packages/react-component-library/src/components/RadioEnhanced/RadioEnhanced.test.tsx
  packages/react-component-library/src/components/SectionDivider/SectionDivider.stories.tsx
  packages/react-component-library/src/components/SectionDivider/SectionDivider.test.tsx
  packages/react-component-library/src/components/SectionDivider/SectionDivider.tsx
  packages/react-component-library/src/components/SectionDivider/index.ts
  packages/react-component-library/src/components/SectionDivider/partials/StyledDescription.tsx
  packages/react-component-library/src/components/SectionDivider/partials/StyledSectionDivider.tsx
  packages/react-component-library/src/components/SectionDivider/partials/StyledTitle.tsx
  packages/react-component-library/src/components/Switch/Switch.stories.tsx
  packages/react-component-library/src/components/TextArea/TextArea.stories.tsx
  packages/react-component-library/src/components/TextArea/TextArea.test.tsx
  packages/react-component-library/src/components/TextAreaE/TextAreaE.test.tsx
  packages/react-component-library/src/components/TextInput/TextInput.stories.tsx
  packages/react-component-library/src/components/TextInput/TextInput.test.tsx
  packages/react-component-library/src/components/TextInputE/TextInputE.test.tsx
  packages/react-component-library/src/enhancers/__tests__/withFormik.test.tsx
  packages/react-component-library/src/enhancers/index.tsx
  packages/react-component-library/src/enhancers/withFormik.tsx
  packages/react-component-library/src/forms/formik/formik.stories.tsx
  packages/react-component-library/src/forms/native/native.stories.tsx
  packages/react-component-library/src/forms/react-hook-form/react-hook-form.stories.tsx
  packages/react-component-library/src/index.ts
Labels: Type: Enhancement, Package: react-component-library, Release: Next major, Type: Development

#3086 Update `CheckboxE` to include `description` and variant `no-container`
  packages/react-component-library/src/components/CheckboxE/CheckboxE.stories.tsx
  packages/react-component-library/src/components/CheckboxE/CheckboxE.test.tsx
  packages/react-component-library/src/components/CheckboxE/CheckboxE.tsx
  packages/react-component-library/src/components/CheckboxE/constants.ts
  packages/react-component-library/src/components/CheckboxE/index.ts
  packages/react-component-library/src/components/CheckboxE/partials/StyledCheckbox.tsx
  packages/react-component-library/src/components/CheckboxE/partials/StyledCheckmark.tsx
  packages/react-component-library/src/components/CheckboxE/partials/StyledDescription.tsx
  packages/react-component-library/src/components/CheckboxE/partials/StyledLabel.tsx
  packages/react-component-library/src/components/CheckboxE/partials/StyledOuterWrapper.tsx
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#3087 Fix various strict null errors (part 4)
  packages/design-tokens/src/__tests__/selectors.test.tsx
  packages/design-tokens/src/getters.ts
  packages/design-tokens/tsconfig.json
  packages/icon-library/tsconfig.json
  packages/react-component-library/src/components/DescriptionList/DescriptionList.tsx
  packages/react-component-library/src/components/DescriptionList/DescriptionListItem.tsx
  packages/react-component-library/src/components/DismissibleBanner/DismissibleBanner.test.tsx
  packages/react-component-library/src/components/DismissibleBanner/DismissibleBanner.tsx
Labels: Package: react-component-library, Package: icon-library, Package: design-tokens, Type: Development

#3093 Update `RadioE` for feature parity
  packages/react-component-library/src/components/RadioE/RadioE.stories.tsx
  packages/react-component-library/src/components/RadioE/RadioE.test.tsx
  packages/react-component-library/src/components/RadioE/RadioE.tsx
  packages/react-component-library/src/components/RadioE/constants.ts
  packages/react-component-library/src/components/RadioE/index.ts
  packages/react-component-library/src/components/RadioE/partials/StyledCheckmark.tsx
  packages/react-component-library/src/components/RadioE/partials/StyledDescription.tsx
  packages/react-component-library/src/components/RadioE/partials/StyledLabel.tsx
  packages/react-component-library/src/components/RadioE/partials/StyledOuterWrapper.tsx
  packages/react-component-library/src/components/RadioE/partials/StyledRadio.tsx
Labels: Type: Enhancement, Package: react-component-library, Type: Development

#3108 ci(GHA): Merge feature and master build and test workflows
  .github/workflows/build_and_test.yml
  .github/workflows/build_and_test_master.yml
  .github/workflows/check_commits.yml
Labels: Type: Devops

#3098 feat(TabSet): Improve scrolling behaviour
  packages/cra-template-defencedigital/template.json
  packages/cra-template-defencedigital/template/src/setupTests.ts
  packages/react-component-library/.storybook/preview.js
  packages/react-component-library/cypress/selectors/TabSet.ts
  packages/react-component-library/cypress/selectors/index.ts
  packages/react-component-library/cypress/specs/TabSet/index.spec.ts
  packages/react-component-library/jest/setupTests.js
  packages/react-component-library/package.json
  packages/react-component-library/src/components/TabSet/TabSet.stories.tsx
  packages/react-component-library/src/components/TabSet/TabSet.test.tsx
  packages/react-component-library/src/components/TabSet/useScrollableTabSet.ts
  yarn.lock
Labels: Type: Bug, Package: react-component-library, Type: Development

#3106 feat(ReactComponentLibrary): Turn on strict null checks
  packages/react-component-library/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/react-component-library/src/components/Drawer/Drawer.test.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.test.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.tsx
  packages/react-component-library/src/components/Dropdown/DropdownLabel.tsx
  packages/react-component-library/src/components/Field/Field.tsx
  packages/react-component-library/src/components/Modal/Modal.test.tsx
  packages/react-component-library/src/components/Popover/Popover.test.tsx
  packages/react-component-library/src/components/Radio/partials/StyledRadio.tsx
  packages/react-component-library/src/components/RangeSlider/ThresholdRail.tsx
  packages/react-component-library/src/components/Select/Select.stories.tsx
  packages/react-component-library/src/components/TextInput/partials/StyledLabel.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.tsx
  packages/react-component-library/src/helpers.ts
  packages/react-component-library/tsconfig.json
Labels: Package: react-component-library, Type: Development

#3120 test(Forms): Add e2e tests for pre-populated forms
  packages/react-component-library/cypress/specs/forms/empty.ts
  packages/react-component-library/cypress/specs/forms/prepopulated.ts
  packages/react-component-library/src/forms/constants.ts
  packages/react-component-library/src/forms/formik/formik.stories.tsx
  packages/react-component-library/src/forms/native/native.stories.tsx
  packages/react-component-library/src/forms/native/useNativeForm.ts
  packages/react-component-library/src/forms/react-hook-form/react-hook-form.stories.tsx
  packages/react-component-library/src/forms/types.ts
Labels: Package: react-component-library

#3119 feat(ContextMenu): Intelligently position context menu
  packages/react-component-library/src/components/ContextMenu/ContextMenu.test.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.tsx
  packages/react-component-library/src/components/ContextMenu/partials/StyledContextMenu.tsx
  packages/react-component-library/src/hooks/useClickMenu.ts
  packages/react-component-library/src/hooks/useFloatingElement.ts
Labels: Type: Enhancement, Package: react-component-library, Release: Next major, Type: Development

#3123 Remove `dayWidth` from `Timeline`
  packages/react-component-library/src/components/Timeline/Timeline.tsx
Labels: Type: Enhancement, Type: Techdebt, Package: compound-timeline
