Repository Royal-Navy/design-system, pull requests merged in 2022-04, with the labels that each got.

#3216 feat(CheckboxRadioBase): Convert to a controlled component
  packages/react-component-library/src/components/Checkbox/Checkbox.test.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/CheckboxRadioBase.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/CheckboxRadioBaseProps.ts
  packages/react-component-library/src/components/Radio/Radio.stories.tsx
  packages/react-component-library/src/components/Radio/Radio.test.tsx
  packages/react-component-library/src/forms/native/native.stories.tsx
  packages/react-component-library/src/forms/react-hook-form/react-hook-form.stories.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#3220 fix(Forms): Resolve broken react-hook-form prepopulated usage
  packages/react-component-library/src/forms/react-hook-form/react-hook-form.stories.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#3228 ci(GHA): Improve handling of PRs from forks
  .github/workflows/automerge.yml
  .github/workflows/branch_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/codeql.yml
  .github/workflows/manual_release.yml
  .github/workflows/npmsmoketest.yml
  .github/workflows/post_build_and_test.yml
  .github/workflows/project_issues.yml
  .github/workflows/project_notify.yml
  .github/workflows/project_stale_issues.yml
  .github/workflows/release.yml
  scripts/github-actions/downloadStorybookArtifact.mjs
Labels: Type: Devops, Package: react-component-library

#3237 fix(Tooltip): Add missing border unit
  packages/react-component-library/src/components/Tooltip/partials/StyledContent.tsx
Labels: Type: Bug, Package: react-component-library, Type: Development

#3215 Update axe to version 4 and improve Checkbox and Radio accessibility
  package.json
  packages/react-component-library/src/components/Checkbox/Checkbox.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckbox.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckmark.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckmarkWrapper.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/CheckboxRadioBase.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/CheckboxRadioBaseProps.ts
  packages/react-component-library/src/components/CheckboxRadioBase/partials/StyledInput.tsx
  packages/react-component-library/src/components/Radio/Radio.tsx
  packages/react-component-library/src/components/Radio/partials/StyledCheckmark.tsx
  packages/react-component-library/src/components/Radio/partials/StyledCheckmarkWrapper.tsx
  packages/react-component-library/src/components/Radio/partials/StyledRadio.tsx
  yarn.lock
Labels: Type: Bug, Package: react-component-library, Type: Accessibility, Type: Development

#3247 fix(CRATemplate): Resolve React 18 dependency clash
  packages/cra-template-defencedigital/template.json
Labels: Type: Bug, Type: Security, Type: Development

#3230 Add toggle button focus to `Autocomplete`
  packages/react-component-library/cypress/selectors/Select.ts
  packages/react-component-library/cypress/specs/Autocomplete/index.spec.ts
  packages/react-component-library/cypress/specs/Select/index.spec.ts
  packages/react-component-library/src/components/Autocomplete/Autocomplete.test.tsx
  packages/react-component-library/src/components/Autocomplete/Autocomplete.tsx
  packages/react-component-library/src/components/Autocomplete/hooks/useHighlightedIndex.ts
  packages/react-component-library/src/components/Autocomplete/hooks/useToggleButton.ts
  packages/react-component-library/src/components/Select/Select.tsx
  packages/react-component-library/src/components/Select/hooks/useSelectMenu.ts
  packages/react-component-library/src/components/SelectBase/hooks/useMenuVisibility.ts
Labels: Type: Enhancement, Package: react-component-library

#3249 build(Webpack): Tidy up configurations and scripts
  packages/design-tokens/package.json
  packages/design-tokens/webpack/common.js
  packages/design-tokens/webpack/prod.js
  packages/icon-library/package.json
  packages/icon-library/webpack/common.js
  packages/icon-library/webpack/prod.js
  packages/react-component-library/package.json
  packages/react-component-library/webpack/analyze.js
  packages/react-component-library/webpack/common.js
  packages/react-component-library/webpack/dev.js
  packages/react-component-library/webpack/prod.js
  yarn.lock
Labels: Type: Techdebt, Package: react-component-library, Type: Development
