Repository Royal-Navy/design-system, pull requests merged in 2024-05, with the labels that each got.

#3772 fix(ProgressIndicator): Avoid downstream runtime warning from Next.js
  package.json
  packages/icon-library/package.json
  packages/icon-library/src/assets/icons/standards/loader.svg
  yarn.lock
Labels: Type: Bug, Package: react-component-library, Package: icon-library

#3773 fix(Checkbox): Adjust styling for no label variant
  packages/react-component-library/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-component-library/src/components/Checkbox/Checkbox.tsx
  packages/react-component-library/src/components/Checkbox/IndeterminateCheckbox.tsx
  packages/react-component-library/src/components/Checkbox/index.ts
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckbox.tsx
  packages/react-component-library/src/components/Checkbox/partials/StyledCheckmarkWrapper.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/CheckboxRadioBase.tsx
  packages/react-component-library/src/components/CheckboxRadioBase/CheckboxRadioBaseProps.ts
  packages/react-component-library/src/components/CheckboxRadioBase/partials/StyledLabel.tsx
  packages/react-component-library/src/components/DataGrid/DataGrid.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledCell.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledCol.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledTable.tsx
Labels: Type: Bug, Package: react-component-library

#3764 chore(Masthead): Make masthead nav handle smaller viewports
  packages/react-component-library/src/components/TabNav/partials/StyledTabNavTab.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledInlineNav.tsx
  yarn-audit-known-issues
Labels: Type: Enhancement, Package: react-component-library

#3785 fix(Modal): Apply focus trap and expose imperative handle
  packages/react-component-library/.storybook/hooks/useIsInDocs.test.ts
  packages/react-component-library/.storybook/hooks/useIsInDocs.ts
  packages/react-component-library/package.json
  packages/react-component-library/src/a11y/storyAccessibilityConfig.ts
  packages/react-component-library/src/components/Button/Button.tsx
  packages/react-component-library/src/components/Dialog/Dialog.stories.tsx
  packages/react-component-library/src/components/Dialog/Dialog.test.tsx
  packages/react-component-library/src/components/Dialog/Dialog.tsx
  packages/react-component-library/src/components/Drawer/partials/StyledDrawerButton.tsx
  packages/react-component-library/src/components/Modal/Header.tsx
  packages/react-component-library/src/components/Modal/ImperativeHandle.test.tsx
  packages/react-component-library/src/components/Modal/Modal.stories.tsx
  packages/react-component-library/src/components/Modal/Modal.test.tsx
  packages/react-component-library/src/components/Modal/Modal.tsx
  packages/react-component-library/src/components/Modal/partials/StyledCloseButton.tsx
  packages/react-component-library/src/components/Modal/partials/StyledModal.tsx
  yarn.lock
Labels: Type: Bug, Package: react-component-library

#3786 feat(ButtonGroup): Mark as deprecated
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/react-component-library/src/components/ButtonGroup/ButtonGroup.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.stories.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.tsx
Labels: Type: Enhancement, Package: react-component-library

#3755 feat(ClassificationBar): Added new files for component
  packages/react-component-library/src/a11y/storyAccessibilityConfig.ts
  packages/react-component-library/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/react-component-library/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-component-library/src/components/ClassificationBar/ClassificationBar.stories.tsx
  packages/react-component-library/src/components/ClassificationBar/ClassificationBar.test.tsx
  packages/react-component-library/src/components/ClassificationBar/ClassificationBar.tsx
  packages/react-component-library/src/components/ClassificationBar/index.ts
  packages/react-component-library/src/components/ClassificationBar/partials/StyledClassificationBar.tsx
  packages/react-component-library/src/components/ContextMenu/ContextMenu.stories.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/Dropdown/Dropdown.stories.tsx
  packages/react-component-library/src/components/NumberInput/NumberInput.stories.tsx
  packages/react-component-library/src/components/PhaseBanner/PhaseBanner.stories.tsx
  packages/react-component-library/src/components/Radio/Radio.stories.tsx
  packages/react-component-library/src/components/RangeSlider/RangeSlider.stories.tsx
  packages/react-component-library/src/components/Select/Select.stories.tsx
  packages/react-component-library/src/components/Switch/Switch.stories.tsx
  packages/react-component-library/src/components/Table/Table.stories.tsx
  packages/react-component-library/src/components/TextArea/TextArea.stories.tsx
  packages/react-component-library/src/components/TextInput/TextInput.stories.tsx
  packages/react-component-library/src/components/Timeline/Timeline.stories.tsx
  packages/react-component-library/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/Sidebar.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/Sidebar.tsx
  packages/react-component-library/src/index.ts
Labels: Type: Enhancement, Package: react-component-library

#3775 build(Dependencies): Migrate from yarn to pnpm
  .github/actions/prepare-environment/action.yml
  .github/workflows/branch_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/codeql.yml
  .github/workflows/npmsmoketest.yml
  .github/workflows/post_build_and_test.yml
  .github/workflows/release.yml
  .gitignore
  .husky/pre-commit
  .nvmrc
  README.md
  lerna.json
  package.json
  packages/design-tokens/README.md
  packages/design-tokens/package.json
  packages/eslint-config-react/README.md
  packages/fonts/README.md
  packages/icon-library/README.md
  packages/icon-library/package.json
  packages/react-component-library/README.md
  packages/react-component-library/package.json
  packages/react-component-library/playwright.config.ts
  packages/react-component-library/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-component-library/src/components/DataGrid/DataGrid.d.ts
  packages/react-component-library/src/components/DataGrid/DataGrid.tsx
  packages/react-component-library/src/components/DataGrid/tanstack-table-augmentation.d.ts
  packages/react-component-library/tsconfig.json
  pnpm-audit-known-issues
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/audit/audit.sh
  yarn-audit-known-issues
  yarn.lock
Labels: Type: Devops

#3798 build(Pnpm): Release workflow changes
  .github/workflows/release.yml
  package.json
  packages/design-tokens/package.json
  packages/icon-library/package.json
  packages/react-component-library/package.json
Labels: Type: Devops

#3799 fix(Lerna): Resolve Pnpm and Lerna version issue
  .npmrc
  package.json
  pnpm-lock.yaml
Labels: Type: Devops

#3801 feat(DataGrid): Update styling to latest
  packages/react-component-library/src/components/DataGrid/DataGrid.stories.tsx
  packages/react-component-library/src/components/DataGrid/DataGrid.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledCaption.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledCell.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledCol.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledHead.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledRow.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledTable.tsx
  packages/react-component-library/src/components/DataGrid/partials/index.ts
Labels: Type: Enhancement, Package: react-component-library, Workstream: ADMS

#3807 feat(DataGrid): Add column grouping
  packages/react-component-library/src/a11y/storyAccessibilityConfig.ts
  packages/react-component-library/src/components/DataGrid/DataGrid.stories.tsx
  packages/react-component-library/src/components/DataGrid/DataGrid.test.tsx
  packages/react-component-library/src/components/DataGrid/DataGrid.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledCol.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledRow.tsx
Labels: Type: Enhancement, Package: react-component-library, Workstream: Kraken

#3819 docs(Storybook): Set default theme
  packages/react-component-library/.storybook/manager.js
  packages/react-component-library/package.json
  pnpm-lock.yaml
Labels: Type: Devops, Package: react-component-library
