Repository Royal-Navy/design-system, pull requests merged in 2024-11, with the labels that each got.

#3950 chore(React): Use consistent version
  packages/design-tokens/package.json
  packages/icon-library/package.json
  packages/react-component-library/package.json
  pnpm-lock.yaml
Labels: Package: react-component-library, Package: icon-library, Package: design-tokens, Type: Dependencies

#3952 fix(Exports): Set exports property in package.json for ESM packages
  packages/icon-library/package.json
  packages/react-component-library/package.json
Labels: Package: react-component-library, Package: icon-library

#3955 feat(DatePicker): Upgrade react-day-picker to v8
  packages/react-component-library/e2e/DatePicker/default.spec.ts
  packages/react-component-library/e2e/DatePicker/range.spec.ts
  packages/react-component-library/e2e/DatePicker/selectors.ts
  packages/react-component-library/package.json
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/__tests__/DatePicker.test.tsx
  packages/react-component-library/src/components/DatePicker/__tests__/DatePickerWhenDisabledDaysPropIsProvided.test.tsx
  packages/react-component-library/src/components/DatePicker/__tests__/DatePickerWhenSelectingADateRange.test.tsx
  packages/react-component-library/src/components/DatePicker/__tests__/DatePickerWhenSingleDatePickerIsRenderedAndOpened.test.tsx
  packages/react-component-library/src/components/DatePicker/__tests__/DatePickerWhenTodayPropIsSet.test.tsx
  packages/react-component-library/src/components/DatePicker/constants.ts
  packages/react-component-library/src/components/DatePicker/index.ts
  packages/react-component-library/src/components/DatePicker/partials/StyledDatePickerInput.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledDayPicker.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledFloatingBox.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledJumpToToday.tsx
  packages/react-component-library/src/components/DatePicker/types.ts
  packages/react-component-library/src/components/DatePicker/useDatePickerReducer.ts
  packages/react-component-library/src/components/DatePicker/useFocusTrapOptions.ts
  packages/react-component-library/src/components/DatePicker/useHandleDayClick.ts
  packages/react-component-library/src/components/DatePicker/useInput.ts
  packages/react-component-library/src/components/DatePicker/useRangeHoverOrFocusDate.ts
  packages/react-component-library/src/components/DatePicker/utils/index.ts
  packages/react-component-library/src/components/DatePicker/utils/isDateDisabled.test.ts
  packages/react-component-library/src/components/DatePicker/utils/isDateDisabled.ts
  packages/react-component-library/src/components/DatePicker/utils/isDateValid.ts
  pnpm-lock.yaml
Labels: Type: Enhancement, Package: react-component-library

#3956 feat(DatePicker): Enhance with Year Month selection
  packages/react-component-library/e2e/DatePicker/default.spec.ts
  packages/react-component-library/src/components/DatePicker/CalendarNavigation.tsx
  packages/react-component-library/src/components/DatePicker/CalendarTable.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/__tests__/DatePickerWhenNavigateMonthYearIsEnabled.test.tsx
  packages/react-component-library/src/components/DatePicker/constants.ts
  packages/react-component-library/src/components/DatePicker/partials/StyledCalendarNavigation.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledDayPicker.tsx
  packages/react-component-library/src/components/DatePicker/partials/StyledJumpToToday.tsx
Labels: Type: Enhancement, Package: react-component-library

#3951 Allow setting of `id` and other attributes on `TextE`
  packages/react-component-library/src/components/Text/Text.test.tsx
  packages/react-component-library/src/components/Text/Text.tsx
Labels: Type: Enhancement, Package: react-component-library

#3959 refactor(DatePicker): Break up, extract handlers, consolidate state
  packages/react-component-library/src/components/DatePicker/CalendarNavigation.tsx
  packages/react-component-library/src/components/DatePicker/DatePicker.tsx
  packages/react-component-library/src/components/DatePicker/FloatingCalendar.tsx
  packages/react-component-library/src/components/DatePicker/Input.tsx
  packages/react-component-library/src/components/DatePicker/types.ts
  packages/react-component-library/src/components/DatePicker/useDatePickerContext.tsx
  packages/react-component-library/src/components/DatePicker/useProcessDayClick.ts
Labels: Type: Enhancement, Package: react-component-library

#3962 fix(DismissibleBanner): Adjust Checkbox alignment
  packages/react-component-library/src/components/DismissibleBanner/partials/StyledFooter.tsx
Labels: Type: Bug, Package: react-component-library

#3964 fix(DatePicker): Fix compatibility with strict mode
  packages/react-component-library/package.json
  packages/react-component-library/src/components/DatePicker/Input.tsx
  packages/react-component-library/src/components/DatePicker/types.ts
  packages/react-component-library/src/components/DatePicker/useDatePickerContext.tsx
  packages/react-component-library/src/components/DatePicker/useFocusTrapOptions.ts
  pnpm-lock.yaml
Labels: Type: Bug, Package: react-component-library

#3968 chore(Docs): Update coverage badge
  README.md
Labels: Docs: Readme
