Repository Royal-Navy/design-system, pull requests merged in 2024-09, with the labels that each got.

#3866 feat(DataGrid): Implement full span columns
  packages/react-component-library/src/components/DataGrid/DataGrid.d.ts
  packages/react-component-library/src/components/DataGrid/DataGrid.stories.tsx
  packages/react-component-library/src/components/DataGrid/DataGrid.test.tsx
  packages/react-component-library/src/components/DataGrid/DataGrid.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledCell.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledRow.tsx
Labels: Type: Enhancement, Package: react-component-library

#3867 chore(TextE): Export TextE component
  packages/react-component-library/src/index.ts
Labels: Type: Bug

#3868 feat(DataGrid): Add basic column filtering
  packages/react-component-library/src/components/DataGrid/Body.tsx
  packages/react-component-library/src/components/DataGrid/DataGrid.d.ts
  packages/react-component-library/src/components/DataGrid/DataGrid.stories.tsx
  packages/react-component-library/src/components/DataGrid/DataGrid.test.tsx
  packages/react-component-library/src/components/DataGrid/DataGrid.tsx
  packages/react-component-library/src/components/DataGrid/FilterPopover.tsx
  packages/react-component-library/src/components/DataGrid/Header.tsx
  packages/react-component-library/src/components/DataGrid/Pagination.tsx
  packages/react-component-library/src/components/DataGrid/Table.tsx
  packages/react-component-library/src/components/DataGrid/getColumns.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledCol.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledColButton.tsx
  packages/react-component-library/src/components/DataGrid/partials/StyledFilterInput.tsx
  packages/react-component-library/src/components/DataGrid/partials/index.ts
  packages/react-component-library/src/components/DataGrid/useDataGridState.ts
Labels: Type: Enhancement, Package: react-component-library

#3870 fix(DataGrid): Handle multiple fullSpanColumn cols
  packages/react-component-library/src/components/DataGrid/Body.tsx
  packages/react-component-library/src/components/DataGrid/DataGrid.stories.tsx
  packages/react-component-library/src/components/DataGrid/DataGrid.test.tsx
Labels: Type: Bug, Package: react-component-library

#3872 feat(Alert): Add ability to hide Dismiss button
  packages/react-component-library/src/components/Alert/Alert.stories.tsx
  packages/react-component-library/src/components/Alert/Alert.test.tsx
  packages/react-component-library/src/components/Alert/Alert.tsx
  packages/react-component-library/src/components/Alert/partials/StyledAlert.tsx
Labels: Type: Enhancement, Package: react-component-library

#3877 fix(Alert): Prevent constained text with hideDismiss
  packages/react-component-library/src/components/Alert/Alert.tsx
  packages/react-component-library/src/components/Alert/partials/StyledAlert.tsx
  packages/react-component-library/src/components/Alert/partials/StyledCloseButton.tsx
  packages/react-component-library/src/components/Alert/partials/StyledContent.tsx
  packages/react-component-library/src/components/Alert/partials/StyledFooter.tsx
  packages/react-component-library/src/components/Alert/partials/StyledIcon.tsx
Labels: Type: Bug, Package: react-component-library

#3880 fix(Group): Adjust align prop default value
  packages/react-component-library/src/components/Group/Group.test.tsx
  packages/react-component-library/src/components/Group/Group.tsx
Labels: Type: Bug, Package: react-component-library

#3884 chore(Security): Update dependabot.yml
  .github/dependabot.yml
Labels: Type: Devops

#3895 chore(Security): Update Playwright related deps
  packages/react-component-library/package.json
  pnpm-lock.yaml
Labels: Type: Devops

#3892 feat(Dialog): Handle async action by disabling buttons and showing spinner
  packages/react-component-library/src/components/Button/Button.tsx
  packages/react-component-library/src/components/Dialog/Dialog.stories.tsx
  packages/react-component-library/src/components/Dialog/Dialog.test.tsx
  packages/react-component-library/src/components/Dialog/Dialog.tsx
  packages/react-component-library/src/components/TextInput/Input.tsx
  packages/react-component-library/src/components/TextInput/TextInput.test.tsx
  packages/react-component-library/src/components/TextInput/TextInput.tsx
Labels: Type: Enhancement, Package: react-component-library
