Repository Royal-Navy/design-system, pull requests merged in 2024-10, with the labels that each got.

#3903 feat(Toast): Add ability to update all props when calling `showToast`
  packages/react-component-library/src/components/Toast/Toast.stories.tsx
  packages/react-component-library/src/components/Toast/Toast.test.tsx
  packages/react-component-library/src/components/Toast/Toast.tsx
Labels: Type: Enhancement, Package: react-component-library

#3904 fix(Toast): Add JSX type
  packages/react-component-library/src/components/Toast/Toast.test.tsx
  packages/react-component-library/src/components/Toast/Toast.tsx
Labels: Package: react-component-library

#3906 fix(Toast): Use unique IDs when multiple toasts shown
  packages/react-component-library/src/components/Toast/Toast.test.tsx
  packages/react-component-library/src/components/Toast/Toast.tsx
Labels: Type: Bug, Package: react-component-library

#3917 build(GHA): Fix move labelled issues workflow
  .github/workflows/project_issues.yml
  .github/workflows/project_notify.yml
  .github/workflows/project_stale_issues.yml
  scripts/github-actions/moveIssues.mjs
Labels: Type: Devops

#3940 build(GHA): Fix typo in secret name
  .github/workflows/project_issues.yml
Labels: Type: Devops

#3941 build(GHA): Use published move issues action for workflow
  .github/workflows/project_issues.yml
Labels: Type: Devops

#3946 fix(Select): Ensure Select menu listbox toggles correctly
  packages/react-component-library/src/components/Select/Select.test.tsx
  packages/react-component-library/src/components/Select/Select.tsx
Labels: Type: Bug, Package: react-component-library

#3945 fix(TabNav): Make full TabNav tab clickable
  packages/react-component-library/e2e/Masthead/default.spec.ts
  packages/react-component-library/e2e/Masthead/selectors.ts
  packages/react-component-library/e2e/TabNav/selectors.ts
  packages/react-component-library/src/common/Link.ts
  packages/react-component-library/src/common/Nav.ts
  packages/react-component-library/src/components/Breadcrumbs/BreadcrumbsItem.tsx
  packages/react-component-library/src/components/Link/Link.tsx
  packages/react-component-library/src/components/TabBase/partials/StyledTabItem.tsx
  packages/react-component-library/src/components/TabNav/TabNav.test.tsx
  packages/react-component-library/src/components/TabNav/TabNavItem.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/MastheadUser.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/Notification.tsx
  packages/react-component-library/src/components/TopLevelNavigation/NotificationPanel/Notifications.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Sidebar/SidebarUser.tsx
Labels: Type: Bug, Package: react-component-library, Type: Accessibility

#3944 fix(Masthead): Correctly support form as a link
  packages/react-component-library/src/common/Link.ts
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.stories.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/Masthead.test.tsx
  packages/react-component-library/src/components/TopLevelNavigation/Masthead/partials/StyledUserItemWrapper.tsx
Labels: Type: Bug, Package: react-component-library
